.change-password-section {
    background-color: $c4;
}
.change-password-form-container {
    background-color: $c5;
   
}

@media (min-width: 0) and (max-width: 479px) {
    .change-password-section {
        padding: $spacing-xlarge $spacing-xlarge;
    }
    .change-password-form-container {
        padding: $spacing-xlarge;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .change-password-section{
        padding: $spacing-xlarge $spacing-xlarge;
    }
    .change-password-form-container {
        padding: $spacing-xlarge*2;
    }
}


@media (min-width: 768px) {
    .change-password-section {
        padding: $spacing-xlarge*2 0;
    }
    .change-password-form-container {
        padding: $spacing-xlarge*2;
        width: 70%;
        margin: 0 auto;
    }
}
@media (min-width: 992px) {
    
    .change-password-form-container {
        
        width: 60%;
        
    }
}
@media (min-width: 1200px) {
    
    .change-password-form-container {
       
        width: 50%;
        
    }
}
@media (min-width: 1500px) {
    
    .change-password-form-container {
        
        width: 40%;
        
    }
}