

.alert-danger {
    // color: $c1;
    // background-color: transparent;
    // border: none;
}
.contact-us-info-container {
    margin-left: $spacing-small !important;
    li:after {
        content: "";
        width: 0px !important;
    }
    .footer-mail a {
        border-bottom: 0px !important;
    }
}

.contactus-body-page section.content {
    
}
.contactus-body-page  #content .content:nth-child(3) {
    background-color:  $c4;
    .container {
        width: 90%;
        padding: $spacing-large $spacing-normal;
    }
    .row {
        @include flexbox();
        @include flex-wrap(wrap);
        
        .general-pod {
            border: none;
            .inner {
                background-color: $c5;
                padding: $spacing-xlarge;
                
            }
        }
    }
    .code-pod {
        background-color: $c5;
        padding: $spacing-xlarge;
        iframe {
            width: 100%;
        }
    }
    .pull-right {
        padding-bottom: 0;
        order: 2;
        .has-borders  {
            border: none;
            padding: $spacing-xlarge;
        }
    }
    .pull-left {
        .swp {
            margin-bottom: 0;
        }
    }
}
.contact-form-section {
    margin-bottom: 0;
}
@media (min-width:768px) {
    .contactus-body-page  #content .content:nth-child(3) {
        .container {
            width: 90%;
            padding: $spacing-large $spacing-normal;
        }
        .row {
            
            .general-pod {
                border: none;
                .inner {
                    background-color: $c5;
                    padding: $spacing-xlarge;
                    
                }
            }
        }
        .code-pod {
            padding: $spacing-xlarge;
        }
        .pull-right {
            padding-bottom: 0;
            
        }
        .pull-left {
            .swp {
                margin-bottom: $spacing-xlarge;
            }
        }
    }

}
@media (min-width:992px) {
    .contactus-body-page  #content .content:nth-child(3) {
        .container {
            width: 90%;
            padding: $spacing-large $spacing-normal;
        }
        .row {
            
            .general-pod {
                border: none;
                .inner {
                    background-color: $c5;
                    padding: $spacing-xlarge;
                    
                }
            }
        }
        .code-pod {
            padding: $spacing-xlarge;
           
        }
        .pull-right {
            padding-bottom: 0;
            width: 50%;
            
            
        }
        .pull-left {
            width: 50%;
            .swp {
                margin-bottom: 0;
            }
        }
    }
    .contact-form-section {
        background-color: $c5;
    }
}
@media (min-width:1200px) {
    .contactus-body-page  #content .content:nth-child(3) {
        
        .row {
            .general-pod {
                .inner {
                    padding: $spacing-large*2;
                }
            }
        }
        .code-pod {
            padding: $spacing-large*2;
        }
        .pull-right {
            .has-borders  {
                padding: $spacing-large*2;
            }
        }
        .pull-left {
            .swp {
                margin-bottom: 0;
            }
        }
    }
    
}

