.download-shortlist-section {
    background-color: $c4;
    padding: $spacing-xlarge;
}
.download-shortlist-container {
    background-color: $c5;
    padding: $spacing-xlarge;
    text-align: center;
    
}
.download-icon {
    margin-left: $spacing-small;
    @include font-icon($icon:download) {
        vertical-align: sub;
    }
}
@media (min-width:768px) {
    .download-shortlist-section {
        padding: $spacing-xlarge;
    }
    .download-shortlist-container {
        min-width: 500px;
        margin: $spacing-xlarge auto;
        max-width: 700px;
    }
}
@media (min-width:992px) {
    
    .download-shortlist-container {
        width: 800px;
        max-width: 800px;
    }
}
@media (min-width:1200px) {
    
    .download-shortlist-container {
        width: 800px;
    }
}