//Custom Footer Code

html.no-touch .footer-nav a:hover {
    color: $c4;
    text-decoration: underline !important;
}
.footer-mail a {
    color: $c3 !important;
}
.quick-links a {
    color: $c3 !important;
}
.madeby-container {
    background-color: $c3;
    color: $c5;
}
.heart-icon{
    @include font-icon(valentines-heart) {
        vertical-align: text-top;
        margin: 0 $spacing-small;
    }
}
nav.footer ul  {
    font-size: $font-size-small;
}

.footer {
    .row {
        //@include flexbox()
    }
    
    .made-by-link {
        height: 100%;
        span {
            font-size: $font-size-small +1;
            @include flexbox();
            height: 100%;
            @include justify-content(center);
            @include align-items(center);
            
        }
    }


}
.casasoft-footer-logo {
    height: 35px;
    width: 100px;
    position: relative;
    top: 3px;
    left: 5px;
}

@media (min-width:992px) and (max-width:1199px) {
    .footer {
        .made-by-link {
            height: 100%;
            span {
                font-size: $font-size-small - 1;
                @include justify-content(flex-end);
            }
        }
    }
    
    nav.footer .footer-nav  li a,
    nav.footer .footer-nav  li div {
        font-size: $font-size-small - 1;
    }
}
@media(min-width:992px) {
    nav.footer .footer-nav  li a {
        &:after {
            content:"";
            width: 1px;
            height: 20px;
            background-color: $c5;
            display: block;
            position: absolute;
            top: 0;
           
        }
    }
}

.footer-nav {
    .copyright {
        margin-right: $spacing-small;
    }
    li a{
        position: relative;
        margin-right: $spacing-small;
        padding-left: $spacing-small !important;
        font-size: $font-size-small;
        
    }   
}

@media (max-width:991px) {
    nav.footer ul {
        padding-bottom: 0;
        li {
            display: block;
            width: 100%;
            padding: $spacing-xs 0;
            text-align: center;
            margin: $spacing-small 0;
            font-size: $font-size-small;
            
        }
    }
    .madeby-container {
        padding-bottom: $spacing-xlarge;
        span {
            margin: $spacing-small 0;
        }
    }
    
}
@media(min-width: 992px) {
    .footer .row {
        @include flexbox()
    }
}

//pull the logo up a bit
footer {
    .payment-method-container > .title-img-container {
        margin-top: -5px;
    }
}