.forgot-password-form-section {
    background-color: $c4;
}

    
.forgot-password-form {
    background-color: $c5;
}

.label-required {
    font-size: $font-size-small;
    padding-left: $spacing-small;
    &:after {
        content:"*";
        color: $c1;
    }
}
.form-control {
    font-weight: bold;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid $c2;
    &:focus {
        box-shadow: none;
    }
}
@media (min-width:0) and (max-width:767px) {
    .forgot-password-form-container {
        width: 90%;
        margin: 0 auto;
        padding: $spacing-xlarge*1.5 0;
    }
    .forgot-password-form {
        padding: $spacing-xlarge*1.5;
    }
}

@media (min-width:768px) {
    .forgot-password-form-container {
        width: 75%;
        margin: 0 auto;
        padding: $spacing-xlarge*3 0;
    }
    .forgot-password-form {
        padding: $spacing-xlarge*1.5;
    }
}

@media (min-width:992px) {
    .forgot-password-form-container {
        width: 65%;
        margin: 0 auto;
        padding: $spacing-xlarge*3 0;
    }
    .forgot-password-form {
        padding: $spacing-xlarge*1.5;
    }
}

@media (min-width:1200px) {
    .forgot-password-form-container {
        width: 45%;
        margin: 0 auto;
        padding: $spacing-xlarge*3 0;
    }
    .forgot-password-form {
        padding: $spacing-xlarge*1.5;
    }
}