//Custom Header Code
// header {
//     background: pink;
// }


header #logo {
    height: 80px !important;
    a {
        height: 80px !important;
    }
}

 header nav.social {
    margin-bottom: 0;
    display: none;
        
        a{
            border-radius: 50%;
            filter: grayscale(100%);
            margin: 0  $spacing-xs ;
            &:hover {
                filter: grayscale(0%);
                background-color: transparent;
            }
            
        }
    
    nav.social ul li a::after {
        background-color: transparent;
    }
}
.user-account {
    color: $c1 !important;
    border: 1px solid $c1;
    border-radius: 4px;
}
.navigation nav.main > ul > li {
    margin: 0 $spacing-normal;
    .ion-chevron-down.after {
        float: right;
    }
    span.fa-search {
        display: inline-block;
    }
    span.search-text {
        display: inline-block;
        margin-right: $spacing-xs;
    
        @include breakpoint(lg) {
        display: none;
            
        }
    }
    span.active {
        
    }

}

.navigation nav.main > ul > li.open {
    border-radius: 4px;
    //border: 1px solid $c1;
   
    > a {
        border-radius: 4px;
        border: 1px solid $c1;
        color: $c5 !important;
       background-color:  $c1;
    }
}
li.dropdown {
    //min-width: 330px;
}
li.dropdown:hover {
    // border: 1px solid $c1;
    border-radius: 4px; 
     > a {
        color: $c5 !important;
    //     background-color:  $c1;
    }
}
html.no-touch .navigation nav.main > ul > li:hover {
    // border: 1px solid $c1;
    // border-radius: 4px; 
    
    // a {
    //     color: $c5 !important;
    //     background-color:  $c1;
    // }
    // .dropdown-menu li a{
    //     color: $c3 !important;
    //     background-color: $c5;
    // }
}

.navigation nav.main > ul > li:focus-within {
    background-color: $c5;
}
li.dropdown ul.dropdown-menu {
    width: 100%;
    
}
li.dropdown.open a.dropdown-toggle {
    color: $c5 !important;
    i.fa {
        color: $c5 !important;
    }
}






@media (min-width:0px) and (max-width:479px) {
    header #logo {
       transform: scale(0.7);
    }
    header nav.social {
        margin: $spacing-normal $spacing-normal  0 $spacing-normal ;
        //@include flexbox();
        @include justify-content(center);
     }
}
@media (min-width:480px) and (max-width:1199px) {
    header nav.social {
        margin: $spacing-normal $spacing-normal  0 $spacing-large +5;
     }
}
@media (min-width:992px) {
    header {
        .container {
            width: 100%;
            
        }
    }
     
}
@media (max-width: 1199px){
    header nav.social {
        margin-top: $spacing-normal;
    }
}


@media (min-width:1200px) {

    header {
        .container {
            width: 100%;
            padding: $spacing-normal $spacing-xlarge $spacing-normal $spacing-xlarge;
        }
    }
    header #logo {
        height: 135px !important;
        a {
            height: 135px !important;
        }
    }
    header nav.social  {
        transform: scale(1);
        right: 40px;
        position: absolute;
        top: 10px;
    }
    .navigation nav.main > ul > li.Submit {
        .active a:hover {
            &:before {
                display: none;
            }
        }
        a{
            color: $c1;
            position: relative;
            &:before {
                content:"";
                width: 125px;
                height: 1px;
                background-color: $c1;
                position: absolute;
                top: 50px;
                left: auto;
                right: auto;
                transition: all 0.2s ease;

            }
        }
        &:hover {
            // @include transition(all 0.2 ease);
            a{
                color: $c5 !important;
                &:before {
                    background-color: $c5;
                    // @include transition(all 0.4s ease);
                }
            }
        }
        
        
    }

}

@media (min-width:1400px) {

    header {
        .container {
            width: 100%;
            padding: $spacing-normal $spacing-xlarge*4 $spacing-normal $spacing-xlarge*3.5;
        }
    }
    header #logo {
        height: 135px !important;
        a {
            height: 135px !important;
        }
    }
    header nav.social  {
        transform: scale(1);
        right: 0px;
        position: absolute;
        
    }
}
