
.container-fluid-padding {
    .showing-result {
        margin-left: $spacing-small;
        font-weight: bold;
    }
}

//setting the masonry grid
.grid-sizer,
.masonry-grid-item {
  width: 100%;

    @include breakpoint(sm) {
      width: 50%;
    }
    @include breakpoint(md) {
        width: 33.333%;
    }
      @include breakpoint(lg) {
        width: 25%;
    }
}
.photo-card-container {
    padding: $spacing-small;
}
.featured-image-container {
    position: relative;
    min-height: 150px;
}


.photo-card-container {

        &:hover {
            .photo-full-information {
                opacity: 1;
                background: rgba(0,0,0,0.7);
                cursor: pointer;
            }
            .photo-name-container{
                opacity: 0;
            }
        }

 }

.masonry-grid-item img {
    display: block;
    max-width: 100%;

  }

#photo-full-page-iframe {
    width: 100%;
    min-height: 80vh;
    //necessary for loader
    z-index: 2;
    position: relative;
    // transition: 1s;

}

//status and shortlist box under photos
.info-container {
    padding: $spacing-small;
    background: $lightGray-color;
    color: $base-text;
    font-weight: bold;
}


//modal 

.modal-dialog {
    width: 85% !important;
    @include breakpoint(sm) {
        width: 80% !important;
    }
}


.modal-content {
    button.close {
        position: absolute;
        color: white;
        right: $spacing-xlarge;
        top: 0;
        opacity: 1;
        transform: translateX(150%);
        font-size: 50px;
        &:focus {
            outline: none;
        }
    }
}
#imageFullPage {
    .modal-content button.close {
         right: 0;
                
    }
}

.checkboxes-container {
    display: inline-block;
    label {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 10px;
    }
}
.shortlist-photos-button-container {
    margin-bottom: $spacing-xxlarge;
}