.login-page-section {
    background-color: $c4!important;
     .container {
         margin: 0;
         width: 100% !important;
     }
     
     .login-register-panels.row {
         margin-top: $spacing-xlarge;
     }
     .register-panel-section,
     .login-panel-section {
         padding: 0;
     }
     
     .register-panel {
        background-color: $c5;
        margin-bottom: $spacing-xlarge;
        width: 94.5%;
     }
     .login-panel {
        background-color: $c5 ;
       
        margin-bottom: $spacing-xlarge;
        width: 94.5%;
     }
     
     .btn-container {
         margin:  $spacing-large 0 $spacing-normal 0;
         @include button-layout();
     }
     .register-text {
         font-weight: normal;
     }
     .body-text-container {
        background-color: $c5 ;
        margin: $spacing-large auto 0 auto;
        padding-top: $spacing-xlarge;
    }

     .forgot-password {
         a {
            color: $c1;
             border-bottom: 1px solid $c1;
            html.no-touch & {
                &:hover {
                    text-decoration: none;
                }
            }
         }
     }
     .form-control {
         border: 0;
         border-bottom: 1px solid $c2;
         box-shadow: none;
         font-weight: bold;
     }
     .loginbtn-container {
         margin-bottom: 0;
     }
     .forgot-password {
         text-align: right;
     }
}

@media (min-width: 0) and (max-width: 767.98px) {
    .register-panel {
        padding: $spacing-large;
        margin: 0 auto;
     }
     .login-panel {
        padding: $spacing-large;
        margin:0 auto;
     }
     .registerbtn-container {
        padding: $spacing-large 0;
    }
    .body-text-container { 
        width: 99%;
    }

}

@media (min-width:768px) {
    .register-panel {
        padding: $spacing-large*2;
        margin:0 auto;
     }
    .login-panel {
        padding: $spacing-large*2;
        margin: 0 auto;
    }
    .registerbtn-container {
        padding: $spacing-large 0;
    }
    .body-text-container { 
        width: 99%;
    }

}

@media (min-width:992px) {
    .login-page-container {
        width: 90%;
        margin: 0 auto;
   }
    // .register-panel {
    //     padding: $spacing-large*1.5;
    //     margin-right:  $spacing-large;
    //  }
    // .login-panel {
    //     padding: $spacing-large*1.5;
    //     margin-left:  $spacing-large;
    // }
    // .login-register-panels.row {
    //     width: 90%;
    //     margin: 0 auto;
    // }
    // .body-text-container {
    //     width: 88%;
    // }

}

@media (min-width:1200px) {
    
    // .register-panel {
    //     padding: $spacing-large*1.5;
    //     margin-right:  $spacing-large;
    //  }
    // .login-panel {
    //     padding: $spacing-large*1.5;
    //     margin-left:  $spacing-large*2.15;
    // }
    // .login-register-panels.row {
    //     width: 80%;
    //     margin: 0 auto;
    // }
    // .body-text-container {
    //     width: 80%;
    // }
    
}


//members area
.dashboard-list {
    @include flexbox;
    // @include justify-content(space-between);
    @include flex-wrap(wrap);
 }
 
 .members-area-tile {
    padding: 10px;
    width: 100% / $members-area-number-of-tiles-xs;
 
    @include breakpoint(sm) {
        width: 100% / $members-area-number-of-tiles-sm;
 
    }
    @include breakpoint(md) {
        width: 100% / $members-area-number-of-tiles-md;
    }
    @include breakpoint(lg) {
        width: 100% / $members-area-number-of-tiles-lg;
    }
 
 
 }
 .single-tile, .single-tile a {
    transition: $transition-usn;
 }
 .single-tile {
    border: $border-size-m solid;
    border-color: $base-text;
    border-radius: $border-radius-s*2;
 
    a {
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        width: 100%;
        height: 100px;
        color: $base-text;
        font-weight: bold;
        padding: $spacing-small;
    }
    .tile-caption {
        text-align: center;
        transition: $transition-usn-member-area-tile;
    }
 
    &:hover {
        background: $c1;
        border-color: $c5;
 
      .tile-caption {
          color: $c5;
      }
 
    }
 
 
 }
