//Custom Main Code
// .row {
//     margin-left: 5px;
//     margin-right: 5px;
// }
p.title {
    font-weight: bold;
}
.container-fluid-constraint {
    max-width: $container-fluid-constraint;
}
.section-title-container {
    text-align: center;
    padding: $spacing-xlarge*2 0 $spacing-large 0;
}
.section-title {
    font-weight: 900;
    
}
.homepage-body {
    .breadcrumb-trail {
        display: none;
    }
}
.section-text {
    font-weight: bold;
    font-size: $font-size-normal;
}
section.content {
    background-color: $c5;
}
.text-with-slideshow{
    background-color: $c4 !important;
}

section.banner {
    background-color: $c5;
    a {
        color: $c5 !important;
    }

}
.payment-container {
    background-color: $c5;
    height: 150px;
    
    @include flexbox();
    @include align-items(center);
    
    width: 90%;
    margin: 0 auto;
    p {
        padding: $spacing-small;
        font-weight: bold;
        width: 100%;
    }
}
@media (min-width: 768px) {
    .payment-container {
        width: 60%;
    }
}
body {
    overflow-x: hidden;
}
.title {
    text-transform: uppercase;
}
.subtitle-form {
    font-weight: bold;
}
.form-group {
    margin-bottom: 40px;
}
select.form-control {
    padding: 0;
    padding-left: $spacing-normal;
}

.required {
    color: $c1;
    font-weight: bold;
    font-size: $font-size-small;
    text-transform: capitalize;
    &:after {
        content: "*";
    }
}
.btn {
    @include button-layout();
}

//HomePage Banner Style
    .homepage-main-banner {
        padding: $spacing-xlarge $spacing-xlarge $spacing-xlarge*2 $spacing-xlarge !important;
    }
    @media (min-width:992px) {
        .homepage-main-banner {
            padding: $spacing-xlarge $spacing-xlarge*2 $spacing-xlarge*4 $spacing-xlarge*2!important;
        }
    }
    @media (min-width:1200px) {
        .homepage-main-banner {
            padding: $spacing-xlarge $spacing-xlarge*4 $spacing-xlarge*4 $spacing-xlarge*4!important;
        }
    }
//End HomePage Banner Style
// .text-with-slideshow {
//     a {
//         color: $c5;
//         &:hover {

//         }
//     }
// }

//Text with photo
    // .text-with-slideshow {
        
    //     .container{
    //         width: auto;
    //         margin: 0 5%;
    //         .text-side{
                
    //         }
    //     }
    //     .slick-list {
    //         height: auto !important;
            
    //     }
    //     .image {
    //         height: 65vh !important;
    //         img{
    //             height: 100%;
    //         }
    //     }
    //     .apc .heading.main {

    //     }
    // }

@media (min-width:0) and (max-width:767px) {
    .apc .heading.main {
        font-size: 25px;
    }
    // .text-with-slideshow {
    //     padding: 1px 0;
    //     .slides-side {
    //         padding: 0;
            
    //     }
    //     .slick-track{
    //         width: 100% !important;
    //     }
    //     .image {
    //         width: 100% !important;
    //     }
    //     .container {
    //         margin: 0;
    //         .info  {
    //             padding: $spacing-large 0;
    //         }
    //     }
    // }
}

@media (min-width:768px) {
    // .text-with-slideshow {
    //     .slides {
    //         max-width: auto !important;
    //         .slick-track,
    //         .slick-track,
    //         .image {
    //             max-width: 100% !important;
    //             width: 100% !important;
    //         }
    //     }
    // }
    
}

@media (min-width:992px) {
    .apc .heading.main {
        font-size: 30px;
    }
    
}

@media (min-width:1200px) {
    .apc .heading.main {
        font-size: 35px;
    }
}

@media (min-width:1500px) {

    .apc .heading.main {
        font-size: 35px;
    }
}
//End Text with photo

//Listing Prizes
    .prize-item-container {
        margin-bottom: $spacing-large;
    }
    .list-prizes-section{
        padding-bottom: $spacing-xlarge;
    }
    .list-prizes-container {
        padding: $spacing-large $spacing-xlarge;
        text-align: center;
        // display: flex;
        // flex-wrap: wrap;
        hr {
            width: 20%;
            // margin: $spacing-xlarge auto;
        }
    }
    .prize-title-container {
        color: $c1;
        //font-size: $font-size-xlarge;
        display: block;
        font-weight: 900;
    }
    .prize-text {
        color: $c3;
        //font-size: $font-size-large;
        font-weight: bold;
    }
    .prize-item-img{
        max-width: 720px;
        margin: 0 auto;
    }
    //equal photos not depending on ratio
    // @include breakpoint(md) {
    //     .prize-item-container {
    //         @include flexbox;
    //         @include flex-direction(column);
    //         @include justify-content(center);

    //         .prize-item-img {
    //             @include flex(0.8);
    //             @include flexbox;
    //             @include flex-direction(column);
    //             @include justify-content(center);

    //         }

    //         .prize-item-text-container {
    //             @include flex(0.2);
   
    //         }

    //     }
    // }


    @media (min-width:0) and (max-width:479px) {
        // .prize-item-img {
        //     img{
        //         height: 200px;
        //         width: 400px;
        //     }
        // }
        // .prize-item-container{
        //     margin: $spacing-xlarge 0 $spacing-xlarge 0;
        // }
        
    }
    @media (min-width:480px) and (max-width:767px) {
        // .prize-item-img {
        //     img{
        //         height: 300px;
        //         width: 400px;
        //     }
        // }
        // .prize-item-container{
        //     margin: $spacing-xlarge 0 $spacing-xlarge 0;
        // }
        
    }

    @media (min-width:768px) {
        
            // .prize-item-img {
            //     img{
            //         height: 400px;
            //         width: 400px;
            //     }
            // }
            // .prize-item-container{
            //     margin: $spacing-xlarge 0 $spacing-xlarge 0;
            // }
    }

    @media (min-width:992px) {
        // .prize-item-img {
        //     img{
        //         height: 250px;
        //     }
        // }
        .prize-item-container{
            // margin: $spacing-large 0 $spacing-xlarge 0;
           
        }
        .prize-title-container {
            color: $c1;
            //font-size: $font-size-large;
            display: block;
            font-weight: 900;
        }
        .prize-text {
            color: $c3;
            //font-size: $font-size-normal;
            font-weight: bold;
        }
    }
    @media (min-width:1200px) {
        // .prize-item-img {
        //     img{
        //         height: 350px;
        //     }
        // }
        .prize-title-container {
            color: $c1;
            //font-size: $font-size-large;
            display: block;
            font-weight: 900;
        }
        .prize-text {
            color: $c3;
            //font-size: $font-size-normal;
            font-weight: bold;
        }
    }
    @media (min-width:1500px) {
        // .prize-item-img {
        //     img{
        //         height: 400px;
        //     }
        // }
        .prize-title-container {
            color: $c1;
            font-size: $font-size-xlarge;
            display: block;
            font-weight: 900;
        }
        .prize-text {
            color: $c3;
            font-size: $font-size-large;
            font-weight: bold;
        }
    }

    @media (min-width:1700px) {
    // .prize-item-img {
    //     img{
    //         height: 400px;
    //     }
    // }
   
    }
//End Listing Prizes


//Listing Jury Style
    .list-jury-section {
        background-color: $c4;
        // padding: $spacing-large $spacing-xlarge;
    }
    .judge-card-container {
        margin: 100px 0;
        position: relative;
        
        @include breakpoint(sm) {
            @include flexbox;
        }
    }
    .list-jury-container  {
        margin: 50px 0;
        @include flexbox();
        @include flex-wrap(wrap);
    }
    .judge-image-container{
        width: 150px;
        position: absolute;
        margin-left: 50%;
        @include transform(translate(-50%, -50%));
        img {
            // position: relative;
            
            // top: -75px;
            border-radius: 50%;
            // height: 150px;
            border: $border-radius-xs solid $c3;
        }

    }
    .judge-text-container, .search-modal-text-container {
        text-align: center;
        padding: $spacing-xlarge*3 $spacing-xlarge $spacing-xlarge $spacing-xlarge;
        background-color: $c5;
        height: 100%;
        border-radius: $spacing-xs;
    }
    .search-modal-text-container {
        padding-top: $spacing-xlarge;
    }

    .judge-info-box {
        position: relative;
    }
    .judge-name{
        font-size: $font-size-large;
        font-weight: bold;
        color: $c1;
    }
    .judge-underline{
        
        border-top: 1px solid $c2; 
        height: 2px; 
        margin: $spacing-xs auto; 
        width: 100%;
    }
    .judge-position {
        color: $base-text;
        font-size: $judge-position-font-size;
        font-weight: bold;
        
    }
    .judge-description-container {
        margin-top: $spacing-normal;
        span {
            font-size: $font-size-normal;
        }
    }
    

    // @media (min-width:0) and (max-width:450px) {
    //     .judge-card-container {
    //         padding: 0 !important;
    //     }
    // }
    // @media (min-width:520px) and (max-width:600px) {
    //     .judge-card-container {
    //         padding: 0 $spacing-xlarge*2;
            
    //     }
    // }
    // @media (min-width:600px) and (max-width:767px) {
    //     .judge-card-container {
    //         padding: 0 $spacing-xlarge*4;
            
    //     }
    // }
    // @media (min-width:768px) {
    //     .judge-card-container {
           
    //         padding: 0 $spacing-xlarge;
    //     }
    // }

    
    // @media (min-width:1200px) and (max-width:1499px){
    //     .judge-card-container {
           
    //         padding: 0 $spacing-normal;
    //     }
    // }
    // @media (min-width: 1500px) {
    //     .list-jury-section {
    //         padding: $spacing-large $spacing-xlarge*1.5;
    //     }
    // }

//End Listing Jury Style


//Award Countdown
.award-countdown-section {
    height: 380px;
    overflow: hidden;
    position: relative;
    color: $c5;
    
    img {
        position: absolute;
        z-index: -1;
        filter: brightness(50%);
        
    }
    .countdown-title-container{
        text-align: center;
        .section-countdown-title {
            color: $c5;
        }

    }
    .countdown-container {
        text-align: center;
    }
    .days,
    .hours,
    .minutes {
        font-weight: 900;
    }
    
    .vertical-line  {
        background-color: $c5;
        width: 1px;
        padding: 0;
    }
}

@media (min-width:0) and (max-width:479px) {
    .award-countdown-section {
        img {
            height: 100%;
        }
    }
    .countdown-container {
        margin: $spacing-xlarge*2 auto;
        width: 80%;
    }
    .countdown-title-container{
        margin-top: $spacing-xlarge*3;
     }
     .days,
    .hours,
    .minutes {
        font-size: $font-size-large;
    }
    .countdown-text {
        font-size: $font-size-normal;
    }
    .vertical-line  {
        height: 55px;
        margin: $spacing-xs $spacing-normal;
    }
}
@media (min-width: 480px) and (max-width:767px) {
    
    .countdown-title-container{
        margin-top: $spacing-xlarge*3;
     }
     .days,
    .hours,
    .minutes {
        font-size: $font-size-xlarge;
    }
    .countdown-text {
        font-size: $font-size-large;
    }
    .vertical-line  {
        height: 65px;
        margin: $spacing-xs*2 $spacing-large;
    }
}
@media (min-width: 480px) and (max-width:668px) {
    .award-countdown-section {
        img {
            height: 100%;
        }
    }
    .countdown-container {
        margin: $spacing-xlarge*2 auto;
        width: 71%;
    }
}
@media (min-width: 635px) and (max-width:767px) {
    .countdown-container {
        margin: $spacing-xlarge*2 auto;
        width: 60%;
    }
}
@media (min-width:768px) {
    .award-countdown-section {
        img {
            top: -125px;  
        }
    }
    .countdown-container {
        margin: $spacing-xlarge*2 auto;
        width: 50%;
    }
    .countdown-title-container{
        margin-top: $spacing-xlarge*3;
     }
     .days,
    .hours,
    .minutes {
        font-size: $font-size-xlarge*1.5;
    }
    .countdown-text {
        font-size: $font-size-large;
    }
    .vertical-line  {
        height: 80px;
        margin: $spacing-xs*2 $spacing-large;
    }
}

@media (min-width:992px) {
    .award-countdown-section {
        img {
            top: -225px;  
        }
    }
    .countdown-container {
        margin: $spacing-xlarge*2 auto;
        width: 35%;
    }
    .countdown-title-container{
        margin-top: $spacing-xlarge*3;
     }
     .days,
    .hours,
    .minutes {
        font-size: $font-size-xlarge*1.5;
    }
    .countdown-text {
        font-size: $font-size-large;
    }
    .vertical-line  {
        height: 80px;
        margin: $spacing-xs*2 $spacing-large;
    }
}

@media (min-width:1200px) {
    .award-countdown-section {
        img {
            top: -425px;  
        }
    }
    .countdown-container {
        margin: $spacing-xlarge*2 auto;
        width: 29%;
    }
    .countdown-title-container{
        margin-top: $spacing-xlarge*3;
     }
     .days,
    .hours,
    .minutes {
        font-size: $font-size-xlarge*1.5;
    }
    .vertical-line  {
        height: 80px;
        margin: $spacing-xs*2 $spacing-large;
    }
}

@media (min-width:1670px) { 
    .award-countdown-section {
        img {
            top: -525px;  
        }
    }
    .countdown-container {
        width: 20%;
    }
}


//End Countdown
//Featured Photos
.list-featured-photos-section {


    //do not use this code - generates problems with loading imgs. Find another solution.
    //equal elements 
    // .slick-track {
    //     display: flex;
    // }

    // .photo-card-container {
    //     height: auto;
    //     display: flex;
    //     .featured-image-container {
    //         overflow: hidden;
    //         position: relative;

    //     }
    //     img {
    //         height: 100%;
    //         width: auto;
    //         max-width: none;
    //     }
    // }


    background-color: $lightGray-color;
    text-align: center;
    padding: $spacing-xlarge 0 $spacing-xlarge*4 0;
    .slick-dots {
        bottom: -80px;
    }
    ul.slick-dots li button {
        border: $border-size-s solid black;
        width: 15px;
        height: 15px;
    }
    ul.slick-dots li.slick-active button {
        border: none;
        background-color: $c1;
    }
}
.list-featured-photos-container {
    padding: 0 $spacing-xlarge*2;
}

 .photo-card-container {
    .image-with-ovarlay {
        position: relative;
    }
     padding: 0 $spacing-large;

     &:hover {
         .photo-full-information {
             opacity: 1;
             background: rgba(0,0,0,0.7);
         }
         .photo-name-container{
             opacity: 0;
         }
    }
     img {
        border: $border-size-s solid $c2;
        filter: brightness(85%);
        
     }
 }
 .photo-name-container {
    transition: $transition-usn;
    position: absolute;
    bottom: 0;
    padding: $spacing-large;
    color: $c5;
 }
.photo-full-information {
    
    transition: $transition-usn;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $spacing-xlarge;
    span {
        display: block;
        text-align: left;
        color: $c5;
        font-size: $font-size-normal;
        margin: $spacing-normal 0;
        &:first-child {
            margin-top: 0;
        }
    }
    .photo-name{
        @include font-icon($icon:man-user, $position:before){
            margin-right: $spacing-normal;
            font-size: $font-size-large;
            vertical-align: middle;
        }
        font-size: $font-size-large;
        font-weight: bold;
        
    }
    .photo-date{
        @include font-icon($icon:calendar-with-spring-binder-and-date-blocks, $position:before){
            margin-right: $spacing-normal;
            font-size: $font-size-large;
            vertical-align: middle;
        }
    }
    .photo-award{
        @include font-icon($icon:medal, $position:before){
            margin-right: $spacing-normal;
            font-size: $font-size-large;
            vertical-align: middle;
        }
    }
    .photo-location{
        @include font-icon($icon:pin, $position:before){
            margin-right: $spacing-normal;
            font-size: $font-size-large;
            vertical-align: middle;
        }
    }
    .photo-description{
        padding-right: $spacing-large;
    }

}
.featured-photo-name {
    @include font-icon($icon:man-user, $position:before){
        margin-right: $spacing-normal;
        font-size: $font-size-large;
        vertical-align: middle;
    }
    font-size: $font-size-large;
    font-weight: bold;

}
.featured-photos-button {
    @include button-layout($text-align: center, $font-weight: 900);
    position: relative;

}


@media (min-width:0) and (max-width: 480px) { 
    .list-featured-photos-container {
        padding: $spacing-xs;
        img {
            height: 350px;
        }
        .slick-prev {
            left: 7px;
        }
        .slick-next {
            right: 7px;
        }
    }
    .photo-full-information {
        span {
            font-size: $font-size-small;
        }
        .photo-name{
            @include font-icon($icon:man-user, $position:before){
                font-size: $font-size-normal;
            }
            font-size: $font-size-normal;
            font-weight: bold;
        }
        .photo-date{
            @include font-icon($icon:calendar-with-spring-binder-and-date-blocks, $position:before){
                margin-right: $spacing-normal;
                font-size: $font-size-normal;
                vertical-align: middle;
            }
        }
        .photo-award{
            @include font-icon($icon:medal, $position:before){
                font-size: $font-size-normal;
            }
        }
        .photo-location{
            @include font-icon($icon:pin, $position:before){
                font-size: $font-size-normal;
            }
        }
        .photo-description{
            padding-right: $spacing-large;
        }
    }
    .featured-photo-name {
        @include font-icon($icon:man-user, $position:before){
            font-size: $font-size-normal;
        }
        font-size: $font-size-normal;
    }
}


//End Featured Photos

//Footer
footer {
    .container {
        margin: 0;
        width: 100%;
    }
    p.heading{
        font-size: $font-size-large*1.25;
    }
    
}
//Newsletter 
.custom-newsletter-form {
    padding: 0;
    background-color: $c6 !important;
    // #NewsletterSignupContainer1331 {
    //     height: 80px;
    // }
    .alert-success {
        height: 80px;
        position: relative;
        .info {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            margin-bottom: $spacing-small;
        }
        .short-margin-bottom {
            width: 100%;
            text-align: center;
        }

    }
}
    .newsletter {
        
        .inner {
            background-color: $c6;
            padding: 0;
            
        }
        .email-container {
            margin-bottom: 0;
        }
        .form-control{
            background-color: $c6;
            border: none;
            box-shadow: none;
            border-bottom: 1px solid $c3;
            font-size: $font-size-normal;
            color: $c3 ;
            font-weight: bold;
            //padding-bottom: 0;
            
        }
        .field-validation-error{
            padding-left: $spacing-small;
        }
        .base-text {
            span{
                font-size: $font-size-normal;  
            }
        }
        .btn {
            
            span {
                font-weight: 900 !important;
            }
           
        }
    }
    .field-validation-error{
        background-color: transparent;
        color: $c1;
        position: absolute;
    }
    @media (min-width:0) and (max-width:767px) {
        .newsletter {
            padding: $spacing-large 0;
             
            .info {
                padding: 0;
            }
        }  
    }
    @media (min-width:768px) {
        // .newsletter {
        //     margin: $spacing-large 0 $spacing-xlarge 0;
   
        // } 
        #NewsletterSignupContainer1331 {
            fieldset {
                float: left;
                width: 75%;
                margin-top: 10px;
                .form-group{
                    width: 90%;
                }
                .info {
                    margin-top: $spacing-xlarge;
                }
            }
            .button-container {
                position: relative;
                button{
                    position: absolute;
                    top: -16px;
                }
            }
            fieldset.buttons {
                width: 25%;
            }
            
        }
    }
    @media (min-width:992px) {
        .newsletter {
            .info {
                float: left;
                width: 50%;
                margin: $spacing-large 0;
                //padding-left: 15%;
            }
        } 
        #NewsletterSignupContainer1331 {
            fieldset {
                float: left;
                width:37%;
                margin-top: 10px;
                .form-group{
                    width: 90%;
                }
                // .field-validation-error {
                //     position: absolute;
                //     top: 80px;
                // }
            }
            fieldset.buttons {
                width: 10%;
                top: 49px;
                left: -15px;
            }
            .email-container {
                position: relative;
                margin-left: $spacing-normal;
                input {
                    position: absolute;
                    top: 55px;
                }
                .field-validation-error {
                    position: absolute;
                    top: 95px;
                }
            }  
        }
    }
    @media (min-width:1200px) {
        .newsletter {
            .info {
                float: left;
                width: 50%;
                //padding-left: 15%;
            }
            .newsletter-form {
                width: 85%;
                margin: 0 auto;
            }
        } 
        #NewsletterSignupContainer1331 {
            fieldset {
                float: left;
                width: 37%;
                margin-top: 10px;
                .form-group{
                    width: 90%;
                }
            }
            fieldset.buttons {
                width: 10%;
                top: 54px;
            }
            .email-container {
                input {
                    
                    top: 60px;
                }
            } 

        }
    }
    @media (min-width:1400px) {
        .custom-newsletter-form {
            padding: 0 $spacing-xlarge;
        }
        .newsletter-form {
            width: 60%;
            margin: 0 auto;
            
        }
        .newsletter {
            
            .info {
                float: left;
                width: 47%;
                //padding-left: 15%;
            }
            .newsletter-form{
                width: 80%
            }
            
        } 
        #NewsletterSignupContainer1331 {
            .email-container,
            .button-container{
                position: relative;
                input
                {
                    position: absolute;
                    top: 60px;
                }
                
            }
            fieldset {
                float: left;
                width: 35%;
                margin-top: 10px;
                .form-group{
                    width: 90%;
                }
            }
            fieldset.buttons {
                width: 10%;
                top: 54px;
            }

        }
    }
//End Newsletter
//Logo and Payment Method
    .title-img-container {
        height: 90px;
        width: 325px;
        margin-bottom: $spacing-large;
        margin-top: $spacing-large;
        img {
           
            height: 100%;
            width: auto;
            max-width: none;
            margin: auto;
            display: block
        }
    }
    

    .pay-method {
        margin-top: 5px;
        // height: 200px;
       
        img {
            width: 80%;
            // width: auto;
            max-width: none;
            margin: 0;
            display: block
        }
    }
    .pay-method-mastercard {
            img {
                width: 75px;
                height: 40px;
            }
    }
    .row.payment-method-img {
        
        
        .payment-method-text {

            padding: 0 15px !important;
        }
    }
    .payment-method-text{
        margin-top: $spacing-large;
        margin-bottom: $spacing-large;
    }
  
    @media (min-width: 0px) {
        .payment-method-container {
            margin-bottom: $spacing-xlarge;
            
        }
    }
    @media (min-width:768px) and (max-width:991px) {
        .pay-method {
            margin-top: 5px;
            height: 200px;
           width: 50%;
            img {
                height: 100%;
                width: auto;
                max-width: none;
                margin: 0;
                display: block
            }
        }
    }
    @media (min-width: 992px) {
        .payment-method-container {
            padding: 0 $spacing-xlarge 0 $spacing-xlarge;
            
        }
    }
    @media (min-width: 1200px) {
        .payment-method-container {
            padding: 0 $spacing-xlarge*2 0 $spacing-xlarge*4;
            
        }
    }
    @media (min-width: 1600px) {
        .payment-method-container {
            padding: 0 $spacing-xlarge*6 0 $spacing-xlarge*4;
            
        }
    }
    
//End Logo and Payment Method
//Social Links
    .social-links-container {
        
        a{
            border-radius: 50%;
            filter: grayscale(100%);
            &:hover {
                filter: grayscale(0%);
                background-color: transparent;
            }
            
        }
    }
    nav.social ul li a::after {
        background-color: transparent;
    }
    @media (min-width: 992px) {
        .social-links-container {
            padding: $spacing-xlarge $spacing-large;
            
        }
    }
    @media (min-width: 1200px) {
        .social-links-container {
            padding: $spacing-xlarge $spacing-xlarge*3.5;
            
        }
    }
//End Social Links
//Contact
    .company-details {
        list-style: none;  
    }
    .footer-phone {
        @include font-icon($icon:phone-receiver, $position: before){
            color: $c1;
            vertical-align: middle;
            font-size: $font-size-large;
            margin-right: $spacing-large;
        }
        
    }
    .footer-mail {
        @include font-icon($icon:email-filled-closed-envelope, $position: before){
            color: $c1;
            vertical-align: middle;
            font-size: $font-size-large;
            margin-right: $spacing-normal;
        }
        
        a:hover {
            color: $c3 !important;
        }
    }
    .footer-address {
        margin: 8px 0;
        @include font-icon($icon:pin, $position: before){
            color: $c1;
            margin-top: 3px;
            font-size: $font-size-large;
            margin-right: $spacing-large;
            vertical-align: middle;
        }
        //display: inline-flex;
        
        p{
            margin-top: 0;
            br {
                line-height: 1.8;
            }
        }
    }
    .footer-address-container {
        margin-top: - $spacing-large - 6;
        margin-left: $spacing-xlarge +12;
        p {
            margin-bottom: 0;
        }

        
    }
    .footer-location {
        @include font-icon($icon:placeholder map, $position: before){
            color: $c1;
            vertical-align: middle;
            font-size: $font-size-large;
            margin-right: $spacing-large;
        }
        
        a {
            color: $c1;
            border-bottom: 1px solid $c1;
            
            &:hover {
                color: $c1 !important;
            }
        }
    }

//End Contact


//End Footer
//Banner general settings
.apc.banner {
    
    ul {
        li {
            &:after {
                width: 0px;
            }
        }
    }
    .heading.main, .secondary-heading, .text * {
        color: $c5;
    }
}
.apc.banner div.image {
    //preventing resizing the banner after loading the page!
    -webkit-transition: background-size 0.0s ease-in-out 0s, -webkit-transform 0.0s ease-in-out 0s, -webkit-filter 0.0s ease-in-out 0.0s;
    transition: background-size 0.0s ease-in-out 0s, -webkit-transform 0.0s ease-in-out 0s, -webkit-filter 0.0s ease-in-out 0.0s;
    transition-property: transform, background-size, filter, -webkit-transform, -webkit-filter;
    transition-duration: 0.0s, 0.0s, 0.0s, 0.0s, 0.0s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0.0s, 0s, 0.0s;
    transition: transform 0.0s ease-in-out 0s, background-size 0.0s ease-in-out 0s, filter 0.0s ease-in-out 0.0s;
    transition: transform 0.0s ease-in-out 0s, background-size 0.0s ease-in-out 0s, filter 0.0s ease-in-out 0.0s, -webkit-transform 0.0s ease-in-out 0s, -webkit-filter 0.0s ease-in-out 0.0s;
}

.apc.banner {
    padding: $spacing-xlarge $spacing-xlarge $spacing-xlarge*2 !important;
}
.container-fluid-padding {
    padding: $spacing-xlarge ($spacing-xlarge)-$spacing-small $spacing-xlarge*2!important;
}

@media (min-width:992px) {
    .apc.banner {
        padding: $spacing-xlarge $spacing-xlarge*2 $spacing-xlarge*4!important;
    }
    .container-fluid-padding {
        padding: 0 $spacing-xlarge*2-$spacing-small $spacing-xlarge*4!important;
    }
}
@media (min-width:1200px) {
    .apc.banner {
        padding: $spacing-xlarge $spacing-xlarge*2 $spacing-xlarge*3!important;
    }
    .container-fluid-padding {
        padding: 0 $spacing-xlarge*2-$spacing-small $spacing-xlarge*3!important;

    }
}
@media (min-width:1400px) {
    .apc.banner {
        padding: $spacing-xlarge $spacing-xlarge*4 $spacing-xlarge*3!important;
    }
    .container-fluid-padding {
        padding: 0 $spacing-xlarge*4-$spacing-small $spacing-xlarge*3!important; //to make photos inline with banner

    }
}

.breadcrumb-trail {
    position: absolute;
    background-color: transparent;
    border: none;
    bottom: 0;
    
    li {
        span {
            color: $c5;
        }
    }
}
 .breadcrumb-trail ol li::after {
    content: ">";
    color: $c5;
    position: absolute;
    width: 1px;
    bottom: 22px;
    right: 14px;
}
.success-message {
    color: green;
    padding: $spacing-small 0;
    border: 1px solid green;
    text-align: center;
}
//End banner settings


//for autosizes 
img[data-sizes="auto"] { 
    display: block; 
    // width: 100%; 
}

.test-container {
    
//setting the masonry grid
.grid-sizer,
.masonry-grid-item {
  width: 100%;

    @include breakpoint(sm) {
      width: 50%;
    }
    @include breakpoint(md) {
        width: 33.333%;
    }
      @include breakpoint(lg) {
        width: 25%;
    }
}

    img {
        width: auto;
    }
}

.content {
    ul {
        list-style: none;
        margin-left: $spacing-xlarge*2;
        ul {
            list-style: none;
        }
        li {
           
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 10px;
                left: -25px;
                display: block;
                width: 15px;
                height: 2px;
                background-color: red;
            }
        }
    }
    ol { 
        counter-reset: item;
        margin-left: $spacing-large*2;
     }
    ol li {
        display: block; 
    }
    ol li:before {
        content: counter(item) ". ";
        counter-increment: item;
        color: red;
    }
    table {
        border: 0;
        thead {
            background-color: $c3;
            color: $c5;
            text-transform: uppercase;
            
            th {
                font-weight: bold;
                font-size: $font-size-normal;
            }
        }
        td {
            background-color: $c5;
            border: 1px solid $c4;
        }
        td:first-child {
            border: 0;
            
        }
        tr {
            border-bottom: 1px solid $c4;
        }
        td:last-child {
            border: 0;
            
        }
    }
}

#jury-content {
    padding: 30px;
    cursor: pointer;
}

.jury-link-to-modal {
    cursor: pointer;
}
.judge-info-box {
    width: 100%;
}
.jury-information-modal {
    position: absolute;
    top: -100px; //margin of description box
    left: 0;
    bottom: 0;
    right: 0;
}
.jury-modals-container, .search-modal-container {
    div[class*="jury-modal-"], .search-modal {
        .judge-text-container {
            // padding: 30px;
            text-align: left;
        }
        .judge-image-container {
            width: 200px;
        }
        .modal-content {
            background: transparent;
        }
        .judge-card-container {
            margin-bottom: 0;
        }
        .modal-content {
            box-shadow: none;
            border: none;
            button.close {
                top: -50px;

            }
        }
        .modal-dialog {
            top: 40%;
            transform: translateY(-50%);
        }
        .judge-info-box {
            box-shadow: 0 5px 15px rgba(0,0,0,.5);
        }
        .judge-description-container {
            a:focus, a:hover {
                color: red;
            }
        }



    }
}

.modal-open header{
    padding-right: 17px;
}
.site-search {
    margin: auto;
    button {
        height: $search-popup-inputs-size;
        width: $search-popup-inputs-size;
        i {
            font-size: 25px;
        }
    }
    @include breakpoint(lg) {
        max-width:90%;
    }
}
.search-modal-container {

    .form-group input {
        font-size: 18px;
        font-weight: normal;
        height: $search-popup-inputs-size;

    }

    @include breakpoint(lg) {
        .modal-dialog {
            width: 60% !important;
        }
    }

}




.breakcrumb-container{
    ol li {
        display: inline-block;
        a {
            border-bottom: 0px;
            }
            &:before {
                content: "";
            }
        }
       
    }

.browserupgrade {
 display: none;   
}

//message for IE 11 and older
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    .browserupgrade {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99999999;
        background-color: rgba(255, 255, 255, 0.95);
        text-align: center;
        padding: $spacing-xxlarge;
    
        p {
            font-size: $font-size-xxlarge;
            margin-top: $spacing-xxlarge;
        }
    }
 }
 .msg-container {
    position: fixed;
    width: 80%;
    top: 50vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 9999;
 }
 .alert-dismissible {
    .close {
        font-size: $font-size-xlarge;
        top: 0px;
    }
 }
 
//search result page
.listing.search {
    .heading a {
        color: inherit;
        border: none;
    }
}
