
.order-history-section {
    background-color: $c4;
    padding: $spacing-xlarge*1.5 $spacing-xlarge $spacing-xlarge $spacing-xlarge;
}
.order-history-table-container {
    overflow-x: auto;
}
.order-history-table {

    th {
        background-color: $c3;
        text-transform: uppercase;
        color: $c5;
        font-weight: bold;
        border-color:  $c4;
    }
    td {
        background-color: $c5;
        border-color:  $c4;
        min-width: 150px;
    }
    td:nth-child(4) {
        min-width: 500px;
    }
    td:nth-child(1), td:nth-child(5) {
        text-align: center;
    }
    a {
        color: $c1;
        border-bottom: 1px solid $c1;
    }
}
@media (min-width:992px) {
    .order-history-section {
        padding: $spacing-xlarge*2.5 $spacing-xlarge*2.5 $spacing-xlarge*2 $spacing-xlarge*2.5;
    }
}
@media (min-width:1200px) {
    .order-history-section {
        padding: $spacing-xlarge*2.5 $spacing-xlarge*4 $spacing-xlarge*2 $spacing-xlarge*4;
    }
}