.order-photo-information{
    .photo-date {
        @include font-icon($icon:calendar-with-spring-binder-and-date-blocks, $position:before){
            margin-right: $spacing-normal;
            font-size: $font-size-normal;
            vertical-align: sub;
            color: $c1;
        }
    }
    .photo-location {
        @include font-icon($icon:placeholder, $position:before){
            margin-right: $spacing-small;
            font-size: $font-size-normal;
            vertical-align: sub;
            color: $c1;
        }
        margin-left: $spacing-normal;
    }
    
    .order-photos-type {
        display: block;
       margin: $spacing-small 0;
    }
}
.order-table {
    overflow-x: auto;
}
.order-photo {
        background-color: $c5;
        clear: both;
        @include flexbox();
        @include flex-wrap(wrap);
    }
    .order-photo:not(:first-child) {
        border-top: 1px solid $c4;
    }

.order-summary-section {
    padding: $spacing-xlarge $spacing-xlarge;
    background-color: $c4;
}
.table-header-container,
.table-footer-container {
    height: 50px;
    background-color: $c3;
    color: $c5;
    @include flexbox();
    @include align-items(center);
    font-weight: bold;
}


.photo-title-container-photo,
.photo-title-container-storytelling {
   
    padding-left: $spacing-xlarge;
    text-transform: uppercase;
}
.price-title-container-photo,
.price-title-container-storytelling {
    display: none;
}

.order-photo-container {
    width: 100%;
    padding: $spacing-large $spacing-large 0 $spacing-large;
    height: auto;
    
    .photo-container {
        overflow: hidden;
        height: 220px;
    }
     img {
        
        height: 100%;
        width: auto;
        max-width: none;
        margin: auto;
        display: block
     }
}



.order-photo-information, {
    padding: $spacing-large $spacing-large 0 $spacing-large;
    width: 100%;
}
.order-description-container {
    padding: 0 $spacing-large 0 $spacing-large;
    width: 100%;
}

.order-price-description {
    width: 70%;
    span {
        display: block;
        padding: $spacing-small 0 $spacing-small $spacing-large ;
    }
}
.order-photo-price {
    width: 30%;
    
    .order-feedback-price,
    .photo-price {
        text-align: right;
        display: block;
        padding: $spacing-small  $spacing-large $spacing-small 0;
    }
    
}

.subtotal-price-container {
    float: left;
     width: 70%;
     padding-left: $spacing-large;
}
.price-container {
    text-align: right;
    width: 30%;
    padding-right: $spacing-large;
}

.img-container {
    height: 100px;
    
    img {
        height: 100%;
        width: auto;
        max-width: none;
        margin: auto;
        display: block
    }
}
.visaimg-container {
    height: 100px ;
    img {
        padding: $spacing-xlarge 0;
        height: 100%;
        width: auto;
        max-width: none;
        margin: auto;
        display: block
    }
}
.mastercardimg-container {
    height: 100px ;
    img {
        padding: $spacing-large 0;
        height: 100%;
        width: auto;
        max-width: none;
        margin: auto;
        display: block
    }
}
 .order-btn-container {
     margin-top: $spacing-normal;
     text-align: center;
 }
.order-paypal-method,
.order-card-method  {
    margin-top: $spacing-xlarge;
}




@media  (min-width:768px) {
    .order-photo {
        position: relative;
    }
    .photo-title-container-photo,
    .photo-title-container-storytelling {
        float: left;
        width: 85%;

    }
    .price-title-container-photo {
        border-left: 1px solid $c4;
        height: 100%;
        width: 15%;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        text-transform: uppercase;
    }
    .order-photo-container {
        width: 50%;
        padding: $spacing-xlarge;
        float: left;
    }
    .order-photo-information, {
        padding: $spacing-large $spacing-large  $spacing-xlarge 0;
        border-right: 1px solid $c4;
        width: 35%;
    }
    .order-description-container {
        border-right: 1px solid $c4;
        width: 85%;
        padding:  0 $spacing-xlarge;
    }
    
    .subtotal-price-container {
        width: 85%;
        text-align: right;
        padding-right: $spacing-large;
    }
    .price-container {
        width: 15%;
        height: 100%;
        border-left: 1px solid $c4;
        @include flexbox();
        @include align-items(center);
        
        padding: 0;
        padding-right: $spacing-normal;
        span {
            width: 100%;
            text-align: right;
        }
    }


    .order-price-description {
        position: absolute;
        top: 0;
        left: 50%;
        width: 35%;
        height: 76%;
        padding: $spacing-xlarge;
        padding-left: 0;
        .description-container {
            height: 100%;
            position: relative;
        }
        span {
            width: 100%;
            text-align: right;
            padding: 0;
        }
        .order-feedback{
            position: absolute;
            top: 23px;
        }
        .order-submission {
            position: absolute;
            top: -2px;
        }
    }
    .order-photo-price{
        width: 15%;
        padding: $spacing-xlarge $spacing-large;
        height: 100%;
        position: absolute;
        right: 0;
        .prices-container {
            position: relative;
            height: 70%;
            span {
                width: 100%;
                text-align: right;
                padding: 0
            }
           .order-feedback-price {
                position:  absolute;
                top: 23px;
           }
           .photo-price{
               position: absolute;
               top: -2px;
            }
        }
        
    }

}
@media  (min-width:992px) {

    .table-header-container,
    .table-footer-container {
        height: 80px;
    }
    .photo-title-container-photo,
    .photo-title-container-storytelling {
        float: left;
        width: 85%;
        padding-left: $spacing-xlarge;
        text-transform: uppercase;
    }
    
    .order-photo-container{
        width: 25%;
    }
    .order-photo-information {
        width: 60%;
    }
    .order-description-container {
        width: 55%;
        position: absolute;
        left: 25%;
        top: 40%;
        padding: 0%;
        border: none;
    }
    .order-photos-type {
        margin-top: $spacing-xs  !important;
        margin-bottom: 0 !important;
    }
    .order-date-location-container {
        margin-bottom: 0px;
    }
    

    .order-price-description {
        left: 25%;
        width: 60%;
        height:100%;
        padding: $spacing-xlarge;
        padding-left: 0;
        .description-container {
            height: 100%;
            position: relative;
        }
        span {
            width: 100%;
            text-align: right;
            padding: 0;
        }
        .order-feedback{
            position: absolute;
            top: 23px;
        }
        .order-submission {
            position: absolute;
            top: -2px;
        }
    }
    
    .order-photo-price{
        padding: $spacing-xlarge $spacing-large $spacing-xlarge 0;
        .prices-container {
            height: 100%;
            span {
                width: 100%;
                text-align: right;
                padding: 0
            }
           .order-feedback-price {
                position:  absolute;
                top: 23px;
           }
           .photo-price{
               position: absolute;
               top: -2px;
            }
        }
        
    }
    
}
@media (min-width:1200px) {
    .order-summary-section {
        padding: $spacing-xlarge*3 $spacing-xlarge*4;
        
    }
    .photo-title-container-photo,
    .photo-title-container-storytelling {
        width: 90%;
    }
    .price-title-container-photo {
        width: 10%;
    }
    .price-title-container-storytelling{
        border-left: 1px solid $c4;
        height: 100%;
        width: 10%;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        text-transform: uppercase;
    }
    .order-photo-information {
        width: 70%;
        float: left;
        padding: $spacing-xlarge $spacing-xlarge $spacing-xlarge 0;
    }
    .storytelling-container {
        width: 90%;
        float: left;
        
    }
    .order-description-container {
        width: 63%;
        left: 25%;
        top: 35%;
        border: none;
    }
    .order-photo-information {
        border: none;
        width: 65%;
    }
    // .order-storytelling-price {
    //     width: 10%;
    //     border-left: 1px solid $c4;
    //     @include flexbox();
    //     @include align-items(center);
    //     @include justify-content(center);
    // }
    .subtotal-price-container {
        width: 90%;
        padding-right: $spacing-xlarge;
    }
    .price-container {
        width: 10%;
    }
    .order-photo-price {
        width: 10%;
        border-left: 1px solid $c4;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
    }
    .order-photo-container {
        padding: $spacing-xlarge;
    }
    
    
   .order-photos-type {
       float: right;
       margin-top: 0 !important;
       margin-bottom: 0 !important;
   } 

   .order-price-description {
    width: 65%;
}
.order-photo-price{
    padding:$spacing-xlarge $spacing-normal $spacing-xlarge 0;
    .prices-container {
        height: 100%;
        width: 100%;
        span {
            width: 100%;
            text-align: right;
            padding: 0
        }
       .order-feedback-price {
            position:  absolute;
            top: 25px;
       }
       .photo-price{
           position: absolute;
           top: 0;
        }
    }
    
}




}

//StoryTelling Style
.order-storytelling-information {
    .photo-date {
        @include font-icon($icon:calendar-with-spring-binder-and-date-blocks, $position:before){
            margin-right: $spacing-normal;
            font-size: $font-size-normal;
            vertical-align: sub;
            color: $c1;
        }
    }
    .photo-location {
        @include font-icon($icon:placeholder, $position:before){
            margin-right: $spacing-small;
            font-size: $font-size-normal;
            vertical-align: sub;
            color: $c1;
        }
        margin-left: $spacing-normal;
    }
    
    .order-photos-type {
        display: inline-block;
       margin: $spacing-small;
    }
}
.storytelling-container {
    width: 100%;
}
.order-storytelling-container  {
    width: 100%;

    padding:  0  !important;
    padding-right: $spacing-large !important;
    padding-left: $spacing-large !important;
    .storytelling-photo-container {
        
        height: 200px;
        overflow: hidden;

        img {
       
           height: 100%;
           width: auto;
           max-width: none;
           margin: $spacing-normal auto;
           display: block
        }

   }
}
.order-storytelling-information {
    padding: $spacing-normal $spacing-large 0 $spacing-large;
}
.order-storytelling-description-container {
    padding: $spacing-xs $spacing-large 0 $spacing-large;
}


.order-storytelling-description {
    width: 70%;
    float: left;
    padding: 0 $spacing-large;
    .description-storytelling-container {
        height: 100%;
        span {
            display: block;
            padding: $spacing-small 0;
        }
    }
}
.order-storytelling-price{
    width: 30%;
    padding-right: $spacing-large;
}
.order-storytelling-price {
    .storytelling-feedback-price,
    .storytelling-price {
        width: 100%;
        display: block;
        padding: $spacing-small 0;
        text-align: right;
    }
   
}
.order-payment-method-container {
    padding: 0 $spacing-normal $spacing-xlarge;
}

@media (min-width: 768px) {
    .order-storytelling-container  {
        clear: both;
        //height: 85%;
        padding-top: 0px;
    }
    .storytelling-photo-container {
        padding: 0 $spacing-normal;
        width: 50%;
        height: 200px;
        overflow: hidden;
        float: left;
        img {
            margin:  $spacing-xlarge auto !important;
        }
   }
   .order-storytelling-container  :last-child {
        width: 100%;
        float: none;
   } 
   .order-storytelling-description {
        width: 85%;
        span {
            text-align: right;
        }
   }
   .order-storytelling-price {
       width: 15%;
    
    }
}
@media (min-width: 992px) {
    
    .storytelling-photo-container {
        
        width: 50%;
        height: 200px;
        overflow: hidden;
        float: left;
        img {
            margin:  $spacing-xlarge auto !important;
        }
   }
   
   .storytelling-photo-container:nth-child(-n+3) {
        
        width: 33%;
        padding: 0  $spacing-xlarge;
    }
    
   .order-storytelling-container  :last-child {
        width: 50%;
        float: none;
   } 
    
}
@media (min-width: 1200px) {
    .storytelling-container {
        width: 90%; 
        float: left;

    }
    .order-storytelling-price {
        float: right;
        width: 10%;
        border-left: 1px solid $c4;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        .storytelling-prices-container {
            width: 100%;
        }
            .storytelling-price {
            width: 100%;
       
        } 
    }
    .order-storytelling-container  {
        @include flexbox();
        padding: 0 $spacing-xlarge  0 0 !important;
        clear: both;
        .storytelling-photo-container {
            width: 20%;
            padding: $spacing-xs  $spacing-xlarge;
            float: left;
            height: 200px;
            overflow: hidden;
   
            img {
           
               height: 100%;
               width: auto;
               max-width: none;
               margin: 0 auto !important;
               display: block
            }
   
       }
       
    }
     .order-storytelling-information{
        
        padding: $spacing-xlarge  $spacing-xlarge;
    }
    .order-storytelling-description-container {
        padding: $spacing-xlarge;
        padding-bottom: 0;
        clear: both;
    }
    .order-section {
        .order-payment-method-container {
            padding: 0 $spacing-xlarge*3 $spacing-xlarge*2.5;
        }
    }
    .order-storytelling-description {
        width: 90%;
        padding: 0 $spacing-xlarge;
    }
    
}
    
   

.payment-buttons-outer-container{
    
   
    @include breakpoint(md){
       display: table; 
    }
    
    width:100%;
    @include breakpoint(lg) {
       width:40%;
    }
    
    text-align: center;
    margin:0px auto;
    
    .order-paypal-method, .pay-with-bilderlings-container{

         @include breakpoint(md){
             display: table-cell;
             vertical-align: middle;
        }
    }
    
    .order-paypal-method{
       
           margin-bottom: $spacing-xxlarge;
       
    }
    
}

.field-validation-error{
    font-size: $font-size-large / 1.5;
}


