.payment-credit-card-details-iframe-container{
    text-align: center;
    iframe{
        text-align: center;
        display: table;
        margin: 0px auto;
    } 
}

.payment-result {
    background-color: white;
    height: 100px;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    
}