.profile-form-section {
    background-color: $c4;
    
}
.profile-form-container {
    background-color: $c5;
    
}
@media (min-width: 0) and (max-width: 479px) {
    .profile-form-section {
        padding: $spacing-xlarge $spacing-xlarge;
    }
    .profile-form-container {
        padding: $spacing-xlarge;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .profile-form-section {
        padding: $spacing-xlarge $spacing-xlarge;
    }
    .profile-form-container {
        padding: $spacing-xlarge*2;
    }
}


@media (min-width: 768px) {
    .profile-form-section {
        padding: $spacing-xlarge*2 0;
    }
    .profile-form-container {
        padding: $spacing-xlarge*2;
        width: 80%;
        margin: 0 auto;
    }
}
@media (min-width: 992px) {
    
    .profile-form-container {
        padding: $spacing-xlarge*2;
        width: 70%;
        margin: 0 auto;
    }
}
@media (min-width: 1200px) {
    
    .profile-form-container {
        padding: $spacing-xlarge*2;
        width: 60%;
        margin: 0 auto;
    }
}
@media (min-width: 1500px) {
    
    .profile-form-container {
        padding: $spacing-xlarge*2;
        width: 50%;
        margin: 0 auto;
    }
}