.register-form-section {
    background-color: $c4;
}

    
.register-form {
    background-color: $c5;
}

.checkbox-container {
    margin: $spacing-large 0;
    margin-bottom: $spacing-large*2;
    
    a {
        color: $c1;
        border-bottom: 1px solid $c1;
    }
}
.checkbox-label{
    height: 25px;
    font-size: $font-size-small;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    span {
        line-height: 25px;
    }
    .label-text {
        height: 25px;
        line-height: 23px;
        vertical-align: middle;
    }
}
.checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkbox-label:hover input ~ .checkmark {
    background-color: #ccc;
    
  }
  .checkbox-label input:checked ~ .checkmark {
    background-color: $c1;
    border: 1px solid $c2;
    border-radius: 2px;
  }
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $c5;
    border: 1px solid $c2;
    border-radius: 2px;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .checkbox-label input:checked ~ .checkmark:after {
    display: block;
  }
  .checkbox-label .checkmark:after {
    left: 9px;
    top: 3px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  .radiobutton-label {
    display: inline-block;
    position: relative;
    padding-left: $spacing-large;
    margin-right: $spacing-large;
    cursor: pointer;
    font-size: $font-size-small;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radiobutton-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radiomark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid $c3;
}

.radiobutton-label:hover input ~ .radiomark {
    background-color: #ccc;
}

.radiobutton-label input:checked ~ .radiomark {
    background-color: $c1;
}

.radiomark:after {
    content: "";
    position: absolute;
    display: none;
}


.radiobutton-label input:checked ~ .radiomark:after {
    display: block;
    border: none;
}


.radiobutton-label .radiomark:after {
 	top: 4px;
	left: 4px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
    background: white;
    
}
.label-radiobutton  {
    display: inline-block;
    cursor: pointer;
}

@media (min-width:0) and (max-width:767px) {
    .register-form-container {
        width: 90%;
        margin: 0 auto;
        padding: $spacing-xlarge*1.5 0;
    }
    .register-form {
        padding: $spacing-xlarge*1.5;
    }
}

@media (min-width:768px) {
    .register-form-container {
        width: 75%;
        margin: 0 auto;
        padding: $spacing-xlarge*3 0;
    }
    .register-form {
        padding: $spacing-xlarge*1.5;
    }
}

@media (min-width:992px) {
    .register-form-container {
        width: 65%;
        margin: 0 auto;
        padding: $spacing-xlarge*3 0;
    }
    .register-form {
        padding: $spacing-xlarge*1.5;
    }
}

@media (min-width:1200px) {
    .register-form-container {
        width: 45%;
        margin: 0 auto;
        padding: $spacing-xlarge*3 0;
    }
    .register-form {
        padding: $spacing-xlarge*1.5;
    }
}