.reset-password-form-section {
    background-color: $c4;
}

    
.reset-password-form {
    background-color: $c5;
}

@media (min-width:0) and (max-width:767px) {
    .reset-password-form-container {
        width: 90%;
        margin: 0 auto;
        padding: $spacing-xlarge*1.5 0;
    }
    .reset-password-form {
        padding: $spacing-xlarge*1.5;
    }
}

@media (min-width:768px) {
    .reset-password-form-container {
        width: 75%;
        margin: 0 auto;
        padding: $spacing-xlarge*3 0;
    }
    .reset-password-form {
        padding: $spacing-xlarge*1.5;
    }
}

@media (min-width:992px) {
    .reset-password-form-container {
        width: 65%;
        margin: 0 auto;
        padding: $spacing-xlarge*3 0;
    }
    .reset-password-form {
        padding: $spacing-xlarge*1.5;
    }
}

@media (min-width:1200px) {
    .reset-password-form-container {
        width: 45%;
        margin: 0 auto;
        padding: $spacing-xlarge*3 0;
    }
    .reset-password-form {
        padding: $spacing-xlarge*1.5;
    }
}