.submit-storytelling-section {
    background-color: $c4;
    padding: $spacing-xlarge*2;
}
.number-photos-container {
    background-color : $c5;
    margin: $spacing-xlarge 0;
}
.submit-photos-container {
    background-color : $c5;
    margin: $spacing-xlarge 0;

}
.submit-storytelling-form {
    .title {
        font-weight: bold;
        
    }
}
@media (min-width:0) and (max-width: 479px) {
    .submit-storytelling-section {
        padding: $spacing-xlarge $spacing-normal;
    }
    .number-photos-container,
    .submit-photos-container {
        padding: $spacing-large;
    }
}
@media (min-width:480px) and (max-width: 767px) {
    .submit-storytelling-section {
        padding: $spacing-xlarge $spacing-large;
    }
    .number-photos-container,
    .submit-photos-container {
        padding: $spacing-large;
    }
}

@media (min-width:768px) {
    .submit-storytelling-form {
        width: 85%;
        margin: $spacing-xlarge auto;
    }
    .number-photos-container,
    .submit-photos-container {
        padding: $spacing-xlarge;
    }
}
@media (min-width:992px) {
    .submit-storytelling-form {
        width: 70%;
        
    }
    .number-photos-container,
    .submit-photos-container {
        padding: $spacing-xlarge*1.5;
    }
}
@media (min-width:1200px) {
    .submit-storytelling-form {
        width: 60%;
       
    }
    .number-photos-container,
    .submit-photos-container {
        padding: $spacing-xlarge*1.5;
    }
}
@media (min-width:1500px) {
    .submit-storytelling-form {
        width: 40%;
       
    }
    
}