//in order to see correct styles in iframe
.submission-full-page-body {
    header,
    footer,
    .custom-newsletter-form,
    {
        display: none !important;
    }
    .container-fluid-padding {
        padding: 0!important;
    }

}

.photo-date{
    @include font-icon($icon:calendar-with-spring-binder-and-date-blocks, $position:before){
        margin-right: $spacing-normal;
        font-size: $font-size-large;
        vertical-align: middle;

        @include breakpoint(md) {
            vertical-align: sub;
        }
    }
}
.photo-location{
    @include font-icon($icon:pin, $position:before){
        margin-right: $spacing-normal;
        font-size: $font-size-large;
        vertical-align: middle;

        @include breakpoint(md) {
            vertical-align: sub;
        }
    }
}
.photo-category {
    @include font-icon($icon:mark-as-favorite-star, $position:before){
        margin-right: $spacing-normal;
        font-size: $font-size-large;
        vertical-align: middle;

        @include breakpoint(md) {
            vertical-align: sub;
        }
    }
}

.sidebar-section {
    .photo-date, .photo-location, .photo-category  {
        &:before {
            color: $c1
            }


    }
}

.submission-full-page {

    &.apc {
        padding-bottom: 0;
    }

    .main-container {
        padding: 0 $spacing-xxlarge;
        margin-bottom: $spacing-xxlarge;
    }

    .section-title {
        text-transform: uppercase;
    }
    .sidebar-section {
        background-color: $sidebar-color;
        padding: $spacing-xxlarge;
        &:nth-child(even) {
            background-color: $sidebar-even-color;
        }
    }
    hr {
        width: 90%;
        border-top-color: $base-text;
    }
    .photo-date, .photo-location {
        display: block;
        margin: 0;
        margin-bottom: $spacing-normal;
    }
}

.other-submisions {
    background-color:lighten($lightGray-color, 1%) ;
    .heading.title {
        margin-left: $spacing-small; //same as padding of images
    }
}

.submission-images-container {
    margin-bottom: $spacing-xxlarge;
    //dots
    .slick-dots li button {
        background-color: rgba($c3, 0.8);
    }

    .current-submission-photos {
        background-color: $lightGray-color;
        padding: 0 $spacing-xs;

        img {
            margin: auto;
            width: auto;
            max-width: 100%;
            max-height: 100%;

        }
    }
}
ul.slick-dots li.slick-active button {
    border: none;
    background-color: $c1;
}
ul.slick-dots li button {
    border: $border-size-s solid black;
    width: 15px;
    height: 15px;
}


@include breakpoint(sm) {

    .other-submisions {
        padding: $spacing-xxlarge;
    }
}

@include breakpoint(lg) {
    //height of sidebar's sections
    .submission-full-page > .row {
        @include flexbox;

        .row, .sidebar-sections-container-flex{
            @include flexbox;
            @include flex-direction(column);
            height: 100%;


            .sidebar-section:last-child() {
                @include flex(1);
            }
        }
    }


}

#preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c0c0c0;
    opacity: 0.8;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    color:$c1;
    font-weight: bold;
    text-align:center;
}


//loader styles
.loader-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 5;
    text-align:center;
}
.loader {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.loadingText {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.percentageText {
    position: absolute;
    left: 49.6%;
    top: 75%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    font-size: 25pt;
}

.loader {
    display: inline-block;
    width: 64px;
    height: 64px;
    
  }
  .loader:after {
    content: " ";
    
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: $c3 transparent $c3 transparent;
    animation: loader 1.0s linear infinite;
    
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  //submit feedback
textarea.feedback-area {
    height: $feedback-area-height;
}
.received-photo-feedback {
    margin-bottom: $spacing-xxlarge*2;
}

