.submit-photo-selection-section {
    background-color: $c4;
    
    
}
.body-text-container {
    background-color: $c5;
}
.explanation-text {
    text-align: center;
}
.submit-photo {
    background-color: $c5;
    @include transition (box-shadow 0.2s ease);

    .text-container {
        margin-top: $spacing-xlarge;
    }
}
.submitphoto-link {
    
}
.submitphoto-link{
    color: $c3 !important;

    &:hover  {
        .submit-photo {
            @include box-shadow(0px, 3px, 5px, 0px, rgba(0, 0, 0, 0.5));
        }
    }
    
    
}
@media (min-width: 0 ) and (max-width: 479px) {
    .submit-photo-selection-section {
        padding: $spacing-xlarge $spacing-normal;
    }
    .submit-photo-container,
    .submit-storytelling-container {
        padding: 0;
    } 
    .submit-photo {
        padding: $spacing-xlarge $spacing-xlarge $spacing-xlarge $spacing-xlarge;
        margin: $spacing-small;
    }
    .submit-photo-selection-section {
        .explanation-text-container {
            padding: $spacing-normal 0;
            margin: 0 -5px;
        }
        .body-text-container {
            width: 100%;
            padding: $spacing-normal $spacing-large;
        }
    }
    
}
@media (min-width: 480px ) and (max-width:767px) {
    .submit-photo-selection-section {
        padding: $spacing-xlarge;
    }
    .submit-photo-selection-container {
        padding: $spacing-large;
    }
    .submit-photo-container,
    .submit-storytelling-container {
        padding: 0;
    } 
    .submit-photo {
        padding: $spacing-xlarge*1.5 $spacing-xlarge*1.5 $spacing-xlarge $spacing-xlarge*1.5;
        margin: $spacing-small;
    }
    .submit-photo-selection-section {
        .explanation-text-container {
            padding: $spacing-normal $spacing-large*0.7;
        }
        .body-text-container {
            width: 100%;
            padding: $spacing-xlarge;
        }
    }
}
@media (min-width: 768px ) {
    .submit-photo-selection-container {
        padding: $spacing-large;
    }
    .submit-photo-selection-section {
        padding: $spacing-large;
    }
    .submit-photo-selection-container {
        padding: $spacing-normal $spacing-large;
    }
    .submit-photo {
        padding: $spacing-xlarge $spacing-xlarge $spacing-large $spacing-xlarge;
        //margin: $spacing-small;
    }
    .submit-photo-selection-section {
        .explanation-text-container {
            padding: $spacing-normal $spacing-large;
        }
        .body-text-container {
            width: 100%;
            padding: $spacing-xlarge;
        }
    }
}
@media (min-width: 992px )  {
    .submit-photo-selection-container {
        padding: $spacing-xlarge;
    }
    .submit-photo-selection-section {
    padding: $spacing-xlarge;
    }
    .submit-photo-selection-container {
        padding: $spacing-xlarge $spacing-xlarge;
    }
    .submit-photo {
        padding: $spacing-xlarge $spacing-xlarge $spacing-large $spacing-xlarge;
        margin: $spacing-normal;
    }
    .submit-photo-selection-section {
        .explanation-text-container {
            padding: $spacing-large $spacing-large*2;
        }
        
    }
}
@media (min-width: 1200px )  {
    .submit-photo-selection-container {
        padding: $spacing-xlarge;
    }
    .submit-photo-selection-section {
    padding: $spacing-xlarge*2;
    }
    .submit-photo-selection-container {
        padding: $spacing-xlarge $spacing-xlarge*2;
    }
    .submit-photo {
        padding: $spacing-xlarge*2 $spacing-xlarge*2 $spacing-xlarge*1.5 $spacing-xlarge*2;
        margin: $spacing-large;
    }
    .submit-photo-selection-section {
        .explanation-text-container {
            padding: $spacing-large $spacing-large*4;
        }
       
    }
}
@media (min-width: 1500px )  {
    .submit-photo-selection-container {
        padding: $spacing-xlarge;
    }
    .submit-photo-selection-section {
    padding: $spacing-xlarge*2;
    }
    .submit-photo-selection-container {
        padding: $spacing-xlarge $spacing-xlarge *4;
    }
    .submit-photo {
        padding: $spacing-xlarge*2 $spacing-xlarge*2 $spacing-xlarge*1.5 $spacing-xlarge*2;
        margin: $spacing-large;
    }
    .submit-photo-selection-section {
        .explanation-text-container {
            padding: $spacing-large $spacing-large*7;
        }
        .body-text-container {
            width: 100%;
            padding: $spacing-xlarge;
        }
    }

}
@media (min-width: 1900px )  {
    .submit-photo-selection-container {
        padding: $spacing-xlarge;
    }
    .submit-photo-selection-section {
    padding: $spacing-xlarge*2;
    }
    .submit-photo-selection-container {
        padding: $spacing-xlarge $spacing-xlarge *8;
    }
    .submit-photo {
        padding: $spacing-xlarge*2 $spacing-xlarge*2 $spacing-xlarge*1.5 $spacing-xlarge*2;
        margin: $spacing-large;
    }
    .submit-photo-selection-section {
        .explanation-text-container {
            padding: $spacing-large $spacing-large*13;
        }
    }
}
