.submit-photo-section,
.submit-storytelling-section {
    background-color: $c4;
    padding: $spacing-xlarge*2;
    .body-text-container {
        background-color: $c5;
        padding: $spacing-large;
    }
}
.number-photos-container {
    background-color : $c5;
    margin: $spacing-xlarge 0;
}
.submit-photos-container {
    background-color : $c5;
    margin: $spacing-xlarge 0;

}
.submit-photo-form {
    .title {
        font-weight: bold;
        
    }
    .photo-file {
        padding-top: 0;
        padding-bottom: 0;
    }
}



@media (min-width:0) and (max-width: 479px) {
    .submit-photo-section {
        padding: $spacing-xlarge $spacing-normal;
    }
    .number-photos-container,
    .submit-photos-container {
        padding: $spacing-large;
    }
}
@media (min-width:480px) and (max-width: 767px) {
    .submit-photo-section {
        padding: $spacing-xlarge $spacing-large;
    }
    .number-photos-container,
    .submit-photos-container {
        padding: $spacing-large;
    }
}

@media (min-width:768px) {
    .submit-photo-section,
    .submit-storytelling-section {
        .body-text-container {
            padding: $spacing-xlarge;
            width: 85%;
            margin: 0 auto;
        }
    }
    .submit-photos-form {
        width: 85%;
        margin: $spacing-xlarge auto;
    }
    .number-photos-container,
    .submit-photos-container {
        padding: $spacing-xlarge;
    }
}
@media (min-width:992px) {
    .submit-photo-section,
    .submit-storytelling-section {
        .body-text-container {
            width: 70%;
            
        }
    }
    .submit-photos-form {
        width: 70%;
        
    }
    .number-photos-container,
    .submit-photos-container {
        padding: $spacing-xlarge*1.5;
    }
}
@media (min-width:1200px) {
    .submit-photo-section,
    .submit-storytelling-section {
        .body-text-container {
            width: 60%;
            
        }
    }
    .submit-photos-form {
        width: 60%;
        
    }
    .number-photos-container,
    .submit-photos-container {
        padding: $spacing-xlarge*1.5;
    }
}
@media (min-width:1500px) {
    .submit-photo-section,
    .submit-storytelling-section {
        .body-text-container {
            width: 40%;
            
        }
    }
    .submit-photos-form {
        width: 40% !important;
        
        
    }
    
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}