.order-section {
    background-color: $c4;
    padding: $spacing-large;
}
.order-details,
.billing-details {
    background-color: $c5;
    padding: $spacing-xlarge;
    margin: $spacing-normal 0;
}
.order-details-container,
.billing-details-container {
    width: 50%;
    float: left;
    background-color: $c4;
}
.btn-container {
    text-align: center;
}
.title-details {
        text-transform: uppercase;
}
.order-summary-title-container {
    padding: $spacing-small 0;
    text-align: center;
    text-transform: uppercase;
    
}
.detail-label-text {
    text-transform: capitalize;
}
.printer-icon {
    margin-left: $spacing-small;
    @include font-icon ($icon:printer) {
        vertical-align: sub;
        font-size: $font-size-large;
    }
}

.order-payment-method-container {

}

@media(min-width: 768px) {
    .order-section {
        padding: $spacing-xlarge*2;
    }
    .btn-container {
        padding: $spacing-large 0 $spacing-xlarge 0;
    }
    .order-details,
    .billing-details {
    background-color: $c5;
    padding: $spacing-xlarge;
    margin: $spacing-xlarge 0;
    }
    .order-summary-title-container{
        padding: $spacing-normal 0;
    }

    }

@media(min-width: 992px) {
    .order-billing-details-container {
        @include flexbox();
        @include flex-wrap(wrap);
        justify-content: center;
    }
    .order-details {
        float: left;
        padding: $spacing-xlarge*1.5;
        margin-right: $spacing-xlarge;
        width: 45%;

    }
    .billing-details {
       width: 47%;
       float: left;
        padding: $spacing-xlarge*1.5;
        margin-left: $spacing-xlarge;
    }
}
@media(min-width: 1200px) {
    .order-section {
        padding: $spacing-xlarge;
    }
    
    .order-billing-details-container {
        @include flexbox();
        @include flex-wrap(wrap);
        justify-content: center;
    }
    .order-details {
        float: left;
        padding: $spacing-xlarge*1.5;
        margin-right: $spacing-xlarge;
        width: 35%;

    }
    .billing-details {
       width: 40%;
       float: left;
        padding: $spacing-xlarge*1.5;
        margin-left: $spacing-xlarge;
    }
    
    .order-summary-table-container {
        padding: 0 $spacing-xlarge*2.5 $spacing-xlarge*2;
    }
    
    
}

@media print {
    section.banner,
    .custom-newsletter-form,
    footer,
    .btn-container,
    #top-link-block a {
        display: none;
    }
}

