﻿@inherits UmbracoViewPage<IUsn_Cmp_IntroOutro>

@using Umbraco.Web.Models;
@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNModels;

@using USNOptions = USNStarterKit.USNEnums.Options;

@{
    RelatedLinks outroLinks = Model.OutroLinks;

    if (Model.OutroHeading != null || Model.OutroText.HasValue() || outroLinks != null)
    {
        string animateClass = ViewData["animateClass"] != null ? ViewData["animateClass"].ToString() : String.Empty;
        string headingStyle = ViewData["headingStyle"] != null ? ViewData["headingStyle"].ToString() : String.Empty;
        string secondaryHeadingStyle = ViewData["secondaryHeadingStyle"] != null ? ViewData["secondaryHeadingStyle"].ToString() : String.Empty;
        string textStyle = ViewData["textStyle"] != null ? ViewData["textStyle"].ToString() : String.Empty;
        string buttonStyle = ViewData["buttonStyle"] != null ? ViewData["buttonStyle"].ToString() : String.Empty;
        bool addContainer = ViewData["addContainer"] != null ? Convert.ToBoolean(ViewData["addContainer"]) : false;

        string textAlignment;

        switch (Model.OutroTextAlignment)
        {
            case USNOptions.TextAlignment_Left:
                textAlignment = "text-left";
                break;
            case USNOptions.TextAlignment_Center:
                textAlignment = "text-center";
                break;
            case USNOptions.TextAlignment_Right:
                textAlignment = "text-right";
                break;
            default:
                textAlignment = "text-left";
                break;
        }

        if (addContainer)
        {
            @:<div class="container">
        }

        <!-- ROW - OVERVIEW -->
        <div class="row outro @textAlignment @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0s">
            <div class="info col-md-8 col-xs-12">

                @if (Model.OutroSecondaryHeading.HasValue())
                {
                    <p class="secondary-heading @secondaryHeadingStyle">@Model.OutroSecondaryHeading</p>
                }
                
                @if (Model.OutroHeading != null)
                {
                    @Html.Raw(String.Format("<{0} class=\"heading main {1}\">{2}</{0}>", Model.OutroHeading.HeadingTag, headingStyle, Model.OutroHeading.Text))
                }

                @if (Model.OutroText.HasValue())
                {
                    <div class="text @textStyle">
                        @Html.Raw(Model.OutroText)
                    </div>
                }
                @if (outroLinks != null)
                {
                    <p class="link">
                        @foreach (RelatedLink link in outroLinks)
                        {
                            USNLink outroLink = USNUrlHelper.GetLinkFromRelatedLink(link);

                            if (outroLink != null)
                            {
                                <a role="button" class="btn @buttonStyle" href="@outroLink.LinkURL" @Html.Raw(outroLink.LinkTarget) @Html.Raw(outroLink.LinkTitle)>@outroLink.LinkCaption@Html.Raw(outroLink.LinkIcon)</a>
                            }
                        }
                    </p>
                }
            </div>
        </div>
        <!--// ROW - OVERVIEW -->

        if (addContainer)
        {
            @:</div>
        }
    }
}
