﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.USNModels.USNBaseViewModel>

@using USNStarterKit.USNHelpers;
	
@{
    UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;
    
    if (globalSettings.CompanyName.HasValue() || globalSettings.Address.HasValue() ||
        globalSettings.TelephoneNumber.HasValue() || globalSettings.EmailAddress.HasValue())
    {
        <ul class="company-details">
            @if (globalSettings.CompanyName.HasValue())
            {
                <p class="heading">@globalSettings.CompanyName</p>
            }
            @if (globalSettings.TelephoneNumber.HasValue())
            {
                <li class="footer-phone">@*@umbraco.library.GetDictionaryItem("USN Contact Telephone")*@ @Html.Raw(globalSettings.TelephoneNumber)</li>
            }
            @if (globalSettings.EmailAddress.HasValue())
            {
                <li class="footer-mail">@*@umbraco.library.GetDictionaryItem("USN Contact Email")*@ <a href="mailto:@globalSettings.EmailAddress">@globalSettings.EmailAddress</a></li>
            }
            @if (globalSettings.Address.HasValue())
            {
                <li class="footer-address">
                    <div class="footer-address-container">
                        @Html.Raw(globalSettings.Address)
                    </div>
                </li>
            }
            @if (globalSettings.LocationUrl.HasValue())
            {
                <li class="footer-location"> <a href="@globalSettings.LocationUrl">View on map</a></li>
            }

        </ul> 
    }
}