﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared.SubmitFeedbackForm._SubmitFeedbackFormModel>


@if (!String.IsNullOrEmpty(Model.SubmitFeedbackTitleText))
{
    <h4 class="heading title">@Model.SubmitFeedbackTitleText</h4>
}

@if (!String.IsNullOrEmpty(Model.SubmitFeedbackSubtitleText))
{
    <div class="text base-text">
        <p>@Model.SubmitFeedbackSubtitleText</p>
    </div>
}


<div class="form-group">
    @Html.LabelFor(model => model.SubmittedFeedbackFromJury, new { @class = "label-required" })
    @Html.TextAreaFor(model => model.SubmittedFeedbackFromJury, new { @class = "form-control feedback-area" })
    @Html.ValidationMessageFor(model => model.SubmittedFeedbackFromJury, "")
</div>



@Html.HiddenFor(m => m.SubmissionID)
@Html.HiddenFor(m => m.SubmissionTitle)

<button type="submit" class="btn">@Model.SubmitFeedbackButtonText</button>
