﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.USNModels.USNBaseViewModel>

@using CSTemplate.Code.Models.Components
@using USNStarterKit.USNHelpers;

@{

    UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

    IEnumerable<IPublishedContent> components = null;

    if (Model.Content.GetPropertyValue<bool>("overrideDefaultBottomComponents"))
    {
        if (Model.Content.HasValue("bottomComponents"))
        {
            components = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("bottomComponents");
        }
    }
    else
    {
        if (globalSettings.DefaultBottomComponents.HasValue())
        {
            components = globalSettings.DefaultBottomComponents;
        }
    }


    if (components != null)
    {
        var publishedContents = components as IList<IPublishedContent> ?? components.ToList();

        List<CustomComponentModel> customComponentsToCheckWith = null;

        foreach (IPublishedContent component in publishedContents)
        {

            if (component != null)
            {
                if (customComponentsToCheckWith == null)
                {
                    customComponentsToCheckWith = Model.CustomComponents;
                }

                //custom code
                IComponentModel componentModelToReturn = CSTemplate.Code.Helpers.USkinnedComponentHelpers
                    .GetComponentModelBeforePassingItComponentsSwitch(customComponentsToCheckWith, component, out customComponentsToCheckWith);

                @Html.Partial("USNAdvancedPageComponents/USN_ComponentsSwitch", componentModelToReturn, new ViewDataDictionary { { "globalSettingsID", Model.GlobalSettings.Id } })
            }
        }
    }
}
