﻿
<div ng-controller="AwardEditionList">

    <select ng-model="property.value" disabled>
        <option ng-selected="item.Value == property.value"
                ng-repeat="item in awardEditionList"
                value="{{item.Value}}">
            {{item.Text}}
        </option>
    </select>

</div>