﻿@using CS.Common.Helpers
@using CSTemplate.Code.Constants
@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared._SubmitAwardCountdownModel>
@{
    var countdownClockId = "clockdiv";
}

<section class="award-countdown-section">
    @Html.Raw(Html.CreateImage(Model.BackgroundImgUrl, new int[] { ConstantValues.GeneralImageSizeSmall, ConstantValues.GeneralImageSizeMedium, ConstantValues.GeneralImageSizeLarge }))
    <div class="countdown-title-container">
        <h2 class="section-countdown-title">@Model.SectionTitle</h2>
    </div>
    <div class="countdown-container row" id="@countdownClockId">
        <div class="days-container col-xs-3">
            <span class="days"></span>
            <span class="countdown-text">@Model.CountdownDaysText</span>
        </div>
        <div class="vertical-line col-xs-1"></div>
        <div class="hours-container col-xs-3">
            <span class="hours"></span>
            <span class="countdown-text">@Model.CountdownHoursText</span>
        </div>
        <div class="vertical-line col-xs-1"></div>
        <div class="min-container col-xs-3">
            <span class="minutes"></span>
            <span class="countdown-text">@Model.CountdownMinText</span>
        </div>
    </div>
</section>

<script>
    function getTimeRemaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        //var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        return {
            'total': t,
            'days': days,
            'hours': hours,
            'minutes': minutes,
          //  'seconds': seconds
        };
    }

    function initializeClock(id, endtime) {
        var clock = document.getElementById(id);
        var daysSpan = clock.querySelector('.days');
        var hoursSpan = clock.querySelector('.hours');
        var minutesSpan = clock.querySelector('.minutes');
        //var secondsSpan = clock.querySelector('.seconds');

        function updateClock() {
            var t = getTimeRemaining(endtime);

            daysSpan.innerHTML = ('0' + t.days).slice(-2);
            hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
            minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
           // secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

            if (t.total <= 0) {
                clearInterval(timeinterval);
            }
        }

        updateClock();
        var timeinterval = setInterval(updateClock, 1000);
    }
    
    var deadline = new Date(Date.parse('@Model.DeadlineDateTime'));
    initializeClock('@countdownClockId', deadline);


 
</script>

