﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.Shortlist_Photos._ShortListFilterFormModel>

<script>
    $(function () {
        
        
        $("#AwardEditionList").change(function () {
            var awardEditionId = $(this).val();
            var categories = $("#AwardEditionCategoryList");
            categories.empty();
            categories.append("<option value=''> -- Select Award Edition Category -- </option>");
            if (awardEditionId > 0) {
               
                var sourceUrl = "/Umbraco/Api/AwardEditionCategoriesApi/GetAwardEditionCategories?awardEditionId=" + awardEditionId;
               
                $.post(sourceUrl, function (data) {
                    categories.empty();
                    categories.append("<option value=''> -- Select Award Edition Category -- </option>");
                    for (var i = 0; i < data.length; i++) {
                        
                        categories.append("<option value=" + data[i].Value + ">" + data[i].Text + "</option>");
                    }
                    
                   
                });
                
            }
            
            
        });
        

    });
</script>
    
<div class="container-fluid container-fluid-padding">
        <div class="text base-text showing-result float-left">
            <p>
               @Model.Title

            </p>
        </div>

        <div class="form-group">
            <label for="SearchKey">
                @Model.SearchKeyFilterLabelText
            </label>
            @Html.TextBoxFor(x => x.SearchKey, new { @class = "form-control", id = "SearchKey", @placeholder = "Search Key" })
        </div>
        <div class="form-group">
            <label for="AwardEditionId">
                @Model.AwardEditonLabelText
            </label>
            @Html.DropDownListFor(x => x.AwardEditionId, new SelectList(Model.AwardEditionList, "AwardItemId", "AwardItemName"), "-- Select Award Edition --", new { @class = "form-control", id = "AwardEditionList" })
        </div>

        <div class="form-group">
            <label for="AwardEditionCategoryId">
                @Model.AwardEditonCategoryLabelText
            </label>
            @Html.DropDownListFor(x => x.AwardEditionCategoryId, new List<SelectListItem>(), "-- Select Award Edition Category --", new { @class = "form-control", id = "AwardEditionCategoryList" })
        </div>

        <div class="form-group">
            <label for="DateandNameFilter">
                @Model.SubmissionFilterLabelText
            </label>
            @Html.EnumDropDownListFor(model => model.DateandNameFilter, "-- Select Filter --", new { @class = "form-control", id = "DateandNameFilter" })
        </div>
        <div class="form-group">
            <label for="ShortListStatusFilter">
                @Model.ShortListStatusLabelText
            </label>
            @Html.EnumDropDownListFor(model => model.ShortListStatusFilter, "-- Select Filter --", new { @class = "form-control", id = "ShortListStatusFilter" })
        </div>


        <button class="btn">@Model.FilterButtonText</button>
    </div>


