﻿.usn-cms.forms-option *,
.usn-cms.forms-option ::after,
.usn-cms.forms-option ::before {
    box-sizing: border-box;
}

.usn-cms.forms-option {
    font-family: 'Lato', sans-serif;
}

.usn-cms.forms-option p.heading {
    margin-bottom: 30px;
    display: block;
    margin: 20px 0 10px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.usn-cms.forms-option .item {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 120px;
    padding: 15px;
    margin: 0 5px 5px 0;
    cursor: pointer;
    background: #f3f3f5;
    border-radius: 5px;
}

.usn-cms.forms-option .item input {
    display: none;
}

.usn-cms.forms-option .item span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    display: block;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 174, 162, 0);
    box-shadow: 0 0 10px rgba(65, 54, 89, 0);
    transition: border 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s;
    border-radius: 5px;
}

.usn-cms.forms-option .item span:hover {
    border-color: rgba(65, 54, 89, 0.25);
    box-shadow: 0 0 10px rgba(65, 54, 89, 0.1);
}

.usn-cms.forms-option .item input[type="radio"]:checked+span,
.usn-cms.forms-option .item input[type="checkbox"]:checked+span {
    border-color: rgba(0, 174, 162, 1);
    box-shadow: 0 0 10px rgba(0, 174, 162, 0.1);
    opacity: 1;
}

.usn-cms.forms-option .item .inner {
    position: relative;
    width: 50px;
    height: 60px;
    display: block;
    margin: 0 auto;
}

.usn-cms.forms-option .item .image {
    width: 50px;
    height: 40px;
    border: 2px solid rgba(65, 54, 89, 1);
    border-radius: 3px;
}

.usn-cms.forms-option .item .heading {
    width: 35px;
    height: 2px;
    margin-top: 5px;
    background: rgba(65, 54, 89, 1);
}

.usn-cms.forms-option .item .text {
    position: relative;
    overflow: visible;
    width: 30px;
    height: 2px;
    margin-top: 3px;
    background: rgba(65, 54, 89, 0.5);
}

.usn-cms.forms-option .item .name {
    position: absolute;
    right: 0;
    bottom: 15px;
    left: 0;
    z-index: 12;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
    color: rgba(65, 54, 89, 1);
}


/* FORMS OPTION */

.usn-cms.forms-option .item {}

.usn-cms.forms-option .item .inner {
    position: relative;
    width: 100%;
}

.usn-cms.forms-option .item .name {
    padding: 0 10px;
}

.usn-cms.forms-option .item svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: auto;
    transform: translate(-50%, -50%);
}

.usn-cms.forms-option .item.layout-1 svg {
    width: 70px;
}

.usn-cms.forms-option .item.layout-2 svg {
    width: 70px;
}