﻿@using CS.Common.Helpers
@using CSTemplate.Code.Constants
@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared._ItemPhotoModel>


@{ 
    string SingleSubmissionUrl = ConstantValues.SubmissionUrl;
    string SubmissionTitleToUrl = TextHelpers.GenerateSlugForUrl(@Model.ItemPhotoTitle);

}

<div class="photo-card-container">

    <div class="featured-image-container">
        @Html.Raw(Html.CreateImage(Model.ItemPhotoImgURL, new int[] {ConstantValues.GeneralImageSizeSmall, ConstantValues.GeneralImageSizeMedium }))

        <a data-toggle="modal" data-target=".photo-full-page-modal" class="photo-full-information" data-url="@SingleSubmissionUrl/@SubmissionTitleToUrl-@Model.SubmissionId">

            @if (!String.IsNullOrEmpty(Model.ItemPhotoName))
            {
                <span class="photo-name">@Model.ItemPhotoName</span>
            }

            <span class="photo-date">@Model.ItemPhotoDate.ToString("MMM yyyy")</span>

            @if (!String.IsNullOrEmpty(Model.ItemPhotoAward))
            {
                <span class="photo-award">@Model.ItemPhotoAward</span>
            }

            @if (!String.IsNullOrEmpty(Model.ItemPhotoLocation))
            {
                <span class="photo-location">@Model.ItemPhotoLocation</span>
            }

            @if (!String.IsNullOrEmpty(Model.ItemPhotoDescription))
            {
                @*<span class="photo-description">@Model.ItemPhotoDescription</span>*@
            }

        </a>

        @if (!String.IsNullOrEmpty(Model.ItemPhotoName))
        {
            <div class="photo-name-container">
                <span class="featured-photo-name">@Model.ItemPhotoName</span>
            </div>
        }

    </div>



    @if (!String.IsNullOrEmpty(Model.CurrentSubmissionStatus))
    {
        <div class="info-container">

            <div class="status-info">
                <span class="status-text">@Model.SubmissionStatusTitleText</span>
                <span class="current-status">@Model.CurrentSubmissionStatus</span>
            </div>

        </div>
    }

    @if (Model.ShowShortlistRadioButtons)
    {
        <div class="info-container">

            <div class="status-info">

                    <span class="status-text">@Model.SubmissionStatusTitleText</span>
                    <div class="checkboxes-container">
                        
                            @foreach (var button in @Model.ListOfRadiosValues)
                            {
                                //if(button == "Not yet")

                                <label>
                                    @Html.RadioButtonFor(m => m.ChosenRadioValue, button)
                                    @button.Text

                                </label>

                            }
                        

                        @Html.HiddenFor(m => m.SubmissionId)
                    </div>
            
               



                @*@Html.RadioButtonFor(x => x.Gender, "Male", new { @checked = "checked" })*@



            </div>

        </div>
    }



</div>

