﻿@*this is a modal just for testing purposes. Don't delete*@

<div class="modal fade bs-example-modal-lg photo-full-page-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="imageFullPage">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            <div class="site-loaded">
                <div class="loader"></div>
                <iframe id="photo-full-page-iframe"
                        title="photo-full-page"
                        src=""></iframe>
            </div>
        </div>



    </div>

</div>
