﻿@using CS.Common.Helpers
@using CSTemplate.Code.Constants
@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared._FooterPaymentMethodModel>



        <div class="title-img-container">
            @Html.Raw(Html.CreateImage(Model.FooterPhotoTitleImgURL, new int[] {ConstantValues.GeneralImageSizeSmall, ConstantValues.GeneralImageSizeMedium, ConstantValues.GeneralImageSizeLarge}))
        </div>   
    <div class="description-text-container">
        <span class="footer-text">@Model.FooterText</span>
    </div>

    @*<div class="row payment-method-img">
        <div class="col-xs-12 payment-method-text">@Model.FooterPaymentMethodText</div>
        <div class="col-xs-4 col-sm-3 pay-method">@Html.Raw(Html.CreateImage(Model.FooterPaymentMethodImgURL1, new int[] {ConstantValues.GeneralImageSizeSmall, ConstantValues.GeneralImageSizeMedium, ConstantValues.GeneralImageSizeLarge}))</div>
        <div class="col-xs-4 col-sm-3 pay-method">@Html.Raw(Html.CreateImage(Model.FooterPaymentMethodImgURL2, new int[] {ConstantValues.GeneralImageSizeSmall, ConstantValues.GeneralImageSizeMedium, ConstantValues.GeneralImageSizeLarge}))</div>
        <div class="col-xs-4 col-sm-3 pay-method-mastercard">@Html.Raw(Html.CreateImage(Model.FooterPaymentMethodImgURL3, new int[] {ConstantValues.GeneralImageSizeSmall, ConstantValues.GeneralImageSizeMedium, ConstantValues.GeneralImageSizeLarge}))</div>
    </div>*@
