﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared.RequestFeedbackForSubmissionForm._RequestFeedbackForSubmissionFormModel>


<div class="request-feedback">
    <h4 class="heading title">@Model.RequestFeedbackTitleText</h4>

    <div class="text base-text">
        <p>@Model.RequestPhotoFeedbackDescription</p>
    </div>
    @Html.HiddenFor(m => m.SubmissionID)

    <button class="btn">@Model.RequestFeedbackButtonText</button>
</div>





