﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.USNModels.USNBaseViewModel>

@using USNStarterKit.USNHelpers;

@{
    UsnglobalSettings globalSettings = (UsnglobalSettings) Model.GlobalSettings;

    if (globalSettings.Enable)
    {
        <!-- COOKIE NOTICE -->
        <div class="cookie-notice text-center c5-bg closed">
            <div class="container">
                <!-- ROW -->
                <div class="row">
                    <div class="col-md-9 col-sm-8 col-xs-12">

                        @if (globalSettings.NotificationSecondaryHeading.HasValue())
                        {
                            <p class="secondary-heading c1-text">@globalSettings.NotificationSecondaryHeading</p>
                        }

                        @if (globalSettings.NotificationHeading.HasValue())
                        {
                            <p class="heading c3-text">@globalSettings.NotificationHeading</p>
                        }

                        @if (globalSettings.NotificationText.HasValue())
                        {
                            <div class="text base-text">
                                @Html.Raw(globalSettings.NotificationText)
                            </div>
                        }
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p class="link"><a class="btn c1-bg c5-text accept-cookies" href="#">@globalSettings.AcceptNotificationButtonText</a>
                        </p>
                    </div>
                </div>
                <!--// ROW -->
            </div>
        </div>
        <!--// COOKIE NOTICE -->
    }
}
