﻿@using CasaSoftUmbracoUSkinnedTemplate.Controllers
@inherits UmbracoViewPage<CSTemplate.Code.Models.ChangePassword.ChangePasswordPageModel>
@{
    Layout = "USNMaster.cshtml";
}

@* the fun starts here *@


@Html.Partial("USNMiscPageElements/USN_StandardPageBannerSection", Model)


<section class="change-password-section">
    @using (Html.BeginUmbracoForm<ChangePasswordFormController>("HandleChangePasswordFormSubmit"))
    {
        @*@Html.Action("GetAntiForgeryToken", "MasterSurface", true)*@

        <div class="change-password-form-container">

            @Html.Partial("ChangePasswordForm/_ChangePasswordForm", Model.ChangePasswordForm)
        </div>

    }

</section>

<script src="~/scripts/InputDangerousCharsRemove.js"></script>



@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", Model)

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "horizontal" }, { "pagetype", "advanced" } })

@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }
    }

    @Html.Raw(" class=\"advanced-page " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}