﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.ContactUs.ContactUsPageModel>
@{
    Layout = "USNMaster.cshtml";
}

@* the fun starts here *@

@using USNStarterKit.USNHelpers;
@Html.Partial("USNMiscPageElements/USN_StandardPageBannerSection", Model)

<section class="contactus-section row">
    
    <div class="contact-location-container col-xs-12 col-sm-12 col-md-6">


        @Html.Partial("ContactUs/_ContactUsInformation", Model)
        
        <div class="location-map-container">
            <h4 class="heading">@Model.LocationMapTitle</h4>
            <div class="map-container">@Html.Raw(@Model.EmbeddedMap)</div>

        </div>
    </div>

    <div class="contact-form col-xs-12 col-sm-12 col-md-6">
        @Html.Partial("ContactUs/_ContactUsForm", Model.ContactUsForm)
    </div>
</section>

@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", Model)

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "horizontal" }, { "pagetype", "advanced" } })

@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }
    }

    @Html.Raw(" class=\"advanced-page " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}