﻿@using CasaSoftUmbracoUSkinnedTemplate.Controllers
@inherits UmbracoViewPage<CSTemplate.Code.Models.ExportMembers.ExportMembersPageModel>
@{
    Layout = "USNMaster.cshtml";
}

@* the fun starts here *@

@*@Html.Partial("USNMiscPageElements/USN_StandardPageBannerSection", Model)*@

<section class="download-shortlist-section">
    <div class="download-shortlist-container">

        @*@using (Html.BeginUmbracoForm<DownloadShortlistPageDataController>("DownloadShortlist"))*@
        @using (Html.BeginForm("ExportMembersPage", "ExportMembersPageData", FormMethod.Post, new { @class = "order-summary-form" }))
        {
            <p>@Model.ExplanationText</p>
            <div class="form-group photo-date-group">
                @Html.LabelFor(x => Model.DateFrom, new { @for = "DateFrom_1",@style="text-align:left" })
                @Html.TextBoxFor(x => Model.DateFrom, new { @class = "form-control timepicker", id = "Date_From", type = "text" })

            </div>
            <div class="form-group photo-date-group">
                @Html.LabelFor(x => Model.DateTo, new { @for = "DateTo_1", @style = "text-align:left" })
                @Html.TextBoxFor(x => Model.DateTo, new { @class = "form-control timepicker", id = "Date_To", type = "text" })


            </div>
            <button class="btn">@Model.ButtonText <span class="download-icon"></span></button>
        }
    </div>
</section>
@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", Model)

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "horizontal" }, { "pagetype", "advanced" } })

@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }
    }

    @Html.Raw(" class=\"advanced-page " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}

@section FooterScripts{
    <script>

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        today = yyyy + '-' + mm + '-' + dd;
        $('.timepicker').each(function() {
            $(this).attr('max', today);


        });

        //initially run a datepicker
        runDatePicker();

  

      

        function runDatePicker() {

            $('.timepicker').each(function() {
                if ($(this).hasClass('hasDatepicker')) {
                    $(this).removeClass('hasDatepicker');
                }

                $(this).attr('value', today);

                $("[id*='Date_']").val(today);

                $(this).datepicker({
                    maxDate: '0',
                    minDate: new Date(1899, 1 - 1, 1),
                    dateFormat: "yy-mm-dd",

                });
            });

        }

    </script>
}