﻿

@inherits UmbracoViewPage<CSTemplate.Code.Models.MembersArea.MembersAreaPageModel>

@using CS.Common.Helpers
@using Umbraco.Web.Models;
@using USNStarterKit.USNModels;
@using USNStarterKit.USNHelpers;
@{
    Layout = "USNMaster.cshtml";
}


@Html.Partial("USNMiscPageElements/USN_StandardPageBannerSection", Model)
@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", Model)



@{
    Usnnavigation navigation = (Usnnavigation)Model.Navigation;


    <div class="members-area-dashboard container-fluid-padding">

        @if (Umbraco.MemberIsLoggedOn())
        {
            RelatedLinks loggedInMembersNavigation = navigation.LoggedInMembersNavigation;

            <div class="dashboard-list" role="menu">
                @if (loggedInMembersNavigation != null)
                {
                    foreach (RelatedLink link in loggedInMembersNavigation)
                    {
                        USNLink memberLink = USNUrlHelper.GetLinkFromRelatedLink(link);

                        if (Umbraco.MemberHasAccess(memberLink.InternalNode.Path))
                        {
                            if (memberLink != null && ((memberLink.InternalNode != null && memberLink.InternalNode.IsVisible()) || (memberLink.LinkURL != String.Empty)))
                            {

                                <div class="members-area-tile">
                                    <div class="single-tile">
                                        <a href="@memberLink.LinkURL" @Html.Raw(memberLink.LinkTarget) @Html.Raw(memberLink.LinkTitle)><span class="tile-caption">@memberLink.LinkCaption@Html.Raw(memberLink.LinkIcon)</span></a>
                                    </div>
                                </div>
                            }
                        }
                    }
                }

            </div>

        }


    </div>


}





@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "horizontal" }, { "pagetype", "advanced" } })

@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }
    }

    @Html.Raw(" class=\"advanced-page " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}

