﻿@using CasaSoftUmbracoUSkinnedTemplate.Controllers
@inherits UmbracoViewPage<CSTemplate.Code.Models.MyProfile.MyProfilePageModel>
@{
    Layout = "USNMaster.cshtml";
}

@* the fun starts here *@


@Html.Partial("USNMiscPageElements/USN_StandardPageBannerSection", Model)

<section class="profile-form-section">

    @using (Html.BeginUmbracoForm<UpdateProfileFormController>("HandleUpdateProfileFormSubmit"))
    {

        @*@Html.Action("GetAntiForgeryToken", "USNBase", true)*@
        <div class="profile-form-container">

            @if (!String.IsNullOrEmpty(Model.SuccessMessage))
            {
                <div class="success-message">
                    @Model.SuccessMessage
                </div>
            }


            @Html.ValidationSummary()

            @Html.Partial("RegisterForm/_RegisterForm", Model.UpdateProfileFormModel)

        </div>
    }

</section>


@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", Model)

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "horizontal" }, { "pagetype", "advanced" } })

@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }
    }

    @Html.Raw(" class=\"advanced-page " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}