﻿@using CasaSoftUmbracoUSkinnedTemplate.Controllers.Shared.SurfaceControllers
@using CS.Common.Helpers
@using CSTemplate.Code.Constants
@inherits UmbracoViewPage<CSTemplate.Code.Models.OrderHistory.OrderHistoryPageModel>
@{
    Layout = "USNMaster.cshtml";
}

@* the fun starts here *@



@Html.Partial("USNMiscPageElements/USN_StandardPageBannerSection", Model)
<section class="order-history-section">
    <p>@Model.Pagination.ShowingResultsOfPagesText orders</p>
    <div class="order-history-table-container">
        <table class="order-history-table">

            <tr>
                <th>@Model.TableDateText</th>
                <th>@Model.TableOrdeNumberText</th>
                <th>@Model.TableStatusText</th>
                <th>@Model.TableDescriptionText</th>
                <th>@Model.TableTotalText</th>
            </tr>
            @{

                foreach (var order in @Model.ListOfOrders)
                {
                    <tr>
                        <td>@order.OrderDate.ToString("dd MMM yyyy")</td>
                        <td>


                            @if (order.OrderStatus == EnumHelpers.GetDescriptionAttributeValue(Enums.PaymentStatus.Recevied) || order.OrderStatus==EnumHelpers.GetDescriptionAttributeValue(Enums.PaymentStatus.NOTOK))
                            {
                                <a href="@order.OrderLinkUrl">#@order.OrderNumber - go to payment</a>

                                using (Html.BeginUmbracoForm("HandleDeleteRecordFromOrderHistory", "DeleteRecordFromOrderHistory", FormMethod.Post, new { target = "_top", onsubmit = "return confirm('Are you sure? If you delete the transaction you will not be able to revert it back and repay.');" }))
                                {
                                    @Html.Partial("DeleteOrderForm/_DeleteOrderForm", order, new ViewDataDictionary()
                                    {
                                        TemplateInfo = new TemplateInfo()
                                        {
                                            HtmlFieldPrefix = "OrderHistoryItemForForm"
                                        }
                                    })
                                    <button type="submit" class="btn">Delete pending order</button>
                                }
                            }
                            else
                            {
                                <a href="@order.OrderLinkUrl">#@order.OrderNumber</a>
                            }





                        </td>
                        <td>@order.OrderStatus</td>

                        <td>@order.OrderDescription</td>
                        <td> <span>€</span> @order.OrderTotal </td>
                    </tr>
                }
            }

        </table>
    </div>



    @if (Model.Pagination.Pages != null && Model.Pagination.Pages.Any())
    {

        @Html.Partial(MVC.Shared.Views.Common._Pager, @Model.Pagination)

    }
</section>

@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", Model)

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "horizontal" }, { "pagetype", "advanced" } })

@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }
    }

    @Html.Raw(" class=\"advanced-page " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}
