﻿@using System.Web.Mvc.Html
@using CasaSoftUmbracoUSkinnedTemplate.Controllers
@using CasaSoftUmbracoUSkinnedTemplate.Controllers.Payment
@inherits UmbracoViewPage<CSTemplate.Code.Models.OrderSummary.OrderSummaryPageModel>
@{
    Layout = "USNMaster.cshtml";
}

@* the fun starts here *@

@Html.Partial("USNMiscPageElements/USN_StandardPageBannerSection", Model)
<section class="order-summary-section">
    @{
        if (!@Model.IsAStoryTelling)
        {
            
            <div class="order-table">
                <div class="table-header-container">
                    <div class="photo-title-container-photo">@Model.TablePhotoTitle</div>
                    <div class="price-title-container-photo"> <span class="price-title-text">@Model.TablePriceTitle</span> </div>
                </div>
                @{

                    foreach (var orderPhoto in Model.ListOfOrderPhotos)
                    {
                        @Html.Partial("OrderSummary/_OrderPhoto", orderPhoto);
                    }

                }
                <div class="table-footer-container">
                    <div class="subtotal-price-container">@Model.TableSubtotalTitle</div>
                    <div class="price-container"><span>€  </span> @Model.SubtotalPrice </div>
                </div>

            </div>
        }
        else
        {

            <div class="order-table">
                <div class="table-header-container">
                    <div class="photo-title-container-storytelling">@Model.TablePhotoTitle</div>
                    <div class="price-title-container-storytelling"> <span class="price-title-text">@Model.TablePriceTitle</span> </div>
                </div>
                @{

                    foreach (var orderStoryTelling in Model.ListOfOrderPhotos)
                    {
                        @Html.Partial("OrderSummary/_OrderStoryTelling", orderStoryTelling);
                    }

                }
                <div class="table-footer-container">
                    <div class="subtotal-price-container">@Model.TableSubtotalTitle</div>
                    <div class="price-container"><span>€  </span> @Model.SubtotalPrice </div>
                </div>

            </div>
        }

    }


    @using (Html.BeginForm("ProceedToPayment", "PaymentPageSurface", FormMethod.Post, new { @class = "order-summary-form" }))
    {
        <div class="form-group checkbox-container">
            <label class="label-required checkbox-label" for="TermsConditions">
                @Html.HiddenFor(m => Model.True)
                @Html.CheckBoxFor(x => Model.TermsConditions, new { @class = "checkbox-input" })
                <span class="checkmark"></span>
                @Html.Raw(Model.AwardRulesTermsAndConditionsText)

            </label>
            @Html.ValidationMessageFor(x => Model.TermsConditions, "")

        </div>

        @*@Html.AntiForgeryToken()*@
        @Html.HiddenFor(x => x.OrderRefId);
        @Html.HiddenFor(x => x.ClientEmailAddress);
        @Html.HiddenFor(x => x.TransactionDescription);
        @Html.HiddenFor(x => x.SubtotalPrice);
        <div class="order-btn-container">
            <button type="submit" class="btn"> <span>@Model.ButtonText</span> </button>
        </div>
    }


</section>

@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", Model)

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "horizontal" }, { "pagetype", "advanced" } })

@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }
    }

    @Html.Raw(" class=\"advanced-page " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}
