﻿@using System.Web.Mvc.Html
@using CasaSoftUmbracoUSkinnedTemplate.Controllers
@using CasaSoftUmbracoUSkinnedTemplate.Controllers.Payment
@using CS.Common.Helpers
@using CSTemplate.Code.Constants

@inherits UmbracoViewPage<CSTemplate.Code.Models.OrderSummary.OrderSummaryPageModel>
@{
    Layout = "USNMaster.cshtml";
}

@* the fun starts here *@

@Html.Partial("USNMiscPageElements/USN_StandardPageBannerSection", Model)
<section class="order-summary-section">
    @{
        if (!@Model.IsAStoryTelling)
        {

            <div class="order-table">
                <div class="table-header-container">
                    <div class="photo-title-container-photo">@Model.TablePhotoTitle</div>
                    <div class="price-title-container-photo"> <span class="price-title-text">@Model.TablePriceTitle</span> </div>
                </div>
                @{

                    foreach (var orderPhoto in Model.ListOfOrderPhotos)
                    {
                        @Html.Partial("OrderSummary/_OrderPhoto", orderPhoto);
                    }

                }
                <div class="table-footer-container">
                    <div class="subtotal-price-container">@Model.TableSubtotalTitle</div>
                    <div class="price-container"><span class="price-text"> <span>€  </span> @Model.SubtotalPrice</span> </div>
                </div>

            </div>
        }
        else
        {

            <div class="order-table">
                <div class="table-header-container">
                    <div class="photo-title-container-storytelling">@Model.TablePhotoTitle</div>
                    <div class="price-title-container-storytelling"> <span class="price-title-text">@Model.TablePriceTitle</span> </div>
                </div>
                @{

                    foreach (var orderStoryTelling in Model.ListOfOrderPhotos)
                    {
                        @Html.Partial("OrderSummary/_OrderStoryTelling", orderStoryTelling);
                    }

                }
                <div class="table-footer-container">
                    <div class="subtotal-price-container">@Model.TableSubtotalTitle</div>
                    <div class="price-container"><span>€  </span> @Model.SubtotalPrice </div>
                </div>

            </div>
        }

    }


        @Html.Partial("PaymentButtons/_PaymentButtons", Model.PaymentButtons)


</section>

@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", Model)

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "horizontal" }, { "pagetype", "advanced" } })

@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }
    }

    @Html.Raw(" class=\"advanced-page " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}
