﻿@using CasaSoftUmbracoUSkinnedTemplate.Controllers
@inherits UmbracoViewPage<CSTemplate.Code.Models.ResetPassword.ResetPasswordPageModel>
@{
    Layout = "USNMaster.cshtml";
}

@* the fun starts here *@
@Html.Partial("USNMiscPageElements/USN_StandardPageBannerSection", Model)

<section class="reset-password-form-section">

    <div class="message">@Model.ResetPasswordMessage</div>

    @{
        if (Model.UserCanResetPassword)
        {
            using (Html.BeginUmbracoForm<ResetPasswordFormController>("HandleResetPasswordFormSubmit"))
            {

                @*@Html.Action("GetAntiForgeryToken", "MasterSurface", true)*@

                <div class="reset-password-form-container">
                    <div class="reset-password-form">
                        @Html.ValidationSummary()
                        @Html.Partial("ResetPasswordForm/_ResetPasswordForm", Model.ResetPasswordForm)
                    </div>
                </div>

            }

        }
    }

</section>



@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", Model)

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "horizontal" }, { "pagetype", "advanced" } })

@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }
    }

    @Html.Raw(" class=\"advanced-page " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}