﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.SubmitPhotos.SubmitPhotoPageModel>
@{
    Layout = "USNMaster.cshtml";
}

@* the fun starts here *@


@Html.Partial("Loader/_Loader", Model.LoaderPageModel)

@Html.Partial("USNMiscPageElements/USN_StandardPageBannerSection", Model)
<section class="submit-photo-section">
    <div class="body-text-container">
        <p class="explanation-text">@Model.ExplanationText</p>
        <p class="explanation-text">@Model.SubExplanationText</p>
        <p class="explanation-text">@Model.BrowserSuggestionText</p>

    </div>
    @Html.Partial("SubmitPhotoForm/_SubmitPhotoForm", Model.SubmitPhotoForm)

</section>

@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", Model)

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "horizontal" }, { "pagetype", "advanced" } })

@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }
    }

    @Html.Raw(" class=\"advanced-page " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}
@section FooterScripts{
    <script>

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        today = yyyy + '-' + mm + '-' + dd;
        $('.timepicker').each(function () {
            $(this).attr('max', today);


        });

        //initially run a datepicker
        runDatePicker();
        showPreLoader();
        controlFileSize();

        var current_id = 1;
        var currentItems = 1;
        var idList = 1;
        var selectOfSubmitPhotosTextValue = $('option:checked').text();
        var numberOfSubmitPhotos = parseInt(selectOfSubmitPhotosTextValue);
        var submitPhotoElement = $("#SubmitPhoto_1");
        updateTitleNumber(submitPhotoElement);
        changeItems(submitPhotoElement, currentItems, numberOfSubmitPhotos);
        $('.selectInput').change(function () {
            
            currentItems = document.querySelectorAll('.submit-photo-form').length;
            selectOfSubmitPhotosTextValue = $('option:checked').text();
            numberOfSubmitPhotos = parseInt(selectOfSubmitPhotosTextValue);
            changeItems(submitPhotoElement, currentItems, numberOfSubmitPhotos);
            controlFileSize();
            runDatePicker();
            
        });

        function changeItems(element, numberOfCurrentItems, newNumberOfItems) {
            if (numberOfCurrentItems != newNumberOfItems) {
                if (numberOfCurrentItems < newNumberOfItems) {
                    for (var i = numberOfCurrentItems + 1; i <= newNumberOfItems; i++) {
                        var newElement = element.clone();
                        var id = current_id + 1;

                        current_id = id;
                        newElement.attr("id", element.attr("id").split("_")[0] + "_" + id);
                        updateTitleNumber(newElement);

                        var photoTitleField = $('input.photo-title', newElement).attr("id");
                        $('input.photo-title', newElement).attr("id", photoTitleField.split("_")[0] + "_" + id).val("");
                        $('input.photo-title', newElement)
                            .attr("name", "ListOfSubmitPhotos[" + idList + "].PhotoTitle");
                        $('label.label-title', newElement).attr("for", photoTitleField.split("_")[0] + "_" + id);
                        var photoCategoryField = $('select.photo-category', newElement).attr("id");
                        $('select.photo-category', newElement).attr("id", photoCategoryField.split("_")[0] + "_" + id);
                        $('select.photo-category', newElement)
                            .attr("name", "ListOfSubmitPhotos[" + idList + "].CategorySelected");
                        $('label.label-category', newElement).attr("for", photoCategoryField.split("_")[0] + "_" + id);

                        var photoFileField = $('input.photo-file', newElement).attr("id");
                        $('input.photo-file', newElement).attr("id", photoFileField.split("_")[0] + "_" + id).val("");
                        $('input.photo-file', newElement)
                            .attr("name", "ListOfSubmitPhotos[" + idList + "].SubmitPhoto");
                        $('label.label-file', newElement).attr("for", photoFileField.split("_")[0] + "_" + id);


                        var photoDateField = $('input.timepicker', newElement).attr("id");
                        $('input.timepicker', newElement).attr("id", photoDateField.split("_")[0] + "_" + id).val("");
                        $('input.timepicker', newElement).attr("name", "ListOfSubmitPhotos[" + idList + "].PhotoDate");
                        $('label.label-timepicker', newElement).attr("for", photoDateField.split("_")[0] + "_" + id);
                        //var photoLocationField = $('input.photo-location', newElement).attr("id");
                        //$('input.photo-location', newElement).attr("id", photoLocationField.split("_")[0] + "_" + id).val("");
                        //$('input.photo-location', newElement).attr("name", "ListOfSubmitPhotos[" + idList + "].Location");
                        var photoDescription = $('textarea.photo-description', newElement).attr("id");
                        $('textarea.photo-description', newElement)
                            .attr("id", photoDescription.split("_")[0] + "_" + id).val("");

                        $('textarea.photo-description', newElement).attr("name",
                            "ListOfSubmitPhotos[" + idList + "].DescriptionPhoto");

                        $('label.label-description', newElement).attr("for", photoDescription.split("_")[0] + "_" + id);
                        var photoFeedbackTrue = $('input.photo-feedback_true', newElement).attr("id");
                        $('input.photo-feedback_true', newElement).attr("id",
                            photoFeedbackTrue.split("_")[0] + "_" + id + "_true" + "_" + id);
                        $('input.photo-feedback_true', newElement)
                            .attr("name", "ListOfSubmitPhotos[" + idList + "].FeedBackRequest");
                        $('label.label-true', newElement).attr("for",
                            photoFeedbackTrue.split("_")[0] + "_" + id + "_true" + "_" + id);
                        var photoFeedbackFalse = $('input.photo-feedback_false', newElement).attr("id");
                        $('input.photo-feedback_false', newElement).attr("id",
                            photoFeedbackFalse.split("_")[0] + "_" + id + "_false" + "_" + id);
                        $('input.photo-feedback_false', newElement).attr("name",
                            "ListOfSubmitPhotos[" + idList + "].FeedBackRequest");
                        $('label.label-false', newElement).attr("for",
                            photoFeedbackTrue.split("_")[0] + "_" + id + "_false" + "_" + id);

                        //Radek customisation - added working validation messages to the fields even if there are multiple instances of the same form

                        $('.photo-title-group .title-validation-field', newElement).attr("data-valmsg-for",
                            "ListOfSubmitPhotos[" + idList + "].PhotoTitle");

                        $('.photo-upload-group .photo-upload-validation-field', newElement).attr("data-valmsg-for",
                            "ListOfSubmitPhotos[" + idList + "].SubmitPhoto");

                        $('.photo-date-group .photo-date-validation-field', newElement).attr("data-valmsg-for",
                            "ListOfSubmitPhotos[" + idList + "].PhotoDate");

                        $('.photo-description-group .photo-description-validation-field', newElement).attr("data-valmsg-for",
                            "ListOfSubmitPhotos[" + idList + "].DescriptionPhoto");

                        idList += 1;
                        newElement.appendTo(".submit-photos-form-container");

                        $(".submit-photos-form").valid(); //Radek - I am validating the whole form to make it easy for the user to tell which fields have to be filled in.
                    }
                } else {
                    for (var i = newNumberOfItems + 1; i <= numberOfCurrentItems; i++) {
                        var removeDivName = "SubmitPhoto_" + i;
                        current_id -= 1;
                        idList -= 1;
                        document.getElementById(removeDivName).remove();
                    }
                }
            }
        }

        function updateTitleNumber(element) {
            $("span.photo-number", element).text(current_id);
        }

        function runDatePicker() {

            $('.timepicker').each(function () {
                if ($(this).hasClass('hasDatepicker')) {
                    $(this).removeClass('hasDatepicker');
                }

                $(this).attr('value', today);

                $("[id*='PhotoDate_']").val(today);

                $(this).datepicker({
                    maxDate: '0',
                    minDate: new Date(1899, 1 - 1, 1),
                    dateFormat: "yy-mm-dd",

                });
            });

        }
        function controlFileSize() {
            $("[id*='PhotoFile_']").on('change', function () {
                //FileSize Calculation.
                var numb = $(this)[0].files[0].size / 1024 / 1024;
                numb = numb.toFixed(2);
                if (numb > 100) {
                    alert('The maximum allowed is 100Mb. Please split the submission into multiple photos to reduce this size.');
                    $(this).val('');
                } 

            });
            
        }

        function showPreLoader() {
            $('.submit-photos-form').submit(function () {
                var valRes = $(".submit-photos-form").valid();
                if (valRes) {
                    $('#preloader-background').show();
                    uploadFile();
                }

            });

        }

        var pbar = $('#loaderPercentage'), currentProgress = 0;
        function trackUploadProgress(e) {
            if (e.lengthComputable) {
                currentProgress = (e.loaded / e.total) * 100; // Amount uploaded in percent
                $(pbar).html(parseInt(currentProgress) + '%');

                if (currentProgress == 100)
                    $(pbar).html(currentProgress + '%<br>Please waiting for checkout page redirection!');
            }
        }

        function uploadFile() {
            var formdata = new FormData($('form')[0]);
            $.ajax(
                {
                    type: 'post',
                    data: formdata,
                    xhr: function () {
                        // Custom XMLHttpRequest
                        var appXhr = $.ajaxSettings.xhr();

                        // Check if upload property exists, if "yes" then upload progress can be tracked otherwise "not"
                        if (appXhr.upload) {
                            // Attach a function to handle the progress of the upload
                            appXhr.upload.addEventListener('progress', trackUploadProgress, false);
                        }
                        return appXhr;
                    },
                    
                    error: function () { console.log('Error !'); },

                    // Tell jQuery "Hey! don't worry about content-type and don't process the data"
                    // These two settings are essential for the application
                    contentType: false,
                    processData: false
                })
        }
      
        
    </script>
}

