﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.SubmitStorytelling.SubmitStoryTellingPageModel>
@{
    Layout = "USNMaster.cshtml";
}

@* the fun starts here *@

@Html.Partial("USNMiscPageElements/USN_StandardPageBannerSection", Model)
@Html.Partial("Loader/_Loader", Model.LoaderPageModel)
<section class="submit-storytelling-section">
    <div class="body-text-container">
        <p class="explanation-text">@Model.ExplanationText</p>
        <p class="explanation-text">@Model.ExplanationStoryTelling</p>
        <p class="explanation-text">@Model.ExplanationFileInput</p>
        <p class="explanation-text">@Model.BrowserSuggestionText</p>
    </div>
    @Html.Partial("SubmitStorytellingForm/_SubmitStoryTellingForm", Model.SubmitStoryTellingForm)
</section>

@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", Model)

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "horizontal" }, { "pagetype", "advanced" } })

@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }
    }

    @Html.Raw(" class=\"advanced-page " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}

@section FooterScripts {

    <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        today = yyyy + '-' + mm + '-' + dd;
        $('.timepicker').each(function () {
            $(this).attr('max', today);
        });

        runDatePicker();
        controlFileSize();
        

        function runDatePicker() {

            $('.timepicker').each(function () {
                if ($(this).hasClass('hasDatepicker')) {
                    $(this).removeClass('hasDatepicker');
                }

                $(this).attr('value', today);

                $("[id*='PhotoDate_']").val(today);

                $(this).datepicker({
                    maxDate: '0',
                    minDate: new Date(1899, 1 - 1, 1),
                    dateFormat: "yy-mm-dd",

                });
            });

        }
        $(document).ready(function () {
            $('input').keydown(function (e) {
                if (e.which == 188 && e.shiftKey == true) { // 188 + Shift is <
                    e.preventDefault();
                }
            });
        });

        $(function () {


            $("button[type='submit']").click(function () {
                var $fileUpload = $("input[type='file']");
                $("#PhotoLocation_1-error").parent().remove();
                if (parseInt($fileUpload.get(0).files.length) != 5) {
                    var parent = document.getElementsByClassName("form-group")[0];
                    $(parent).append('<span class="field-validation-error" style="top:175px"><span id="PhotoLocation_1-error" class="">You need to upload exacly 5 photos</span></span>');
                }
                else {
                    var elementControl = elementsValidationControl();
                    if (elementControl === true) {
                        $('#preloader-background').show();
                        uploadFile();
                    }
                }
             
               
            });
            $('form').submit(function () {
                var $fileUpload = $("input[type='file']");
                $("#PhotoLocation_1-error").parent().remove();

                if (parseInt($fileUpload.get(0).files.length) != 5) {
                    var parent = document.getElementsByClassName("form-group")[0];
                    $(parent).append('<span class="field-validation-error" style="top:175px"><span id="PhotoLocation_1-error" class="">You need to upload exacly 5 photos</span></span>');
                    return false;
                }
                else {
                    var elementControl = elementsValidationControl();
                    if (elementControl === true) {
                        $('#preloader-background').show();
                        uploadFile();
                    }
                   
                }
               
               
            });
        });

        function controlFileSize() {
            $("[id*='PhotoFile_']").on('change', function () {
                //FileSize calculation
                var numb = $(this)[0].files[0].size / 1024 / 1024;
                numb = numb.toFixed(2);
                if (numb > 100) {
                    alert('The maximum allowed is 100Mb. Please split the submission into multiple photos to reduce this size.');
                    $(this).val('');
                }

            });

        }

        function elementsValidationControl() {
            if ($("[id*=PhotoTitle_]").val().length <= 0 || $("[id*=PhotoDescription_]").val().length <= 0) {
                return false;
            }
            else {
                return true;
            }

        }

        //function showPreLoader() {
        //    $('.submit-storytelling-form').submit(function () {
        //        var valRes = $(".submit-storytelling-form").valid();
        //        if (valRes) {
        //            $('#preloader-background').show();
        //            uploadFile();
        //        }

        //    });

        //}

        var pbar = $('#loaderPercentage'), currentProgress = 0;
        function trackUploadProgress(e) {
            if (e.lengthComputable) {
                currentProgress = (e.loaded / e.total) * 100; // Amount uploaded in percent
                $(pbar).html(parseInt(currentProgress) + '%');

                if (currentProgress == 100)
                    $(pbar).html(currentProgress + '%<br>Please waiting for checkout page redirection!');
            }
        }

        function uploadFile() {

            var formdata = new FormData($('form')[0]);
            $.ajax(
                {
                    type: 'post',
                    data: formdata,
                    xhr: function () {
                        // Custom XMLHttpRequest
                        var appXhr = $.ajaxSettings.xhr();

                        // Check if upload property exists, if "yes" then upload progress can be tracked otherwise "not"
                        if (appXhr.upload) {
                            // Attach a function to handle the progress of the upload
                            appXhr.upload.addEventListener('progress', trackUploadProgress, false);
                        }
                        return appXhr;
                    },

                    error: function () { console.log('Error !'); },

                    // Tell jQuery "Hey! don't worry about content-type and don't process the data"
                    // These two settings are essential for the application
                    contentType: false,
                    processData: false
                })
        }


    </script>
}