﻿@using CasaSoftUmbracoUSkinnedTemplate.Controllers
@using CS.Common.Helpers
@using CSTemplate.Code.Constants
@inherits UmbracoViewPage<CSTemplate.Code.Models.SubmissionFullPage.SubmissionFullPageModel>

@{
    Layout = "USNMaster.cshtml";
}


<section class="submission-full-page apc container-fluid">

    <h2 class="section-title text-center">@Model.SubmissionTitle</h2>
    @if (!String.IsNullOrEmpty(Model.AuthorOfSubmission))
    {
        <div class="text base-text text-center">
            <p>@Model.AuthorOfSubmission</p>
        </div>
    }

    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="main-container">

                <div class="submission-images-container">

                    @if (Model.ListOfImages != null && Model.ListOfImages.Count > 0)
                    {
                        foreach (var image in Model.ListOfImages)
                        {
                            <div class="current-submission-photos">
                                @Html.Raw(Html.CreateImage(image.ItemPhotoImgURL, new int[] { ConstantValues.GeneralImageSizeSmall, ConstantValues.GeneralImageSizeMedium }))
                                @*<img data-sizes='auto' srcset='{0}' class='{1}' src='{2}'/>*@
                            </div>
                        }
                    }


                </div>


                @if (Model.IsJury && Model.HasBeenSubmittedForFeedback && !Model.FeedbackAlreadyReceived)
                {
                    <div class="submit-photo-feedback">
                        @using (Html.BeginUmbracoForm<SubmitFeedbackFormController>("HandleSubmitFeedbackFormSubmit"))
                        {
                            @*@Html.Action("GetAntiForgeryToken", "MasterSurface", true)*@
                            <div class="submit-photo-feedback-form">
                                @Html.Partial(MVC.Shared.Views.SubmitFeedbackForm._SubmitFeedbackForm, Model.SubmitFeedbackFormModel)
                            </div>
                        }
                    </div>
                }

                @if (!String.IsNullOrEmpty(Model.SuccessMessage))
                {
                    <div class="success-message">
                        @Model.SuccessMessage
                    </div>
                }

                @if (Model.AwardEditionCompleted && Model.IsOwnerOfSubmission && Model.JurySubmittedFeedback)
                {
                    <div class="received-photo-feedback">
                        <h4 class="heading title">@Model.ReceivedFeedbackTitleText</h4>
                        <div class="text base-text">
                            <p>@Model.ReceivedFeedbackContent</p>
                        </div>
                    </div>
                }

                <div class="add-this-container text-center">
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <div class="addthis_inline_share_toolbox"></div>
                </div>



            </div>

        </div>

        <div class="col-xs-12 col-lg-4">

            <div class="row">
                <div class="col-xs-12 sidebar-sections-container-flex">
                    <div class="sidebar-section">

                        <div class="submission-details">
                            <div class="submission-date-place">
                                <span class="photo-date">@Model.SubmissionDate.ToString("dd MMM yyyy")</span>
                                @*<span class="photo-location">@Model.SubmissionLocation</span>*@

                                @if (Model.ListOfImages != null && Model.ListOfImages.Count >= 1)
                                {
                                    <span class="photo-category">@Model.ListOfImages[0].ItemPhotoCategory</span>

                                }



                                <hr />
                            </div>
                            <div class="submission-summary">
                                <div class="text base-text">
                                    <p>@Model.SubmissionDescription</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (Model.IsOwnerOfSubmission && Model.RequestFeedbackSectionVisible)
                    {
                        <div class="sidebar-section">

                            @using (Html.BeginUmbracoForm("HandleRequestFeedbackForSubmission", "RequestFeedbackForSubmission", FormMethod.Post, new { target = "_top" }))
                            {
                                @Html.Partial(MVC.Shared.Views.RequestFeedbackForSubmissionForm.RequestFeedbackForSubmissionForm, Model.RequestFeedbackForSubmissionFormModel)

                            }

                        </div>
                    }



                </div>


            </div>
        </div>
    </div>

    @if (Model.ListingOfAuthorsOtherSubmissions != null)
    {
        if (Model.ListingOfAuthorsOtherSubmissions.ListOfPhotos != null && Model.ListingOfAuthorsOtherSubmissions.ListOfPhotos.Count > 0)
        {
            <div class="other-submisions">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="heading title">@Model.AuthorsOtherSubmissionsParagraph</h4>

                        @Html.Partial(MVC.Shared.Views.ListingItemsAsMasonry._ListingItemsAsMasonryPartial, Model.ListingOfAuthorsOtherSubmissions)

                    </div>
                </div>

            </div>
        }

    }

</section>




@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }
    }

    @Html.Raw(" class=\"advanced-page no-header submission-full-page-body" + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")

}


