﻿@using USNStarterKit.USNHelpers
@inherits UmbracoViewPage<CSTemplate.Code.Models.USNModels.USNBaseViewModel>


@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="@Umbraco.Field("metaDescription")">
    @Html.Partial("USNWebsiteHeadSection/USN_SEOPageHead", Model)

    <!-- WEB FONT -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" media="none" onload="this.media='all';">
    <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" media="none" onload="this.media='all';">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- COMPILED STYLESHEETS -->
    @*our custom css which includes all uskinned styles*@


    <link rel="stylesheet" href="~/css/master.css?v=33" />


    <!-- INTERNAL STYLES -->
    @Html.Partial("USNWebsiteHeadSection/USN_InternalStyles", Model)

    <!--[if IE]>
        <link rel="stylesheet" href="~/css/ie.css">
    <![endif]-->
    <!-- SCRIPTS -->
    <script src="//code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    
    
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="~/scripts/plugins.js"></script>
    <script src="~/scripts/application.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>



    <script src="~/dist/packages/masonry/dist/masonry.pkgd.js"></script>
    <script src="~/dist/packages/imagesloaded/imagesloaded.pkgd.js"></script>




    <script src="~/dist/assets/js/General.js?v=33"></script>




    <!-- ICONS -->
    @Html.Partial("USNWebsiteHeadSection/USN_Icons", Model)

    @RenderSection("Head", false)

    @Html.Partial("USNMiscPageElements/USN_NotificationDurationVariable", Model)

    @Html.Partial("USNWebsiteHeadSection/USN_HeaderScripts", Model)

    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body @RenderSection("BodyTag", false) id="bodyIdentifier">

    @Html.Partial("USNMiscPageElements/USN_AfterOpeningBodyScripts", Model)
    <a class="skip-to-content sr-only" href="#content">Skip to the content</a>
    <!-- SITE -->

<div class="browserupgrade">
    <p>You are using an <strong>outdated</strong> browser.
        <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
</div>

<div id="site">
    @if (!Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
    {
        <!-- HEADER -->
        <header>
            <div class="container">
                <!-- ROW -->
                <div class="row">
                    <!-- LOGO -->
                    @Html.Partial("USNWebsiteHeadSection/USN_WebsiteLogo", Model)
                    <!--// LOGO -->
                    <!-- EXPAND -->
                    <a class="expand"><span>Menu</span></a>
                    <!--// EXPAND -->
                    <!-- NAVIGATION -->
                    <div class="navigation">

                        <!-- REVEAL -->
                        <div class="reveal">

                            @Html.Partial("USNNavigation/USN_CTA", Model)

                            @Html.Partial("USNNavigation/USN_MainNavigation", Model)

                            @*@Html.Partial("USNForms/USN_SearchForm", Model)*@

                            @Html.Partial("USNNavigation/USN_SecondaryNavigation", Model)

                           

                        </div>
                        <!--// REVEAL -->
                    </div>
                    <!--// NAVIGATION -->
                </div>
                <!--// ROW -->
            </div>
        </header>
        <!--// HEADER -->
    }


    @{
        if (TempData["passwordMessageSuccess"].HasValue())
        {
            <div class="alert alert-success msg-container alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>@TempData["passwordMessageSuccess"]</p>
            </div>
        }
        else if (TempData["passwordMessageFail"].HasValue())
        {
            <div class="alert alert-danger msg-container alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>@TempData["passwordMessageFail"]</p>
            </div>
        }
        if (TempData["LoginFailure"].HasValue())
        {
            <div class="alert alert-danger msg-container alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>@TempData["LoginFailure"]</p>
            </div>

        }
        if (TempData["forgotPasswordRequired"].HasValue())
        {
            <div class="alert alert-danger msg-container alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>@TempData["forgotPasswordRequired"]</p>
            </div>

        }
        if (TempData["forgotPasswordEmail"].HasValue())
        {
            <div class="alert alert-danger msg-container alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>@TempData["forgotPasswordEmail"]</p>
            </div>

        }
        if (TempData["forgotPasswordSuccess"].HasValue())
        {
            <div class="alert alert-success msg-container alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>@TempData["forgotPasswordSuccess"]</p>
            </div>
        }
        if (TempData["registerSuccess"].HasValue())
        {
            <div class="alert alert-success msg-container alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>@TempData["registerSuccess"]</p>
            </div>
        }
        if (TempData["resetPasswordError"].HasValue())
        {
            <div class="alert alert-danger msg-container alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>@TempData["resetPasswordError"]</p>
            </div>

        }
        if (TempData["resetPasswordFail"].HasValue())
        {
            <div class="alert alert-danger msg-container alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>@TempData["resetPasswordFail"]</p>
            </div>

        }
        if (TempData["resetPasswordSuccess"].HasValue())
        {
            <div class="alert alert-success msg-container alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>@TempData["resetPasswordSuccess"]</p>
            </div>
        }
        if (TempData["recaptchaFailed"].HasValue())
        {
            <div class="alert alert-danger msg-container alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>@TempData["recaptchaFailed"]</p>
            </div>
        }

    }
    <div id="content">
        <div class="over-mobile-background"></div>
        @Html.Partial("USNAdvancedPageComponents/USN_TopComponents", Model)


        @RenderBody()


        @Html.Partial("USNAdvancedPageComponents/USN_BottomComponents", Model)

    </div>

    <!-- BREADCRUMB -->
    @*@Html.Partial("USNNavigation/USN_Breadcrumb", Model)*@
    <!--// BREADCRUMB -->

    @if (!Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
    {
        <!-- FOOTER -->
        <footer>
            <div class="container">
                <!-- ROW -->
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12 payment-method-container">
                        @*@Html.Partial("FooterPaymentMethod/_FooterPaymentMethod", Model.FooterPaymentMethod)*@
                        
                        @Html.Action("GetFooterPayments", "MasterSurface")
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        @Html.Partial("USNNavigation/USN_FooterQuickLinks", Model)
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        @Html.Partial("USNMiscPageElements/USN_ContactInformation")
                    </div>
                </div>
                <div class="social-links-container">
                    @Html.Partial("USNNavigation/USN_SocialLinks", Model)
                </div>
                <!--// ROW -->
                <!-- ROW -->

                <nav class="footer">


                    <div class="row">
                        <ul class="col-xs-12 col-sm-12 col-md-8 footer-nav">
                            <li class="copyright">
                                <div>&copy; @DateTime.Now.ToString("yyyy")</div>
                            </li>
                            @Html.Partial("USNNavigation/USN_FooterNavigation", Model)
                            @*<li class="site-credit">
                                    <div>Umbraco CMS theme from </div>
                                    <a target="_blank" title="Link will open in a new window/tab" href="http://www.uskinned.net"><span>uSkinned</span></a>
                                </li>*@
                        </ul>
                        <div class="col-xs-12  col-sm-12 col-md-4  madeby-container">
                            <div class="made-by-link">
                                <span>Made with<i class="heart-icon"></i> by <a href="http://www.casasoft.mt"><img class="casasoft-footer-logo" src="~/dist/assets/img/casasoftlogo.png" alt="Casasoft logo"> </a> </span>
                            </div>
                        </div>
                    </div>

                </nav>

                <!--// ROW -->
            </div>
        </footer>
        <!--// FOOTER -->
    }
    <!-- BACK TO TOP -->
    <span id="top-link-block">
        <a class="btn c1-bg c5-text" href="#top" onclick="$('html,body').animate({ scrollTop: 0 }, 'slow');return false;">
            <i class="ion-chevron-up"></i>
        </a>
    </span>
    <!--// BACK TO TOP -->
</div>
    <!--// SITE -->

    @Html.Partial("USNMiscPageElements/USN_Notification", Model)
    @RenderSection("FooterScripts", false)

    @*this is a modal just for testing purposes. Don't delete*@
@*<div class="modal fade bs-example-modal-lg radek-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="imageFullPage">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <h1>Radek radek lorem </h1>
                </div>
            </div>

        </div>*@



    <div class="search-modal-container"></div>
    
    @Html.Partial("ItemPhoto/_PhotoFullPagePopUp")


    <div class="jury-modals-container"></div>




@Html.Partial("USNMiscPageElements/USN_BeforeClosingBodyScripts", Model)
    

@*this is just in case we need to load scripts once page is loaded. At the moment scripts are coming from backoffice.*@
<!-- Google Tag Manager -->
@*The below need to be changed to the current project*@
@*<noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-MGBLH5"
                height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>*@
@*The below need to be changed*@

@*<script type="text/javascript">

        function downloadGoogleTagManagerAtOnLoad() {
                /*The below need to be changed*/
                //(function (w, d, s, l, i) {
                //w[l] = w[l] || []; w[l].push({
                //    'gtm.start':
                //        new Date().getTime(), event: 'gtm.js'
                //}); var f = d.getElementsByTagName(s)[0],
                //    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                //    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
                //})(window, document, 'script', 'dataLayer', 'GTM-MGBLH5');
                /*The above need to be changed*/
        }

    if (window.addEventListener)
        window.addEventListener("load", downloadGoogleTagManagerAtOnLoad, false);
    else if (window.attachEvent)
        window.attachEvent("onload", downloadGoogleTagManagerAtOnLoad);
    else window.onload = downloadGoogleTagManagerAtOnLoad;

    </script>*@
<!-- End Google Tag Manager -->

</body>
</html>