﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared._SubmitPhotoFormModel>


@using (Html.BeginForm("SubmitPhotoForm", "SubmitPhotoFormSurface", FormMethod.Post, new {enctype = "multipart/form-data", @class= "submit-photos-form" }))
{


        <div class="number-photos-container">
            <p>@Model.ExplanationFormText</p>
            <p class="required">@Model.Required</p>

            <div class="form-group">
                @Html.LabelFor(x => Model.NumberOfPhotosSelected, new { @class = "label-required" })
                @Html.DropDownListFor(model => model.NumberOfPhotosSelected, Model.NumberOfPhotos, new { @class = "form-control selectInput" })
            </div>
        </div>
        <div class="submit-photos-container">
            <div class="submit-photos-form-container">
                @{
                    var cnt = 0;
                    foreach (var photoForm in Model.ListOfSubmitPhotos)
                    {
                        @Html.Partial("SubmitPhotoForm/_SubmitPhotoItem", photoForm, new ViewDataDictionary()
                        {
                            TemplateInfo = new TemplateInfo()
                            {
                                HtmlFieldPrefix = "ListOfSubmitPhotos[" + cnt + "]"
                            }
                        })
                        cnt++;
                    }
                }

            </div>
            <div class="form-group checkbox-container">

                <label class="label-required checkbox-label" for="TermsConditions">
                    @Html.HiddenFor(m => Model.True)
                    @Html.CheckBoxFor(x => Model.TermsConditions, new { @class = "checkbox-input" })
                    <span class="checkmark"></span>

                    <span class="label-text">@Html.Raw(Model.TermsAndConditionsText)</span>

                </label>
                 @Html.ValidationMessageFor(x => Model.TermsConditions, "")
                <br /><br />
                <label class="label-required">
                    <span class="label-text">@Html.Raw(Model.UploadInformationText)</span>
                </label>
               

            </div>
           
            <button type="submit" class="btn" id="submitButtonForm">@Model.ButtonFormText</button>
        </div>
}