﻿<div ng-controller="USN.OptionsController">

    <section class="usn-cms layouts" ng-show="model.isLayouts">
        <label class="item layout-1">
            <input ng-model="model.value" value="Layouts_Above" name="layouts" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="image"></div>
                <div class="info">
                    <div class="heading"></div>
                    <div class="text"></div>
                </div>
            </div>
            <div class="name">Above</div>
        </label>
        <label class="item layout-3">
            <input ng-model="model.value" value="Layouts_Boxed" name="layouts" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="image"></div>
                <div class="info">
                    <div class="heading"></div>
                    <div class="text"></div>
                </div>
            </div>
            <div class="name">Boxed</div>
        </label>
    </section>

    <section class="usn-cms per-row" ng-show="model.isItemsPerRow2_4 || model.isItemsPerRow1_4">
        <label class="item layout-1">
            <input ng-model="model.value" value="ItemsPerRow_4" name="podrows" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="image"></div>
                <div class="image"></div>
                <div class="image"></div>
                <div class="image"></div>
            </div>
            <div class="name">4 per row</div>
        </label>
        <label class="item layout-2">
            <input ng-model="model.value" value="ItemsPerRow_3" name="podrows" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="image"></div>
                <div class="image"></div>
                <div class="image"></div>
            </div>
            <div class="name">3 per row</div>
        </label>
        <label class="item layout-3">
            <input ng-model="model.value" value="ItemsPerRow_2" name="podrows" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="image"></div>
                <div class="image"></div>
            </div>
            <div class="name">2 per row</div>
        </label>
        <label class="item layout-4" ng-show="model.isItemsPerRow1_4">
            <input ng-model="model.value" value="ItemsPerRow_1" name="podrows" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="image"></div>
            </div>
            <div class="name">1 per row</div>
        </label>
    </section>

    <section class="usn-cms text-alignments" ng-show="model.isTextAlignment">
        <label class="item layout-1">
            <input ng-model="model.value" value="TextAlignment_Left" name="text-alignments" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="info">
                    <div class="heading"></div>
                    <div class="text"></div>
                </div>
            </div>
            <div class="name">Left</div>
        </label>
        <label class="item layout-2">
            <input ng-model="model.value" value="TextAlignment_Center" name="text-alignments" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="info">
                    <div class="heading"></div>
                    <div class="text"></div>
                </div>
            </div>
            <div class="name">Center</div>
        </label>
        <label class="item layout-3">
            <input ng-model="model.value" value="TextAlignment_Right" name="text-alignments" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="info">
                    <div class="heading"></div>
                    <div class="text"></div>
                </div>
            </div>
            <div class="name">Right</div>
        </label>
    </section>

    <section class="usn-cms banner-size" ng-show="model.isBannerSize">
        <label class="item layout-1">
            <input ng-model="model.value" value="BannerSize_Takeover" name="banner-sizes" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="image"></div>
                <div class="info">
                    <div class="heading"></div>
                    <div class="text"></div>
                </div>
            </div>
            <div class="name">Takeover</div>
        </label>
        <label class="item layout-2">
            <input ng-model="model.value" value="BannerSize_Medium" name="banner-sizes" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="image"></div>
                <div class="info">
                    <div class="heading"></div>
                    <div class="text"></div>
                </div>
            </div>
            <div class="name">Medium</div>
        </label>
        <label class="item layout-3">
            <input ng-model="model.value" value="BannerSize_Short" name="banner-sizes" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="image"></div>
                <div class="info">
                    <div class="heading"></div>
                    <div class="text"></div>
                </div>
            </div>
            <div class="name">Short</div>
        </label>
    </section>

    <section class="usn-cms content-layouts" ng-show="model.isPageLayout">
        <label class="item layout-1">
            <input ng-model="model.value" value="PageLayout_Left"  name="content-layouts" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="content-panel"></div>
                <div class="side-panel"></div>
            </div>
            <div class="name">Left</div>
        </label>
        <label class="item layout-2">
            <input ng-model="model.value" value="PageLayout_Right"  name="content-layouts" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="content-panel"></div>
                <div class="side-panel"></div>
            </div>
            <div class="name">Right</div>
        </label>
        <label class="item layout-3">
            <input ng-model="model.value" value="PageLayout_Center" name="content-layouts" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="content-panel"></div>
                <div class="side-panel"></div>
            </div>
            <div class="name">Center</div>
        </label>
        <label class="item layout-4">
            <input ng-model="model.value" value="PageLayout_CenterAlt" name="content-layouts" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="content-panel"></div>
                <div class="side-panel"></div>
            </div>
            <div class="name">Center (alt)</div>
        </label>
        <label class="item layout-5">
            <input ng-model="model.value" value="PageLayout_Wide" name="content-layouts" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="content-panel"></div>
            </div>
            <div class="name">Wide</div>
        </label>
    </section>

    <section class="usn-cms listing-style" ng-show="model.isListingStyle">
        <label class="item layout-2">
            <input ng-model="model.value" value="ListingStyle_Vertical" name="listing-styles" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner inner-1">
                <div class="image"></div>
                <div class="info">
                    <div class="heading"></div>
                    <div class="text"></div>
                </div>
            </div>
            <div class="inner inner-2">
                <div class="image"></div>
                <div class="info">
                    <div class="heading"></div>
                    <div class="text"></div>
                </div>
            </div>
            <div class="name">Vertical</div>
        </label>
        <label class="item layout-1">
            <input ng-model="model.value" value="ListingStyle_Grid" name="listing-styles" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner inner-1">
                <div class="image"></div>
                <div class="info">
                    <div class="heading"></div>
                    <div class="text"></div>
                </div>
            </div>
            <div class="inner inner-2">
                <div class="image"></div>
                <div class="info">
                    <div class="heading"></div>
                    <div class="text"></div>
                </div>
            </div>
            <div class="name">Grid</div>
        </label>
    </section>

    <section class="usn-cms text-position" ng-show="model.isTextPosition">
        <label class="item layout-1">
            <input ng-model="model.value" value="TextPosition_Before" name="text-positions" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="info">
                    <div class="heading"></div>
                    <div class="text"></div>
                </div>
            </div>
            <div class="name">Before</div>
        </label>
        <label class="item layout-2">
            <input ng-model="model.value" value="TextPosition_After" name="text-positions" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="info">
                    <div class="heading"></div>
                    <div class="text"></div>
                </div>
            </div>
            <div class="name">After</div>
        </label>
    </section>

    <section class="usn-cms component-width" ng-show="model.isComponentWidth">
        <label class="item layout-1">
            <input ng-model="model.value" value="ComponentWidth_Center" name="component-widths" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="content-panel"></div>
            </div>
            <div class="name">Center</div>
        </label>
        <label class="item layout-2">
            <input ng-model="model.value" value="ComponentWidth_Wide" name="component-widths" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="content-panel"></div>
            </div>
            <div class="name">Wide</div>
        </label>
        <label class="item layout-3">
            <input ng-model="model.value" value="ComponentWidth_Full" name="component-widths" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="content-panel"></div>
            </div>
            <div class="name">Full</div>
        </label>
    </section>

    <section class="usn-cms repeatable-style" ng-show="model.isRepeatableLayout">
        <label class="item layout-1">
            <input ng-model="model.value" value="RepeatableLayout_Tabbed" name="repeatable-styles" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="tab tab-1"></div>
                <div class="tab tab-2"></div>
                <div class="tab tab-3"></div>
                <div class="tab-content"></div>
            </div>
            <div class="name">Tabbed</div>
        </label>
        <label class="item layout-2">
            <input ng-model="model.value" value="RepeatableLayout_Accordion" name="repeatable-styles" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="accordion">
                    <svg class="icon  icon--plus" viewBox="0 0 5 5" xmlns="//www.w3.org/2000/svg">
                        <path d="M2 1 h1 v1 h1 v1 h-1 v1 h-1 v-1 h-1 v-1 h1 z" />
                    </svg>
                </div>
                <div class="accordion">
                    <svg class="icon  icon--plus" viewBox="0 0 5 5" xmlns="//www.w3.org/2000/svg">
                        <path d="M2 1 h1 v1 h1 v1 h-1 v1 h-1 v-1 h-1 v-1 h1 z" />
                    </svg>
                </div>
                <div class="accordion">
                    <svg class="icon  icon--plus" viewBox="0 0 5 5" xmlns="//www.w3.org/2000/svg">
                        <path d="M2 1 h1 v1 h1 v1 h-1 v1 h-1 v-1 h-1 v-1 h1 z" />
                    </svg>
                </div>
            </div>
            <div class="name">Accordion</div>
        </label>
    </section>

    <section class="usn-cms windows-order" ng-show="model.isWindowsOrder">
        <label class="item layout-1">
            <input ng-model="model.value" value="WindowsOrder_Big" name="windows-orders" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="window window-1"></div>
                <div class="window window-small window-2"></div>
                <div class="window window-small window-3"></div>
            </div>
            <div class="name">Big</div>
        </label>
        <label class="item layout-2">
            <input ng-model="model.value" value="WindowsOrder_Small" name="windows-orders" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="window window-1"></div>
                <div class="window window-small window-2"></div>
                <div class="window window-small window-3"></div>
            </div>
            <div class="name">Small</div>
        </label>
    </section>

    <section class="usn-cms split-component" ng-show="model.isSplitComponent">
        <label class="item layout-1">
            <input ng-model="model.value" value="SplitComponent_Even" name="split-components" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="content-panel content-panel-1"></div>
                <div class="content-panel content-panel-2"></div>
            </div>
            <div class="name">Even Split</div>
        </label>
        <label class="item layout-2">
            <input ng-model="model.value" value="SplitComponent_7030" name="split-components" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="content-panel content-panel-1"></div>
                <div class="content-panel content-panel-2"></div>
            </div>
            <div class="name">70 / 30</div>
        </label>
        <label class="item layout-3">
            <input ng-model="model.value" value="SplitComponent_3070" name="split-components" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <div class="content-panel content-panel-1"></div>
                <div class="content-panel content-panel-2"></div>
            </div>
            <div class="name">30 / 70</div>
        </label>
    </section>

    <section class="usn-cms newsletter-option" ng-show="model.isNewsletter">
        <label class="item layout-1">
            <input ng-model="model.value" value="Newsletter_CM" name="newsletter-options" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <svg width="2500" height="1709" viewBox="0 0 256 175" xmlns="//www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><g fill="#2A2E32"><path d="M254.23 5.119c-3.089-4.4-9.152-5.478-13.564-2.384L1.753 170.019c1.759 2.504 4.667 4.154 7.966 4.148l.012.006v-.006h236.528c5.376 0 9.735-4.359 9.735-9.742V10.55a9.714 9.714 0 0 0-1.764-5.431M15.328 2.728C10.922-.362 4.853.71 1.764 5.11A9.733 9.733 0 0 0 0 10.548l.006 154.171 113.742-93.176-98.42-68.815" /></g></svg>
            </div>
            <div class="name">Campaign Monitor</div>
        </label>
        <label class="item layout-2">
            <input ng-model="model.value" value="Newsletter_Mailchimp" name="newsletter-options" type="radio" ng-click="check($event)">
            <span></span>
            <div class="inner">
                <svg xmlns="//www.w3.org/2000/svg" viewBox="0 0 224.1 253.4" width="2211" height="2500"><g fill="#664f44"><path d="M215.1 229.2c-.8.8-1.8 1.2-3 1.2s-2.2-.4-3-1.2c-.8-.8-1.2-1.8-1.2-3s.4-2.3 1.3-3.1c.8-.8 1.8-1.1 2.9-1.1 1.2 0 2.2.4 3 1.2.8.8 1.2 1.8 1.2 3 .1 1.2-.3 2.2-1.2 3m-5.4-5.5c-.7.7-1 1.5-1 2.4 0 1 .3 1.8 1 2.5s1.5 1 2.5 1 1.8-.3 2.5-1 1-1.5 1-2.5c0-.9-.3-1.8-1-2.4-.7-.7-1.5-1.1-2.5-1.1-1 .1-1.8.4-2.5 1.1m3.8 4.6c-.4.3-.8.4-1.2.4-.6 0-1.2-.2-1.7-.7-.5-.5-.7-1.1-.7-1.8s.2-1.3.6-1.8c.4-.5 1-.7 1.7-.7.4 0 .8.1 1.2.3.5.3.9.8 1 1.6h-1.1c-.1-.3-.2-.6-.4-.7-.2-.1-.4-.2-.6-.2-.3 0-.6.1-.8.4-.2.3-.3.7-.3 1.2s.1.9.3 1.1c.2.2.5.4.8.4.3 0 .5-.1.7-.2l.3-.6h1c-.1.6-.4 1-.8 1.3M224.1 183.9c0-.4-.1-.8-.1-1.2 0-.3-.1-.5-.1-.7-.1-.6-.2-1.1-.4-1.7-.4-1.1-1-2.2-1.8-3.1-.8-.9-1.7-1.6-2.6-2.1-1-.5-2-.8-2.8-1-.3 0-.5-.1-.7-.1 1.1-4.8-.3-8.5-1.2-10.2l.2-.2c1.2-1.2 2.2-2.3 3.1-3.4l.2-.2c.7-1 1.1-2 1.4-2.9.2-.8.4-1.5.4-2.2v-.6-.4-.9c-.1-1.5-.3-3.4-1.3-5.5-.5-1-1.2-2.1-2.1-3.1-.9-1-2-1.9-3.3-2.6-.1-.1-.2-.1-.3-.2-2.7-3.9-5.7-7-8.4-9.3-1.4-1.2-2.7-2.2-3.8-3-1.1-.8-2-1.4-2.5-1.8-1.2-.9-2.1-1.4-2.5-1.6-1-.6-1.7-1.1-2.1-1.4-.3-.3-.5-.4-.6-.5 0 0 0-.1-.1-.3-.1-.3-.1-.7-.1-1.4 0-1 0-2.5.1-4.5.2-3.2.5-7.5.9-13.4.1-1.9.1-3.7.1-5.3-.1-2.7-.5-5.1-1-7.3-.1-.5-.3-1-.4-1.5-.1-.4-.2-.6-.3-.8-.1-.3-.2-.6-.4-1-.1-.2-.1-.4-.3-.6-.2-.5-.4-1-.7-1.5l-.1-.1-.1-.3-.1-.2c-.5-.9-1.1-1.7-1.7-2.4-.3-1.4-.8-3.4-1.7-5.7-.8-2-1.8-4.2-3.3-6.4-.5-.8-1.1-1.5-1.7-2.2l.2-.2c.3-.3 7.3-7.7 12.9-17.3 10.3-17.9 6.9-28.8 2.2-34.8l-.1-.2-.1-.2c-4.5-5-10.7-8-18.2-9-15.7-2-33.5 5.8-38.2 8L132 6c-.8-.8-1.6-1.6-2.5-2.2-.9-.6-1.9-1.2-2.9-1.7-2-.9-4.2-1.5-6.6-1.8-4.7-.6-10.1 0-15.9 1.5C95.4 4 85.7 8.4 75.5 14.5c-10.2 6.1-20.8 14-31.1 23.4-12.6 11.4-23 23.5-30.6 35.1-3.8 5.7-6.9 11.3-9.2 16.7-2.3 5.3-3.8 10.4-4.4 15-.4 3.4-.4 6.6.3 9.5.3 1.3.7 2.5 1.3 3.7.7 1.5 1.6 2.9 2.7 4.1l8.9 9.3 1 1-.1.1-.3.6c-.2.3-.3.6-.5.8l-.3.6c-.1.3-.3.6-.4.9l-.3.6c-.1.3-.3.6-.4.9-.1.2-.2.4-.2.6l-.3.9c-.1.2-.1.4-.2.6-.1.3-.2.6-.3 1 0 .1-.1.2-.1.3 0 .1-.1.2-.1.3-.1.3-.2.7-.3 1 0 .2-.1.4-.1.6 0 .1-.1.3-.1.4 0 .2-.1.4-.1.6 0 .2-.1.4-.1.6-.1.4-.1.8-.2 1.3 0 .1 0 .2-.1.4v.1c0 .3-.1.6-.1.8 0 .4-.1.9-.1 1.3v5c0 .2 0 .4.1.6 0 .2 0 .5.1.8v.3c0 .2.1.5.1.7 0 .2.1.4.1.7 0 .1 0 .2.1.3 0 .1.1.3.1.4v.2c0 .2.1.4.2.8 0 .1 0 .1.1.2.1.2.1.4.1.5l.1.2c0 .1 0 .1.1.2l.1.2V159c0 .1 0 .1.1.2l.1.2c0 .2.1.3.1.5.1.2.1.4.2.8v-.1.1c0 .1 0 .1.1.2.1.3.2.5.2.6.1.2.2.4.3.8l.1.1c.1.2.1.4.2.5l.1.2c0 .1.1.2.1.3 0 .1.1.3.2.4l.1.2c.1.1.1.3.2.4.1.1.1.2.1.3.1.2.2.4.3.7l.1.1c.1.1.1.2.2.3.1.1.1.3.2.4.1.1.2.3.3.6l.1.1c.1.1.1.2.2.3.1.2.2.3.2.4.1.1.2.3.3.5v.1c.1.1.1.2.2.3.1.2.2.3.3.4.1.1.2.3.4.6.1.1.2.2.2.3.1.2.2.3.3.4.1.1.2.3.3.5.1.1.2.3.3.4.1.2.2.3.4.4l.3.3.1.1c.2.2.3.4.5.6l.2.2.3.3.6.6.2.2.3.3.1.1c.2.2.5.4.7.7l.1.1c.1.1.2.1.3.3.3.3.6.5.9.8l.2.1.1.1.2.1c.3.2.5.4.8.6l.1.1c.1.1.2.1.2.1l.2.2c.2.2.4.3.6.5l.2.1.2.2.1.1c.2.1.5.3.7.4.1.1.2.2.4.2l.2.1.1.1h.1c.4.2.7.4 1 .6l.2.1 1.2.6h.1l.2.1.6.3c.1 0 .2.1.3.1.1.1.2.1.4.2h.1c.2.1.4.2.6.2h.1c.2.1.4.2.7.3h.1l.2.1c.1 0 .2.1.3.1h.1c.3.1.6.2 1 .3h.1c.5.2 1 .3 1.5.4h.1c.4.1.9.2 1.3.3h.4c.4.1.8.2 1.2.2h.4c.3 0 .5.1.8.1 0 .1.1.2.1.3.7 1.9 1.4 3.8 2.2 5.6 11.8 32.7 44.5 58.1 81.8 62.8 37.3 4.6 77.2-20.2 93.4-53.7.7-1.3 1.3-2.5 1.9-3.8 1.6-1.7 2.9-3.4 3.7-5.2 1.3-1.1 1.6-3.3 1.5-5.2M17 170.9h.1-.1" /></g><path fill="#132134" d="M192.2 20.3c-1.8-2-3.9-3.5-6.2-4.6-.4-.2-.8-.3-1.3-.4-.2-.1-.4-.3-.6-.4-2-.8-4.1-1.3-6.3-1.6-10.8-1.4-23.2 2.6-30.2 5.4-.4.2-.8.3-1.2.5-.6.3-1.2.5-1.8.8-1 .4-2 .9-3.1 1.4-.2.1-.3.1-.5.2l-1.9-2.2-.9-1-.8-.9-.3-.4-7.3-8.4-.6-.7-.8-.9h-.1l-2.1.5-2.4.5c-1.3-.6-2.9-1-4.7-1.3-3.6-.5-8.2 0-13.4 1.3-5.2 1.3-11.1 3.6-17.3 6.7C75.9 21 62.1 30.5 48.7 42.7c-4.7 4.2-9 8.6-13 12.9-3.9 4.2-7.4 8.5-10.6 12.6-6.5 8.5-11.4 16.7-14.6 24.1-2.1 4.9-3.4 9.4-3.9 13.3-.4 2.8-.3 5.3.2 7.3.2.7.4 1.2.6 1.8.5 1.2 1.1 2.2 1.9 3.1l8.1 8.5.9.9.1-.1c.2-.3.5-.6.8-.8l.1-.1.3-.3c.2-.3.5-.5.7-.8.2-.2.3-.3.5-.4.2-.1.3-.3.5-.4l.2-.2c.2-.1.3-.3.5-.4.2-.2.5-.4.7-.6.1-.1.3-.2.4-.3h.1c.3-.2.5-.4.8-.6.2-.1.3-.2.5-.4.3-.2.5-.4.8-.6.2-.1.3-.2.5-.3.3-.2.6-.4.9-.5.2-.1.3-.2.5-.3.3-.2.6-.3.9-.5.2-.1.3-.2.5-.3l.2-.1c.3-.1.5-.3.8-.4.1-.1.3-.1.4-.2.2-.1.4-.2.7-.3l.6-.3.2-.1 1.5-.6c.2-.1.3-.1.5-.2s.3-.1.5-.2l.2-.1c.1 0 .2-.1.3-.1.2-.1.4-.1.7-.2h.2c.3-.1.5-.1.8-.2.2-.1.5-.1.7-.2.3-.1.6-.1.9-.2.1 0 .2-.1.4-.1.1 0 .3 0 .4-.1.3-.1.6-.1.9-.1.3 0 .5-.1.8-.1.2 0 .4-.1.6-.1h.8c1 0 2.2 0 3.4.1h.2c1.2.1 2.6.3 4 .6.3.1.7.1 1 .2.1-.1.1-.3.2-.4.8-1.3 1.5-2.7 2.3-4 4.5-7.5 9.3-14.1 14.2-19.9 1.7-2 3.4-3.8 5.1-5.6 7.1-7.4 14.2-13.1 20.6-17.5 1.4-1 2.9-1.9 4.2-2.8 1.9-1.2 3.7-2.2 5.4-3.2 1.4-.8 2.7-1.5 4-2.1 2.1-1.1 4-2 5.7-2.7l1.5-.6c.7-.3 1.4-.6 2-.8-.5-.1-1.1-.1-1.6-.1h-2c-.5 0-1.1 0-1.6.1-1 .1-2.1.2-3.2.3-.4.1-.7.1-1.1.2 2.7-1.4 5.4-2.4 7.9-3.2 1.7-.5 3.4-.9 5-1.2 2.2-.4 4.3-.7 6.2-.8 1.3-.1 2.5-.1 3.6-.1s2.2.1 3.1.1c3.3.2 5.3.7 5.3.7-.5-.7-1.1-1.2-1.7-1.7-1.2-.9-2.5-1.5-3.7-2-.5-.2-.9-.3-1.3-.5-.3-.1-.6-.2-.8-.2.6-.1 1.1-.2 1.6-.2.6-.1 1.1-.1 1.7-.2 4.7-.4 8.9 0 12 .5 3.7.7 6 1.6 6 1.6-.5-1-1.3-1.9-2.2-2.7-.6-.5-1.3-1-1.9-1.4 1.3.3 2.4.6 3.6 1 3 .9 5.5 2 7.5 2.9l1.8.9c.2.1.3.2.4.2 1.8 1 2.8 1.7 2.8 1.7-.3-1.1-.9-2.1-1.7-3-.2-.2-.4-.5-.6-.7h.1c.1 0 .2.1.4.1.1 0 .3.1.5.2.8.3 2 .8 3.4 1.5.1 0 .1.1.2.1l.6.3c.5.3 1 .5 1.5.9l1.5.9c.3.2.5.3.8.5.5.4 1.1.8 1.6 1.3.6.5 1.1 1 1.6 1.5l.3.3c.4.4.8.8 1.1 1.2.7.8 1.3 1.7 1.9 2.6.7 1.1 1.2 2.4 1.7 3.7 0 .1 0 .2.1.2.3-.3.9-.9 1.6-1.7 5.8-6.8 23.2-28.8 12.7-42.2" /><g fill="#90694c"><path d="M218.1 184.6s.2-1.5-.6-2.9c0-.1-.1-.2-.1-.2l-.1-.1-.3-.3c-.2-.2-.4-.4-.7-.6-.1-.1-.3-.2-.5-.3-.5-.2-1-.4-1.7-.5-.5-.1-1-.1-1.6-.1H211.7v.2c0 .1.1.2.1.4 0 .1 0 .2.1.2.1.3.2.8.3 1.2 0 0 0 .1-.1.3v.1c-.3.7-1.1 2.3-2.9 4.3-.3.4-.6.7-1 1.1-5 5.2-15.8 12.5-38.6 16.6-7.7 1.1-14.9 1.2-20.9.4-9-1.1-15.7-4-18.9-7.9-.3-.3-.5-.7-.8-1-.2-.3-.3-.5-.5-.8-.1-.1-.1-.2-.2-.3-1.3-2.4-1.9-5-1.9-7.5 0-3.1 1-6 2.6-8.2 1.3-1.8 3-3.2 5.1-3.8 1-.3 2.1-.5 3.2-.4.2 0 .5 0 .9.1.7.1 1.8.2 3.1.4.1 0 .3 0 .4.1 4.3.5 11.1 1.2 19.3.7 15-.9 34.7-5.6 52.6-21.8v-.1c.1-1.4-.1-3.8-1.8-5.7-.3-.3-.6-.6-1-.9-.2-.2-.5-.3-.7-.5-.3-.1-.5-.3-.7-.4l-.9-.6v-.1c-.1-.2-.2-.4-.4-.6-4.6-7-11-11.1-13.6-13-1.2-.9-2-1.3-2-1.3-5.5-3.4-6.3-4.5-5.8-13.6.2-3.3.5-7.6.9-13.5 0-.8.1-1.5.1-2.2v-.5V98.6c0-.5-.1-1-.1-1.4 0-.2 0-.4-.1-.6-.1-.5-.1-1-.2-1.5 0-.2-.1-.5-.1-.7 0-.3-.1-.5-.2-.8-.1-.2-.1-.5-.2-.7-.1-.3-.2-.6-.2-.9 0-.1-.1-.2-.1-.3 0-.1-.1-.2-.1-.3v-.1l-.1-.3c-.1-.2-.2-.4-.2-.6v-.1l-.1-.2-.1-.2c-.2-.4-.3-.8-.5-1.1l-.1-.3c-.2-.3-.4-.7-.6-1l-.1-.1-.1-.1c-.2-.2-.3-.4-.5-.6l-.2-.3c-.2-.3-.4-.5-.6-.7V84.9c-.1-.4-.2-.9-.3-1.4 0-.1-.1-.3-.1-.4V83c0-.2-.1-.3-.1-.5-.1-.4-.2-.8-.4-1.2 0-.1-.1-.3-.1-.4l-.3-.9c-.1-.2-.1-.4-.2-.5-.1-.3-.2-.6-.4-.9l-.3-.6c-.1-.3-.3-.6-.4-.9l-.3-.6c-.2-.3-.3-.6-.5-.9l-.3-.6c-.2-.3-.4-.6-.6-1-.1-.2-.2-.3-.3-.5-.1-.1-.2-.3-.3-.4-.3-.3-.5-.6-.8-.9l-.2-.1c-.4-.4-.7-.8-1.1-1.1l-.1-.1c-.2-.1-.4-.3-.5-.4h-.1c-.2-.1-.3-.2-.5-.3l-.1-.1c-.2-.1-.5-.3-.9-.5-.1-.1-.3-.1-.5-.2-.9-.3-2-.7-3.4-1.1-.1 0-.2 0-.3-.1-1.1-.3-2.4-.6-3.8-.8-.5-.1-.9-.1-1.4-.2-.2 0-.4 0-.7-.1h-.3c-1.1-.1-2.1-.2-3.2-.2h-.1c-1.4 0-2.8.1-4.1.4.3-.5 1.2-1.1 2-1.6 1.1-.6 2.1-1 2.1-1-.6 0-1.2.1-1.8.2-.2 0-.4.1-.6.1-.1 0-.3 0-.4.1h-.1c-.1 0-.2 0-.3.1-3.1.7-6.1 1.8-7.8 2.5l-.6.3h-.1c-.2 0-.3 0-.5.1 1.2-2.3 3-3.5 4.4-4.1.2-.1.5-.2.7-.3.1 0 .1 0 .2-.1.2-.1.4-.1.5-.2.3-.1.5-.1.5-.1h-1.6c-3.4.4-6.5 1.5-9.1 3-1.8 1-3.4 2.1-4.8 3.2-.4.1-.7.2-1.1.2-3.8.8-8.1 1.8-12.6 3.2-1.7.5-3.4 1.1-5.1 1.7-1.3.5-2.7 1-4 1.5-1 .4-1.9.8-2.9 1.2-6.9 3.1-13.8 7.2-19.5 12.7l-.6.6-1.5 1.5-.6.6c-.2.3-.5.6-.7.8-1.1 1.2-2.1 2.5-3.1 3.9-.7 1-1.4 2.1-2 3.2l-.1.1c-1.3 2.3-2.5 4.7-3.4 7.4-.5 1.3-.9 2.7-1.3 4.1-.1.4-.2.7-.3 1.1l-.1.2c-.4 1.5-.7 3.1-.9 4.7 0 .3-.1.6-.1 1-.1.8-.2 1.6-.2 2.5-.1.8-.1 1.5-.1 2.3V127.1c0 .9 0 1.8.1 2.7v.1c0 .9.1 1.8.2 2.8 0 .4.1.8.1 1.2v.3c0 .2 0 .4.1.7.1 1 .3 2.1.4 3.2 0 .3.1.6.1.9.2.9.3 1.9.5 2.8 0 0-.2-1.2-.1-3 0-.4.1-.9.1-1.3.1-1 .3-2.2.7-3.3l.3-.9c0-.1.1-.2.2-.4.2-.5.5-1.1.8-1.6.1.4.1.8.2 1.1v5.3c.1 3.4.4 7.5 1.1 11 0 0 .1-6.3 1.2-7.1 0 0 1.9 11.8 3.6 16.2.2.6.5 1 .7 1.3v-1.2l-.2-6.5v-.7c1.3 2.7 2.8 5.4 4.5 8.3.5.8.9 1.6 1.4 2.4-3.2 2.8-6.2 6.9-8.4 11.7-.3.8-.7 1.6-1 2.4-.2.5-.3.9-.5 1.4 0 .1-.1.3-.1.4-.1.3-.2.7-.3 1 0 .2-.1.3-.1.5-.1.3-.2.7-.3 1 0 .2-.1.3-.1.5l-.3 1.5c-.1.5-.2 1-.2 1.5 0 .2 0 .3-.1.5 0 .4-.1.7-.1 1.1 0 .2 0 .4-.1.6 0 .4-.1.7-.1 1.1v3.5c0 .4 0 .8.1 1.3V191.7c0 .5.1 1 .2 1.6 0 .2 0 .3.1.5 0 .4.1.7.2 1.1 0 .2.1.4.1.6.1.3.1.7.2 1 0 .2.1.4.1.6.1.3.2.6.2 1 .1.2.1.4.2.7.1.3.2.7.3 1 .1.2.1.4.2.6.1.3.2.7.3 1 .1.2.1.4.2.6.1.4.3.8.4 1.1.1.2.1.3.2.5l1.5 3.3c.1.2.2.3.3.5l.6 1.2c.1.2.2.4.4.6.2.3.4.7.6 1 .1.2.3.4.4.6.2.3.4.7.7 1 .2.2.3.4.5.7.2.3.5.7.7 1 .2.2.3.4.5.7.3.3.5.7.8 1 .2.2.3.4.5.6.3.4.6.7 1 1.1l.5.5c.5.5 1 1.1 1.5 1.6 0 0-.3-.4-.7-1.2-.1-.1-.2-.3-.2-.5l-.3-.6c-.1-.2-.2-.4-.3-.7-.8-1.8-1.5-4.4-1.4-7.2l.9 1.2c.3.7.8 1.6 1.3 2.6.2.3.4.7.5 1 .8 1.4 1.6 3 2.6 4.5 1.2 1.9 2.4 3.7 3.7 5.4 0 0-1.5-3.2-2-5.3-.1-.6-.2-1.1-.1-1.4.1.1.2.3.4.4.1.1.2.3.4.4.2.3.5.7.9 1.2l.2.2c.2.2.3.5.5.7.2.3.4.6.7.9 2.1 2.7 5 6.3 7 8.2.7.6 1.3 1.1 1.7 1.3l-2.9-5.2c6.6 5.4 34 12.3 60.9 4.6 3.3-.9 6.5-2.1 9.7-3.5 1.9-.8 3.8-1.8 5.7-2.8l.3-.2c1.3-.7 2.6-1.5 3.9-2.3 1-.6 2-1.3 2.9-1.9 1.6-1.1 3.2-2.3 4.8-3.6.1-.1.2-.2.3-.2 1.5-1.3 3-2.7 4.3-4.1 1.8-1.9 3.4-3.8 4.8-5.7l.1-.1c.4-.5.7-.9 1-1.4l.1-.1c.1-.2.2-.3.3-.5.5-.7.9-1.3 1.4-2 .1-.2.2-.3.3-.5.2-.4.4-.7.7-1.1.2-.3.3-.5.5-.8.2-.3.4-.6.5-.9.3-.5.6-1.1.9-1.6l.3-.6.6-1.2.3-.6.1-.2c.2-.5.5-1 .7-1.5v-.1c.9-.8 1.5-1.6 2.1-2.3.1-.1.2-.2.2-.3.6-1.9 1-3.4 1-4.8M57.2 165.2c0-.1 0-.2-.1-.4-.3-1.7-.6-3.5-.7-5.3v-.4c-.3.1-.6.5-1 1-.1.2-.3.4-.4.7-.9 1.7-1.7 4.1-1.7 4.1.1-.8.2-1.6.2-2.4v-.3c.1-.8.2-1.7.3-2.5v-.3c.1-1 .3-1.9.5-2.8 0-.1 0-.2.1-.4v-.1c0-.1 0-.2.1-.3 0-.2.1-.3.1-.5.1-.7.3-1.4.4-2.1.1-.6.2-1.2.3-1.7v-.2c0-.1 0-.2.1-.2v-.2c0-.1.1-.3.1-.4 0-.1 0-.2.1-.3 0-.2.1-.4.1-.5 0-.1.1-.3.1-.4 0-.2.1-.4.1-.5 0-.1 0-.2.1-.3 0-.1 0-.2.1-.2 0-.2.1-.3.1-.4V147.6l-.2.2c-.2.1-.3.3-.5.4l-.2.2c-.2.2-.4.4-.5.6l-.1.1-.6.9-.1.1c0 .1-.1.1-.1.2l-.3.6v.2c-.1.3-.3.6-.4.9-.3.8-.6 1.6-.8 2.3-.1.2-.1.5-.2.6-.1.4-.2.8-.2.9v.1-.1c0-.3 0-.5.1-.8 0-.5.1-1.1.1-1.6 0-.4.1-.9.2-1.3 0-.1 0-.3.1-.4 0-.2.1-.4.1-.6 0-.2.1-.4.1-.6V150.2c0-.2.1-.5.1-.7v-.5-.2c0-.1 0-.2.1-.3.1-.3.2-.7.2-1v-.1c.1-.2.1-.5.2-.7v-.1c.1-.5.3-1 .4-1.5v-.2c0-.1 0-.2.1-.3.2-.8.5-1.6.7-2.3v-.1c.2-.6.5-1.3.7-1.9v-.1c.1-.3.2-.5.3-.8.2-.4.3-.8.5-1.2 0-.1.1-.3.3-.7.1-.1.1-.3.2-.4.1-.2.2-.4.3-.7l.1-.2 1.7-3.1c.1-.1.1-.3.2-.4v-.1l.1-.2c.2-.3.4-.7.6-1 .3-.5.5-1 .8-1.4.5-.9.9-1.7 1.2-2.1.1-.3.2-.4.3-.5-.1 0-.6-.4-1.4-.9-1-.6-2.4-1.4-4.1-2.2-.6-.3-1.1-.5-1.7-.8-.7-.3-1.5-.6-2.3-.9-.2-.1-.4-.1-.6-.2-.7-.2-1.3-.4-2-.6-.5-.1-1-.2-1.4-.3-.4-.1-.8-.1-1.2-.2-.2 0-.4 0-.6-.1-.2 0-.4 0-.6-.1-.5 0-1.1-.1-1.6-.1h-.8c-1.2 0-2.3.1-3.4.3h-.2c-2 .3-3.9.8-5.8 1.5-.6.2-1.2.5-1.9.8-.2.1-.3.2-.5.2l-.6.3c-1.8.9-3.5 2.1-5.1 3.4h-.1c-1.4 1.1-2.6 2.4-3.7 3.7l-.9 1.2c-.4.5-.7 1-1 1.5-.6.9-1.2 1.9-1.7 2.9-.2.4-.4.7-.5 1.1 0 .1-.1.1-.1.2-1 2.4-1.8 4.9-2.1 7.6-.1.5-.1 1-.2 1.6v.2c0 .4-.1.8-.1 1.3v1.8c0 .4 0 .8.1 1.2v.5c0 .3.1.6.1.9v.1c0 .2 0 .3.1.5 0 .3.1.6.1.8 0 .2.1.4.1.6.1.3.1.5.2.8 0 .2.1.4.2.6v.1l.1.2v.2l.1.2c.1.2.1.4.2.6.1.2.1.5.2.7.1.2.2.4.2.7l.1.2c.1.2.1.3.2.5s.2.4.3.7l.3.6c.1.1.1.2.2.3.1.1.1.2.2.3l.3.6c.1.2.2.5.4.7.1.2.2.4.3.5.1.2.3.5.4.7.1.2.2.3.3.5.1.2.3.5.5.7.1.2.2.3.3.4.2.2.3.5.5.7.1.1.2.3.3.4.2.2.4.5.6.7.1.1.2.2.3.4.2.2.4.5.6.7l.3.3c.2.2.4.5.7.7l.3.3.7.7c.1.1.2.2.3.2.2.2.5.4.8.7.1.1.2.1.3.2.3.2.5.4.8.6.1.1.2.1.2.2l.9.6.2.1.9.6.2.1c.3.2.7.4 1 .6l.2.1c.3.2.7.4 1 .5l.2.1c.4.2.7.3 1.1.5l.1.1c.4.2.8.3 1.1.5h.1c.4.1.8.3 1.2.4h.1c.2.1.4.1.6.2.2.1.4.1.7.2h.1c.4.1.9.2 1.3.3.4.1.9.2 1.3.2 1.4.2 2.8.3 4.2.4h1c.5 0 .9 0 1.4-.1.6-.1 1.3-.1 2-.2.6-.1 1.2-.2 1.7-.3.9-.2 1.8-.4 2.6-.7 2.6-.7 4.8-1.7 6.2-2.8 0 0-.9-4-1.6-8-.2-.2-.3-.6-.4-1" /></g><path fill="#2f83c1" d="M121.4 16.6l-.3-4 2-4.4.8-.2c-1.3-.6-2.9-1-4.7-1.3-3.6-.5-8.2 0-13.4 1.3-5.2 1.3-11.1 3.6-17.3 6.7C76 20.9 62.2 30.4 48.8 42.6c-4.7 4.2-9 8.6-13 12.9-3.9 4.2-7.4 8.5-10.6 12.6-6.5 8.5-11.4 16.7-14.6 24.1-2.1 4.9-3.4 9.4-3.9 13.3-.4 2.8-.3 5.3.2 7.3.2.7.4 1.2.6 1.8.5 1.2 1.1 2.2 1.9 3.1l8.1 8.5.9.9.1-.1c.2-.3.5-.6.8-.8l.1-.1.3-.3c.2-.3.5-.5.7-.8.2-.2.3-.3.5-.4.2-.1.3-.3.5-.4l.2-.2c.2-.1.3-.3.5-.4.2-.2.5-.4.7-.6.1-.1.3-.2.4-.3h.1c.3-.2.5-.4.8-.6.2-.1.3-.2.5-.4.3-.2.5-.4.8-.6.2-.1.3-.2.5-.3.3-.2.6-.4.9-.5.2-.1.3-.2.5-.3.3-.2.6-.3.9-.5.2-.1.3-.2.5-.3l.2-.1c1.9-5.3 4.8-11.2 8.6-17.2 4.6-7.4 10.5-15.2 17.5-23 4.4-4.9 9.2-9.8 14.4-14.5C76.1 58.3 83 52.8 89.8 48c4.6-3.2 9.1-6.1 13.5-8.6.4-.2.8-.5 1.3-.7 1.2-.7 2.3-1.3 3.5-1.9 2.5-1.3 5-2.5 7.4-3.5l-1.2-1.4-.2-.2-1.5-1.7-8.3-10 .1-7.2-.1-.1 5.9-1.8 11.2 5.7" /><g fill="#fce9cd"><path d="M218.1 184.6s.2-1.5-.6-2.9c0-.1-.1-.2-.1-.2l-.1-.1-.3-.3c-.2-.2-.4-.4-.7-.6-.1-.1-.3-.2-.5-.3-.5-.2-1-.4-1.7-.5-.5-.1-1-.1-1.6-.1H211.7v.2c0 .1.1.2.1.4 0 .1 0 .2.1.2.1.3.2.8.3 1.2 0 0 0 .1-.1.3v.1c-.3.7-1.1 2.3-2.9 4.3-.3.4-.6.7-1 1.1-5 5.2-15.8 12.5-38.6 16.6-7.7 1.1-14.9 1.2-20.9.4-9-1.1-15.7-4-18.9-7.9-.3-.3-.5-.7-.8-1-.2-.3-.3-.5-.5-.8-.1-.1-.1-.2-.2-.3-1.3-2.4-1.9-5-1.9-7.5 0-3.1 1-6 2.6-8.2 1.3-1.8 3-3.2 5.1-3.8 1-.3 2.1-.5 3.2-.4.2 0 .5 0 .9.1.7.1 1.8.2 3.1.4.1 0 .3 0 .4.1 4.3.5 11.1 1.2 19.3.7 15-.9 34.7-5.6 52.6-21.8v-.1c.1-1.4-.1-3.8-1.8-5.7-.3-.3-.6-.6-1-.9-.2-.2-.5-.3-.7-.5-.3-.1-.5-.3-.7-.4l-.9-.6v-.1c-.1-.2-.2-.4-.4-.6-4.6-7-11-11.1-13.6-13-1.2-.9-2-1.3-2-1.3-5.5-3.4-6.3-4.5-5.8-13.6.2-3.3.5-7.6.9-13.5 0-.8.1-1.5.1-2.2v-.5V98.6c0-.5-.1-1-.1-1.4 0-.2 0-.4-.1-.6-.1-.5-.1-1-.2-1.5 0-.2-.1-.5-.1-.7 0-.3-.1-.5-.2-.8-.1-.2-.1-.5-.2-.7-.1-.3-.2-.6-.2-.9 0-.1-.1-.2-.1-.3 0-.1-.1-.2-.1-.3v-.1l-.1-.3c-.1-.2-.2-.4-.2-.6v-.1l-.1-.2-.1-.2c-.2-.4-.3-.8-.5-1.1l-.1-.3c-.2-.3-.4-.7-.6-1l-.1-.1-.1-.1c-.2-.2-.3-.4-.5-.6l-.2-.3c-.2-.3-.4-.5-.6-.7l-.8-.8c-.3-.2-.6-.4-.9-.5-.1-.1-.2-.1-.3-.1l-.6-.3c-.1 0-.2-.1-.3-.1-.2-.1-.4-.1-.5-.2-.1 0-.2-.1-.4-.1s-.3-.1-.5-.1h-2.2c-.1 0-.2 0-.3.1-.1 0-.2 0-.3.1-.2 0-.4.1-.7.2h-.2c-.6.2-1.1.4-1.7.6l-.2.1c-.2.1-.4.2-.7.3l-.3.1-.6.3-.3.2-.6.3-.3.2c-.2.1-.4.3-.6.4l-.2.1c-.2.2-.5.3-.7.5l-.1.1c-.3.2-.5.4-.8.5-.5.3-1 .7-1.5 1-.4.3-.8.6-1.3.9l-.2.1c-.4.3-.9.6-1.3.8l-.2.1c-.4.3-.9.5-1.3.8l-.2.1c-.4.3-.9.5-1.4.7l-.2.1c-.5.2-.9.4-1.4.6l-.2.1c-.5.2-1 .3-1.5.5h-.1c-.5.1-1.1.2-1.6.3-.9.1-1.9.2-2.8.2-1.5 0-3-.1-4.6-.3l-1.5-.3c-.2 0-.4-.1-.5-.1-1.3-.3-2.7-.6-4-.9-.6-.1-1.1-.3-1.7-.4-.9-.2-1.8-.4-2.8-.6-.2 0-.4-.1-.5-.1-.1 0-.3-.1-.4-.1-.2 0-.4-.1-.6-.1-.2 0-.4-.1-.6-.1h-.2c-.2 0-.4-.1-.5-.1-.4-.1-.8-.2-1.3-.2-.1 0-.3 0-.4-.1-.3 0-.6-.1-.9-.1-.2 0-.3 0-.5-.1-.3 0-.5-.1-.8-.1h-4.6c-.5 0-.9.1-1.4.1h-.4c-.3 0-.6.1-.9.1h-.1c-.2 0-.3.1-.5.1-.3.1-.6.1-.9.2-.2 0-.4.1-.5.1-.3.1-.6.2-.9.2-.2 0-.3.1-.5.2-.3.1-.7.2-1 .3-.2.1-.3.1-.4.2-.5.2-1 .4-1.4.6-3.8 2.2-7.1 5.2-9.6 8.6-.9 1.2-1.7 2.4-2.4 3.6-.8 1.3-1.4 2.7-2 4.1-.2.4-.3.8-.5 1.2-.2.7-.5 1.4-.7 2.1 0 .1 0 .2-.1.2-.2.8-.4 1.6-.6 2.5-.2.9-.3 1.7-.4 2.6-.1.5-.1.9-.1 1.4-.1 1.3-.1 2.5 0 3.8v.3c0 .3 0 .6.1 1 .1.9.2 1.8.4 2.7.1.3.2.6.2 1 .1.3.1.6.2.9.6 2.3 1.5 4.4 2.6 6.2 4.1 7.1 10.9 11.4 15.9 13.7 1.9.8 3.9 1.6 6 2.3l-.2.2c-.4.1-.8.2-1.3.3-.7.2-1.6.5-2.5.8-1 .3-2.2.8-3.4 1.3-3.2 1.3-6.8 3.2-10 5.8-.4.3-.8.7-1.2 1-.7.6-1.3 1.2-1.9 1.9l-.2.2-.3.3c-.2.3-.5.5-.7.8l-.3.3c-.3.4-.6.8-.8 1.2-.3.4-.5.8-.8 1.2-1.9 3.3-3 7.3-2.7 12.1v-.2c0-.1 0-.2.1-.3v-.1c0-.1.1-.2.1-.4v-.1c0-.1.1-.3.1-.5s.1-.3.2-.5v-.1c.1-.2.1-.4.2-.6v-.1c.1-.2.1-.4.2-.6v-.1c.1-.2.2-.4.3-.7l.1-.1c.1-.2.2-.5.4-.7.2-.4.4-.7.6-1.1.1-.1.2-.3.3-.4l.1-.1.6-.9c.2-.2.4-.5.6-.7l.2-.2c.2-.2.3-.4.5-.5l.2-.2c.2-.2.5-.4.7-.7 0 0-4.3 9.8-2.4 17.5v-.1-.2-.3-.4-.5c0-.2 0-.4.1-.6 0-.2 0-.4.1-.6v-.1c0-.2.1-.5.1-.7v-.2c.1-.3.1-.5.2-.8v-.1c.1-.3.2-.6.2-.8 0-.1.1-.2.1-.3l.1-.2c.1-.2.2-.5.3-.7.1-.3.3-.6.5-.9 0-.1.1-.2.1-.2l.6-.9s-.2 2.4-.2 5.3c0 .5 0 .9.1 1.4 0 .3 0 .6.1.9.2-3.1.8-6 1.6-8.7-.8 2.7-1.4 5.6-1.6 8.7-.1 2-.1 4 .1 6.1.3 3.5 1.2 7.3 2.7 11.2 0 0-1.4-4.5.6-9l.6 1.2c.2 1.3.4 3.2.8 5.3.4 3.5 2 14 9.2 21.3 0 0-2.7-3.5-2.3-8 .3.6.6 1.1.8 1.6 1.2 2.3 3.6 6.5 6.3 9.5 0 0-2.1-4.1-1.6-5 0 0 7 8.7 9.2 9.5l-2.9-4.8-.1-.1c10.1 7.4 24.1 10.1 41.3 5.3 3-.8 6-1.9 9.2-3.2 1.9-.8 3.8-1.8 5.7-2.8l.3-.2c1.3-.7 2.6-1.5 3.9-2.3 1-.6 2-1.3 2.9-1.9 1.6-1.1 3.2-2.3 4.8-3.6.1-.1.2-.2.3-.2 1.5-1.3 3-2.7 4.3-4.1 1.8-1.9 3.4-3.8 4.8-5.7l.1-.1c.4-.5.7-.9 1-1.4l.1-.1c.1-.2.2-.3.3-.5.5-.7.9-1.3 1.4-2 .1-.2.2-.3.3-.5.2-.4.4-.7.7-1.1.2-.3.3-.5.5-.8.2-.3.4-.6.5-.9.3-.5.6-1.1.9-1.6l.3-.6.6-1.2.3-.6.1-.2c.2-.5.5-1 .7-1.5v-.1c.9-.8 1.5-1.6 2.1-2.3.1-.1.2-.2.2-.3.9-1.3 1.3-2.8 1.3-4.2M56.4 159.1c-.3.1-.6.5-1 1-.1.2-.3.4-.4.7-.9 1.7-1.7 4.1-1.7 4.1.1-.8.2-1.6.2-2.4v-.3c.1-.8.2-1.7.3-2.5v-.3c.1-1 .3-1.9.5-2.8 0-.1 0-.2.1-.4v-.1c0-.1 0-.2.1-.3 0-.2.1-.3.1-.5.1-.7.3-1.4.4-2.1.1-.6.2-1.2.3-1.7v-.2c0-.1 0-.2.1-.2v-.2c0-.1.1-.3.1-.4 0-.1 0-.2.1-.3 0-.2.1-.4.1-.5 0-.1.1-.3.1-.4 0-.2.1-.4.1-.5 0-.1 0-.2.1-.3 0-.1 0-.2.1-.2 0-.2.1-.3.1-.4V147.6l-.2.2c-.2.1-.3.3-.5.4l-.2.2c-.2.2-.4.4-.5.6l-.1.1-.6.9-.1.1c0 .1-.1.1-.1.2l-.3.6v.2c-.1.3-.3.6-.4.9-.3.8-.6 1.6-.8 2.3-.1.2-.1.5-.2.6-.1.4-.2.8-.2.9v.1-.1c0-.3 0-.5.1-.8 0-.5.1-1.1.1-1.6 0-.4.1-.9.2-1.3 0-.1 0-.3.1-.4 0-.2.1-.4.1-.6 0-.2.1-.4.1-.6V150.2c0-.2.1-.5.1-.7v-.5-.2c0-.1 0-.2.1-.3.1-.3.2-.7.2-1v-.1c.1-.2.1-.5.2-.7v-.1c.1-.5.3-1 .4-1.5v-.2c0-.1 0-.2.1-.3.2-.8.5-1.6.7-2.3v-.1c.2-.6.5-1.3.7-1.9v-.1c.1-.3.2-.5.3-.8.2-.4.3-.8.5-1.2 0-.1.1-.3.3-.7.1-.1.1-.3.2-.4.1-.2.2-.4.3-.7l.1-.2c-.1-.1-.3-.1-.4-.2h-.1l-.2-.1c-.9-.4-1.9-.8-2.9-1.1h-.2c-.7-.2-1.3-.3-2-.4-.4 0-.8-.1-1.2-.1h-1c-.5 0-1 .1-1.5.1-.2 0-.3 0-.5.1-.2 0-.5.1-.7.1-.1 0-.2 0-.3.1-.2 0-.3.1-.5.1-.3.1-.7.2-1 .3-.1 0-.3.1-.4.1-.4.2-.9.3-1.3.5-.2.1-.3.2-.5.2l-.6.3-.2.1c-.2.1-.4.2-.6.4-.2.1-.4.2-.6.4-.2.1-.4.3-.6.4-.1.1-.3.2-.4.3-.3.3-.7.6-1 .9l-.5.5c-.3.3-.5.6-.8.9l-.1.1c-.1.2-.3.3-.4.5l-.3.3c-.5.7-1 1.5-1.4 2.3-.1.1-.1.2-.2.3-.2.4-.3.8-.5 1.2-.1.2-.1.3-.2.5-.1.4-.3.8-.4 1.3v.4c-.1.3-.1.6-.2.9 0 .2 0 .3-.1.5 0 .2 0 .3-.1.5v.4c0 .5-.1 1 0 1.5 0 .4 0 .8.1 1.2v.2c0 .2.1.4.1.6.1.8.3 1.5.5 2.3.2.6.4 1.1.6 1.6.4 1 .9 1.9 1.5 2.8 1.2 1.8 2.8 3.4 4.7 4.6 1 .7 2.2 1.2 3.4 1.6 1.1.4 2.3.7 3.6.8.3 0 .6.1.8.1h1.3c.4 0 .8-.1 1.2-.1.2 0 .5 0 .7-.1.6-.1 1.1-.2 1.7-.3h.1c.2-.1.4-.1.7-.2.7-.2 1.4-.5 2-.8l.1-.1c.2-.1.4-.2.5-.2-.3-1.7-.6-3.5-.7-5.3.5-.2.5-.3.5-.4" /></g><path fill="#4d9ed7" d="M123.9 17.8l.3.2z" /><path fill="#fff" d="M212 180.5c0-.1 0-.2-.1-.2-.1-.2-.1-.3-.1-.4-.5-1.6-1.1-2.8-1.7-3.7-.7-1.1-1.3-1.7-1.3-1.7l.3-1.2c.1-.5.2-1 .2-1.5.4-3.6-.5-6.4-1.3-8-.1-.3-.2-.5-.3-.7-.6.4-1.1.8-1.7 1.2-10.8 7.3-22.9 12-36 14-9 1.4-18.5 1.5-28.4.3l.2.1s-6 .8-7.6 6.5l.1.1-.5 3.8c.2 5.2 2.5 8.4 5.2 10.1 2.8 1.1 6.2 1.9 10 2.4 6.5.8 14.1.6 21.7-.6 10.2-1.4 24.6-6.8 34.9-13.8 2.3-1.6 4.5-3.3 6.3-5l.1-.1.1-.1c0-.7-.1-1.1-.1-1.5" /><g fill="#f2d2ac"><path d="M192.5 131.1c-5.5-3.4-6.3-4.5-5.8-13.6.2-3.3.5-7.6.9-13.5 0-.8.1-1.5.1-2.2v-.5V98.9c0-.5-.1-1-.1-1.4 0-.2 0-.4-.1-.6-.1-.5-.1-1-.2-1.5 0-.2-.1-.5-.1-.7 0-.3-.1-.5-.2-.8-.1-.2-.1-.5-.2-.7-.8-1.2-1.7-2.2-2.8-3.1l-.2-.2-.2-.1h-.1c-.2-.1-.3-.2-.5-.3-.2-.1-.4-.2-.5-.3-1.6-1-3.5-1.6-5.4-1.9-1.1-.2-2.2-.2-3.3-.2-.5 0-1.1.1-1.6.1-1.4.2-2.8.5-4.3.9-.5.3-1 .7-1.5 1-.4.3-.8.6-1.3.9l-.2.1c-.4.3-.9.6-1.3.8l-.2.1c-.4.3-.9.5-1.3.8l-.2.1c-.4.3-.9.5-1.4.7l-.2.1c-.5.2-.9.4-1.4.6l-.2.1c-.5.2-1 .3-1.5.5h-.1c-.5.1-1.1.2-1.6.3-.9.1-1.9.2-2.8.2-1.5 0-3-.1-4.6-.3l-1.5-.3c-.2 0-.4-.1-.5-.1-1.3-.3-2.7-.6-4-.9-.6-.1-1.1-.3-1.7-.4-.9-.2-1.8-.4-2.8-.6-.2 0-.4-.1-.5-.1-.8 0-1.6.1-2.3.2h-.2c-2.3.3-4.5.8-6.8 1.6-.1 0-.2.1-.4.1-.4.1-.7.3-1.1.4-.5.2-.9.4-1.4.6-3.3 1.4-6.4 3.4-9.4 5.9-1.2 1-2.3 2.1-3.4 3.2-1.6 1.7-3 3.5-4.3 5.4-.1.1-.1.2-.2.3-.7 1-1.3 2.1-1.8 3.1-.2.4-.4.8-.6 1.1v.1c-.6 1.3-1.1 2.5-1.5 3.8 0 .1 0 .2-.1.2-.1.2-.1.4-.2.6-.2.6-.4 1.2-.5 1.8-.2.6-.3 1.2-.4 1.9 0 .1-.1.3-.1.4-.1.4-.1.8-.2 1.1-.2 1.4-.3 2.8-.4 4.2v1c.6 2.3 1.5 4.4 2.6 6.2 4.1 7.1 10.9 11.4 15.9 13.7 1.9.8 3.9 1.6 6 2.3l.1.1.1-.1c.3-.2.5-.4.8-.6.1-.1.2-.1.3-.2l.9-.6c.1-.1.2-.1.3-.2l.9-.6c.1-.1.2-.1.3-.2.3-.2.6-.4 1-.6.1-.1.2-.1.3-.2.3-.2.7-.4 1-.6.1-.1.2-.1.3-.2.3-.2.7-.4 1-.6.1-.1.3-.1.4-.2.3-.2.7-.4 1-.6.1-.1.3-.2.4-.2.3-.2.7-.4 1.1-.6.2-.1.3-.2.5-.2.4-.2.7-.4 1.1-.5.2-.1.3-.2.5-.2.4-.2.7-.3 1.1-.5l.6-.3c.4-.2.7-.3 1.1-.5.2-.1.4-.2.7-.3.4-.1.7-.3 1.1-.4.2-.1.5-.2.7-.3.4-.1.7-.3 1.1-.4.3-.1.5-.2.8-.3.4-.1.7-.3 1.1-.4l.9-.3c.3-.1.7-.2 1-.4.3-.1.7-.2 1-.3.3-.1.7-.2 1-.3.4-.1.8-.2 1.1-.3.3-.1.6-.2 1-.3.4-.1.8-.2 1.3-.4.2-.1.4-.1.6-.2 1.6-4.1 6.5-14.3 14.8-15.4.9-.1 1.7-.2 2.5-.2h.6c-.1-.6-.2-1.2-.2-1.9-.3-4.4 1.1-8.1 3-8.2 1.5-.1 2.7 2.1 2.9 2.8.6 1.3 1 3 1.1 4.9.1 1.7-.1 3.3-.4 4.7.2.2.3.4.5.5 1.9 2.4 2.2 5.6 2.1 8 .7-.1 1.5-.1 2.3-.2.2 0 .4 0 .6-.1h.4c.9-.1 1.9-.2 2.9-.2 2.2-.2 4.4-.3 6.7-.4-1.3-.7-2.1-1.1-2.1-1.1M213.4 192.7c-3.6 3.2-7.4 5.8-11.2 7.9-1.9 1-3.8 1.9-5.6 2.7-4.1 1.8-8 3-11.5 3.9-7.7 1.9-13 1.9-13 1.9 4.2 2.3 9.5 2.3 13.1 2 2.5-.2 4.2-.7 4.2-.7-.1 1.5-.3 2.9-.5 4.3-.3 1.5-.7 2.8-1.2 4v.1c-.6 1.5-1.4 2.8-2.2 4-.1.1-.2.3-.3.4l.3-.2c1.3-.7 2.6-1.5 3.9-2.3 1-.6 2-1.3 2.9-1.9 1.6-1.1 3.2-2.3 4.8-3.6.1-.1.2-.2.3-.2 1.5-1.3 3-2.7 4.3-4.1 1.8-1.9 3.4-3.8 4.8-5.7l.1-.1c.4-.5.7-.9 1-1.4l.1-.1c.1-.2.2-.3.3-.5.5-.7.9-1.3 1.4-2 .1-.2.2-.3.3-.5.2-.4.4-.7.7-1.1.2-.3.3-.5.5-.8.2-.3.4-.6.5-.9.3-.5.6-1.1.9-1.6l.3-.6.6-1.2.3-.6.1-.2c.2-.5.5-1 .7-1.5-.4.1-.6.3-.9.6M122.2 152.4c-1 .3-2.2.8-3.4 1.3-3.2 1.3-6.8 3.2-10 5.8-.4.3-.8.7-1.2 1-.7.6-1.3 1.2-1.9 1.9l-.2.2-.3.3c-.2.3-.5.5-.7.8l-.3.3c-.3.4-.6.8-.8 1.2-.3.4-.5.8-.8 1.2-1.9 3.3-3 7.3-2.7 12.1v-.2c0-.1 0-.2.1-.3v-.1c0-.1.1-.2.1-.4v-.1c0-.1.1-.3.1-.5s.1-.3.2-.5v-.1c.1-.2.1-.4.2-.6v-.1c.1-.2.1-.4.2-.6v-.1c.1-.2.2-.4.3-.7l.1-.1c.1-.2.2-.5.4-.7.2-.4.4-.7.6-1.1.1-.1.2-.3.3-.4l.1-.1.6-.9c.2-.2.4-.5.6-.7l.2-.2c.2-.2.3-.4.5-.5l.2-.2c.2-.2.5-.4.7-.7 0 0-4.3 9.8-2.4 17.5v-.1-.2-.3-.4-.5c0-.2 0-.4.1-.6 0-.2 0-.4.1-.6v-.1c0-.2.1-.5.1-.7v-.2c.1-.3.1-.5.2-.8v-.1c.1-.3.2-.6.2-.8 0-.1.1-.2.1-.3l.1-.2c.1-.2.2-.5.3-.7.1-.3.3-.6.5-.9 0-.1.1-.2.1-.2l.6-.9s-.2 2.4-.2 5.3c0 .5 0 .9.1 1.4 0 .3 0 .6.1.9.2-3.1.8-6 1.6-8.7.2-.7.5-1.5.7-2.2 0-.1.1-.2.1-.3.3-.7.5-1.3.8-2 .1-.1.1-.2.2-.4.3-.6.6-1.3.9-1.9.1-.1.1-.2.1-.3.7-1.3 1.4-2.5 2.1-3.6.1-.1.1-.2.2-.3.3-.4.6-.8.9-1.3.1-.1.1-.2.2-.3.1-.1.1-.2.2-.3.4-.5.7-1 1.1-1.5.1-.1.1-.2.2-.2.4-.5.8-1 1.2-1.4.5-.6 1-1.1 1.5-1.7.4-.4.7-.8 1.1-1.1l.4-.4c.8-.8 1.6-1.6 2.4-2.3 2.2-2 4-3.3 4.6-3.7-.4.1-.8.2-1.3.3-.6.3-1.4.6-2.4.9" /><path d="M179.8 130.7s0-.2-.1-.6c-.4-1.4-1.8-4.8-7.3-4.3-5.8.6-7.8 5.3-8.3 6.9-.1.3-.1.5-.1.5l.2.1c.7-.6 2.1-.6 3.4.3.6.4 1 .8 1.4 1.3.5.8.6 1.6.3 2.2l-.3.3s.2.1.6.2c1.6.5 6.1 1.4 8.5-1.7.1-.2.2-.3.3-.5-.5-.2-.7-.9-.7-1.8 0-.4.1-.8.2-1.3.3-1.2 1.2-1.9 1.9-1.6M150.9 173.5c-3.8.8-7.1 1.4-9.6 1.8.1 0 .3 0 .4.1 4.3.5 11.1 1.2 19.3.7 15-.9 34.7-5.6 52.6-21.8v-.1c.1-1.4-.1-3.8-1.8-5.7-.3-.3-.6-.6-1-.9-.1 0-.1-.1-.2-.1-.5-.3-.9-.5-1.3-.8l-.9-.6v-.1c-1.1 1.6-2.4 3.1-3.8 4.5-.5.5-1 1-1.6 1.5-4.9 4.4-11.3 8.2-18.2 11.2-11.4 5-24.2 8.3-33.9 10.3M56.1 147.4c-.2.1-.3.3-.5.4l-.2.2c-.2.2-.4.4-.5.6l-.1.1-.6.9-.1.1c0 .1-.1.1-.1.2l-.3.6v.2c-.1.3-.3.6-.4.9-.3.8-.6 1.6-.8 2.3-.1.2-.1.5-.2.6-.1.4-.2.8-.2.9v.1-.1c0-.3 0-.5.1-.8 0-.5.1-1.1.1-1.6 0-.4.1-.9.2-1.3 0-.1 0-.3.1-.4 0-.2.1-.4.1-.6 0-.2.1-.4.1-.6V149.8c0-.2.1-.5.1-.7v-.5-.2c0-.1 0-.2.1-.3.1-.3.2-.7.2-1v-.1c.1-.2.1-.5.2-.7v-.1c.1-.5.3-1 .4-1.5v-.2c0-.1 0-.2.1-.3.2-.8.5-1.6.7-2.3v-.1c.2-.6.5-1.3.7-1.9v-.1c.1-.3.2-.5.3-.8.2-.4.3-.8.5-1.2 0-.1.1-.3.3-.7.1-.1.1-.3.2-.4.1-.2.2-.4.3-.7l.1-.2c-.1-.1-.3-.1-.4-.2h-.1l-.2-.1c-.9-.4-1.9-.8-2.9-1.1h-.2c-.7-.2-1.3-.3-2-.4-.4 0-.8-.1-1.2-.1h-1c-.5 0-1 .1-1.5.1-.2 0-.3 0-.5.1-.2 0-.5.1-.7.1-.1 0-.2 0-.3.1-.2 0-.3.1-.5.1-.3.1-.7.2-1 .3-.1 0-.3.1-.4.1-.4.2-.9.3-1.3.5-.2.1-.3.2-.5.2l-.6.3-.2.1c-.2.1-.4.2-.6.4-.2.1-.4.2-.6.4-.2.1-.4.3-.6.4-.1.1-.3.2-.4.3-.3.3-.7.6-1 .9l-.5.5c-.3.3-.5.6-.8.9l-.1.1c-.1.2-.3.3-.4.5l-.3.3c-.5.7-1 1.5-1.4 2.3-.1.1-.1.2-.2.3-.2.4-.3.8-.5 1.2-.1.2-.1.3-.2.5 0 .1.1.2.1.3.1.4.2.7.3 1.1v.2c.1.3.3.7.4 1 .4 1 .8 1.9 1.3 2.7.1.1.1.2.2.3v.1l.1.1c.3.6.6 1.1.9 1.5.5.7.9 1.2 1.2 1.6l.2.2c0 .1.1.1.1.1l.2.2c0-.2-.1-.4-.1-.5-.3-1.3-.4-2.5-.4-3.8v-.2c0-.8 0-1.6.1-2.3l.3.9c.1.4.3.8.4 1.2v.2c.6 1.7 1.3 3.1 2 4.2.8 1.4 1.5 2.3 2 2.9.1.1.2.2.2.3l.2.2c-.3-1.4-.5-2.7-.5-4v-1.3c0-.6 0-1.1.1-1.6.2.9.5 1.8.8 2.6v.1c1.1 2.9 2.4 5 3.3 6.3l.1.1c.2.2.3.4.4.6.1.1.2.2.2.3l.2.2.1.1v-.2c0-.2-.1-.4-.1-.6-.1-.7-.2-1.4-.3-2 0-.4-.1-.9-.1-1.3v-1.2-.2V154.5c0-.5.1-1.1.1-1.6.1.3.2.7.3 1 .1.2.2.5.3.7v.1l.1.1c.1.3.2.6.3.8.2.5.4 1 .7 1.4.3.6.5 1.1.8 1.5.2.3.3.5.4.7.2.3.4.6.5.8.2.2.3.4.4.6l.1.1c.1.2.3.3.4.5.1.1.2.2.2.3.2.2.3.4.4.4l.1.1v-.3c.1-.8.2-1.7.3-2.5v-.3c.1-1 .3-1.9.5-2.8 0-.1 0-.2.1-.4v-.1c0-.1 0-.2.1-.3 0-.2.1-.3.1-.5.1-.7.3-1.4.4-2.1.1-.6.2-1.2.3-1.7v-.2c0-.1 0-.2.1-.2v-.2c0-.1.1-.3.1-.4 0-.1 0-.2.1-.3 0-.2.1-.4.1-.5 0-.1.1-.3.1-.4 0-.2.1-.4.1-.5 0-.1 0-.2.1-.3 0-.1 0-.2.1-.2 0-.2.1-.3.1-.4V147.1l.5.3M177.3 189.2c1.4-.5 2.6-.9 3.6-1.3 1.9-.8 2.9-1.4 2.9-1.6-.1-.2-1.2-.1-3.2.4-1 .2-2.2.4-3.7.8-.7.2-1.5.3-2.3.4-.8.1-1.7.3-2.6.4-1.8.3-3.8.5-6 .7l-3.3.3c-1.1.1-2.3.1-3.5.2-4.8.1-10.1-.1-15.5-1.1-2.8-.5-6.7-1.8-9.4-3.3l-.1-.1c1.6-5.7 7.6-6.5 7.6-6.5l-.2-.1h-.3c-.9-.1-1.6-.2-2.3-.3-.5-.1-.9-.1-1.2-.2-.3 0-.6-.1-.7-.1-3.6-.2-5.6 2.8-6.2 4.1l-.3.6c-.5 1.2-.9 2.5-1 4-.2 2.7.5 5.6 2.6 8.1 1.4 1.7 3.8 3.2 6.9 4.4-2.7-1.7-5.1-5-5.2-10.1 3.1 1.3 6.6 2.1 9.3 2.6 5.7 1.1 11.3 1.2 16.2.9 1.2-.1 2.5-.2 3.6-.3 1.2-.2 2.3-.3 3.4-.4 2.2-.4 4.1-.7 6-1.1.9-.2 1.8-.4 2.6-.7.9-.2 1.6-.4 2.3-.7" /></g><g fill="#664f44"><path d="M172.6 122.4c3 .1 5 1 6.4 2.4.3-1.3.5-2.9.4-4.7-.1-1.9-.5-3.6-1.1-4.9-.2-.8-1.4-2.9-2.9-2.8-1.9.1-3.3 3.8-3 8.2 0 .6.1 1.2.2 1.8M177.6 133.7c0 .8.3 1.5.7 1.8.7.4 1.6-.4 2-1.7 0-.1.1-.2.1-.3.3-1.2 0-2.4-.7-2.7-.7-.4-1.6.4-2 1.7 0 .4-.1.8-.1 1.2M164 135.9c.3.5.8 1 1.4 1.4 1.3.8 2.7.9 3.5.2l.3-.3c.3-.6.2-1.4-.3-2.2-.3-.5-.8-1-1.4-1.3-1.3-.8-2.7-.9-3.4-.3-.1.1-.2.2-.3.4-.3.5-.2 1.3.2 2.1M213.7 154.2c-.1 0-.1 0 0 0M212.1 181.9c-1.9 1.8-4 3.5-6.4 5.1-10.3 7-24.7 12.5-34.9 13.8-7.7 1.2-15.2 1.4-21.7.6-3.8-.5-7.1-1.3-10-2.4-3.1-1.2-5.5-2.7-6.9-4.4-2.1-2.5-2.7-5.5-2.6-8.1.1-1.4.4-2.8 1-4l.3-.6c.7-1.3 2.6-4.4 6.2-4.1.1 0 .4 0 .7.1.3 0 .8.1 1.2.2.7.1 1.4.2 2.3.3h.3c9.9 1.2 19.4 1.1 28.4-.3 13.1-2 25.2-6.7 36-14 .6-.4 1.1-.8 1.7-1.2l5.9-8.8c-17.9 16.3-37.6 21-52.6 21.9-8.2.5-15-.1-19.3-.7-.2 0-.3 0-.4-.1-1.3-.2-2.3-.3-3.1-.4-.4 0-.7-.1-.9-.1-1.1-.1-2.2.1-3.2.4-2 .6-3.8 2-5.1 3.8-1.6 2.2-2.6 5.2-2.6 8.2 0 2.5.6 5.1 1.9 7.5.1.1.1.2.2.3.2.3.3.5.5.8.2.3.5.7.8 1 3.1 3.9 9.9 6.7 18.9 7.9 6.1.8 13.2.7 20.9-.4 22.8-4.1 33.6-11.5 38.6-16.6.4-.4.7-.7 1-1.1 1.8-2.1 2.6-3.7 2.9-4.3v-.1c.1-.2.1-.3.1-.3l-.1.1" /></g><g fill="#e9b784"><path d="M139.6 102.9c-.7-.4-1.5-.7-2.3-.9-.5-.1-1-.2-1.6-.3-.2 0-.4 0-.6-.1-2.7-.2-5 .2-5 .2-.5.1-1 .2-1.4.4-3.6 1.1-6.1 3-7.9 5.2-1.4 1.8-2.4 3.7-2.9 5.6-.1.2-.1.3-.1.5-.1.5-.3 1-.4 1.4-.3 1.6-.5 3-.5 4.2 0 1.6.1 2.6.1 2.6.6-1.4 1.3-2.6 2-3.8 1.7-2.9 3.5-5.3 5.4-7.2 3.6-3.7 7.3-5.7 10.1-6.7 3-1 5.1-1.1 5.1-1.1M182.9 97.8l-.1-.2c-.4-.5-.9-1-1.5-1.4-1.4-.9-3.3-1.4-5.9-.9 0 0-3.1.7-4.9 2.8 0 0 5.4-2.3 11.2 1.8.5.4 1.1.8 1.6 1.3s1.1 1 1.6 1.7c0 0-.2-2.5-1.7-4.7-.1-.2-.2-.3-.3-.4" /></g><path fill="#664f44" d="M140.3 137.6c2.1-.6 4.3-1.2 6.8-1.8.4-1.9.5-4.2.2-6.7-.7-5.8-3.3-10.3-5.9-10-2.6.3-4.1 5.3-3.4 11.1.4 3 1.2 5.6 2.3 7.4" /><path fill="#ffd250" d="M128.4 6.9L123 8.1l1.1 9.8-14.3-7.3-5.9 1.8.1.1 17.4 19.8.2-.1.2-.1c.5-.3 1.1-.7 1.6-1 .2-.1.4-.2.6-.4.8-.5 1.6-1 2.4-1.4l-7.4-8.5 11.9 5.8c.4-.2.7-.4 1.1-.6l-1.1-8.5 5.4 6.3h.1c.5-.2.9-.5 1.4-.7l.2-.1.2-.1c.1 0 .2-.1.2-.1l.6-.3s.1 0 .1-.1c.6-.3 1.3-.6 1.9-.9L128.4 6.9" /><g fill="#4d9ed7"><path d="M123.1 8.4v-.3.3M123.1 8.1l.8-.2c-1.3-.6-2.9-1-4.7-1.3-3.6-.5-8.2 0-13.4 1.3-5.2 1.3-11.1 3.6-17.3 6.7C76 20.8 62.2 30.3 48.8 42.5c-4.7 4.2-9 8.6-13 12.9l16.2 20c4.4-4.8 9.1-9.6 14.3-14.3 6.9-6.3 13.9-11.9 20.8-16.7 6.7-4.7 13.4-8.7 19.7-11.9L104 19.7l.1-7.2-.1-.1 5.9-1.8 11.5 5.9-.3-4 2-4.4" /></g><g fill="#132134"><path d="M123.1 8.1l-2 4.4.3 4.1 2.8 1.4zM119 20.8l12 5.9-4.6 2.6zM131 17.5l1.1 8.5 4.3-2.2z" /></g><path fill="#fff" d="M176.2 14.4h2.2c2 0 3.9.3 5.7.7.1 0 .2 0 .3.1h.1l.2.1h.2c-.2-.1-.4-.3-.6-.4-2-.8-4.1-1.3-6.3-1.6-10.8-1.4-23.2 2.6-30.2 5.4-.4.2-.8.3-1.2.5-.6.3-1.2.5-1.8.8-1 .4-2 .9-3.1 1.4-.2.1-.3.1-.5.2-.6.3-1.3.6-1.9.9 0 0-.1 0-.1.1l-.6.3c-.1 0-.2.1-.2.1h-.4l-.1.1c-.5.2-.9.4-1.4.7h-.1c-.1.1-.2.1-.3.2h-.1c-.1 0-.2.1-.2.1-.7.4-1.4.7-2.1 1.1-.5.3-1 .5-1.5.8h-.1c-.4.2-.7.4-1.1.6-1.2.6-2.3 1.3-3.5 2-.1.1-.2.1-.4.2-.1.1-.2.1-.3.2-.1.1-.2.1-.3.2l-.1.1c-.8.5-1.6.9-2.4 1.4-.2.1-.4.2-.6.4-.5.3-1.1.7-1.6 1l-.2.1-.2.1-4.5 3c-2.5 1.7-4.9 3.4-7.3 5.2-.3.2-.6.5-.9.7-6.3 4.7-12.3 9.8-18.1 15-6.1 5.6-12 11.3-17.5 17.1-3 3-5.6 5.7-7.6 7.9-4.2 4.5-6.5 7.3-6.4 7.4 0 0 .4-.3 1.1-1-.5.6-1.1 1.3-1.6 1.9 9.2-9.8 19.3-19.8 30.2-29.2 6.6-5.7 13.5-11.2 20.6-16.3 3.1-2.2 6.3-4.4 9.5-6.5 1-.7 2.1-1.3 3.1-2 .5-.3 1-.6 1.6-.9.3-.2.6-.4.9-.5.6-.3 1.1-.7 1.7-1 .5-.3 1.1-.6 1.6-1 .3-.2.6-.3.9-.5l2.1-1.2c.4-.2.8-.5 1.2-.7 1.3-.7 2.6-1.4 4-2.1.1-.1.2-.1.3-.2l.6-.3c.3-.1.5-.3.8-.4.1-.1.2-.1.3-.2l.6-.3s.1 0 .1-.1h.1c.6-.3 1.2-.6 1.7-.8.1 0 .2-.1.3-.2l.6-.3c.7-.3 1.3-.6 2-.9.2-.1.4-.2.5-.3.1 0 .2-.1.3-.1.2-.1.4-.2.6-.2.8-.3 1.5-.7 2.3-1 .7-.3 1.3-.6 2-.9 3.8-1.6 7.3-2.9 10.6-4 6.2-1.7 11.7-2.8 16.5-3" /></svg>
            </div>
            <div class="name">MailChimp</div>
        </label>
    </section>

    <section class="usn-cms xml-freq" ng-show="model.isSitemapChangeFrequency">
        <label class="item xml-freq-1">
            <input ng-model="model.value" value="Sitemap_Always" name="xml-freqs" type="radio" ng-click="check($event)">
            <span></span>
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z" />
            </svg>
            <div class="name">Always</div>
        </label>
        <label class="item xml-freq-2">
            <input ng-model="model.value" value="Sitemap_Hourly" name="xml-freqs" type="radio" ng-click="check($event)">
            <span></span>
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z" />
            </svg>
            <div class="name">Hourly</div>
        </label>
        <label class="item xml-freq-2">
            <input ng-model="model.value" value="Sitemap_Daily" name="xml-freqs" type="radio" ng-click="check($event)">
            <span></span>
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z" />
            </svg>
            <div class="name">Daily</div>
        </label>
        <label class="item xml-freq-2">
            <input ng-model="model.value" value="Sitemap_Weekly" name="xml-freqs" type="radio" ng-click="check($event)">
            <span></span>
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z" />
            </svg>
            <div class="name">Weekly</div>
        </label>
        <label class="item xml-freq-2">
            <input ng-model="model.value" value="Sitemap_Monthly" name="xml-freqs" type="radio" ng-click="check($event)">
            <span></span>
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z" />
            </svg>
            <div class="name">Monthly</div>
        </label>
        <label class="item xml-freq-2">
            <input ng-model="model.value" value="Sitemap_Yearly" name="xml-freqs" type="radio" ng-click="check($event)">
            <span></span>
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z" />
            </svg>
            <div class="name">Yearly</div>
        </label>
        <label class="item xml-freq-2">
            <input ng-model="model.value" value="Sitemap_Never" name="xml-freqs" type="radio" ng-click="check($event)">
            <span></span>
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z" />
            </svg>
            <div class="name">Never</div>
        </label>
    </section>
</div>