﻿
<div ng-controller="ShortListItemsController">
    <div>
        <select ng-model="property.value">
            <option ng-selected="item.Value == property.value"
                    ng-repeat="item in shortListItems"
                    value="{{item.Value}}">
                {{item.Text}}
            </option>
        </select>

    </div>
   

</div>