﻿

<div class="modal photo-full-page-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="imageFullPage">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            <div class="site-loaded">
                
                <div class="loader-container">
                    <div class="loader"></div>
                </div>

                <iframe id="photo-full-page-iframe"
                        title="photo-full-page"
                        src=""
                        onload="this.style.height=this.contentDocument.body.scrollHeight +'px';"
                        scrolling="no"></iframe>
            </div>
        </div>

    </div>

</div>



