﻿@using System.Globalization
@using CS.Common.Helpers
@using CSTemplate.Code.Constants

@inherits  UmbracoViewPage<CSTemplate.Code.Models.Shared._PaymentButtonsModel>

<div class="order-payment-method-container row">

    <!--Terms and conditions Checkbox - not by model binding-->
    <div class="form-group checkbox-container">
        <label class="label-required checkbox-label" for="TermsConditions">
            @Html.HiddenFor(m => Model.True)
            @Html.CheckBoxFor(x => Model.TermsConditions, new { @class = "checkbox-input" })
            <span class="checkmark"></span>
            <span class="label-text">
                @Html.Raw(Model.AwardRulesTermsAndConditionsText)
            </span>
        </label>
        <div class="error-message-for-terms-and-conditions"></div>
    </div>
    
    <div class="payment-buttons-outer-container">
        <div class="order-paypal-method">
            <div class="img-container">
                @Html.Raw(Html.CreateImage(Model.PaypalLogoImgUrl, new int[] {ConstantValues.GeneralImageSizeSmall, ConstantValues.GeneralImageSizeMedium}))
            </div>
            <div class="order-btn-container">

                @using (Html.BeginForm("SendPayPalPostRequest", "PayPalResponse", FormMethod.Post, new { @class = "order-summary-form" }))
                {
                    @Html.HiddenFor(x => x.OrderRefId)
                    @Html.HiddenFor(x => x.OrderId)

                    <button type="submit" class="btn pay-with-paypal-btn"> <span>@Model.PaypalButtonText</span> </button>
                }
              
            </div>
        </div>
    
        <div class="pay-with-bilderlings-container">
            <div class="img-container">
                @Html.Raw(Html.CreateImage(Model.BilderlingsLogImgUrl, new int[] {ConstantValues.GeneralImageSizeSmall, ConstantValues.GeneralImageSizeMedium}))
            </div>
            <div class="order-btn-container">

                @*@using (Html.BeginForm("SendDirectPost", "BilderlingsPayment", FormMethod.Post, new { @class = "order-summary-form" }))
                {
                    @Html.HiddenFor(x => x.OrderRefId)
                    @Html.HiddenFor(x => x.OrderId)

                    <button type="submit" class="btn pay-with-paypal-btn"> <span>@Model.CardButtonText</span> </button>
                }*@
              
                <form action="https://my2.bilderlingspay.com/direct/v1" method="post" enctype="application/x-www-form-urlencoded" id="bilderlingsPayWithCardForm">

                    <!-- Saved buttons use the "secure click" command -->
                    <input type="hidden" name="X-Shop-Name" value="@Model.BilderlingsPaymentModel.XShopName">
                    <input type="hidden" name="ShopPassword" value="@Model.BilderlingsPaymentModel.ShopPassword">
                    <input type="hidden" name="X-Nonce" value="@Model.BilderlingsPaymentModel.XNonce">
                    <input type="hidden" name="X-Request-Signature" value="@Model.BilderlingsPaymentModel.XRequestSignature">
                    <input type="hidden" name="order_id" value="@Model.BilderlingsPaymentModel.OrderRefId">
                    <input type="hidden" name="amount" value="@Model.BilderlingsPaymentModel.amount">
                    <input type="hidden" name="currency" value="@Model.BilderlingsPaymentModel.Currency"> 
                    <input type="hidden" name="payment_method" value="@Model.BilderlingsPaymentModel.PaymentMethod">
                    
                    @for (int i = 0; i < Model.BilderlingsPaymentModel.ListOfProducts.Count; i++)
                    {
                        <input type="hidden" name="product[@i].name" value="@Model.BilderlingsPaymentModel.ListOfProducts[i]">
                    }


                    <button type="submit" class="btn pay-with-paypal-btn"> <span>@Model.CardButtonText</span> </button>

                </form>


            </div>
        </div>
    </div>

  

    @*<div class="order-card-method col-xs-12 col-sm-6 col-md-4">
        <div class="img-container row">
            <div class="visaimg-container col-xs-6">
                @Html.Raw(Html.CreateImage(Model.VisaLogoImgUrl, new int[] {ConstantValues.GeneralImageSizeSmall, ConstantValues.GeneralImageSizeMedium}))
            </div>
            <div class="mastercardimg-container col-xs-6">
                @Html.Raw(Html.CreateImage(Model.MasterCardLogoImgUrl, new int[] {ConstantValues.GeneralImageSizeSmall, ConstantValues.GeneralImageSizeMedium}))
            </div>

        </div>
        <div class="order-btn-container">
            @using (Html.BeginForm("ProceedToPayment", "PaymentPageSurface", FormMethod.Post, new {@class = "order-summary-form"}))
            {
                @Html.HiddenFor(x => x.OrderRefId)
                
                @Html.HiddenFor(x => x.ClientEmailAddress)
                
                @Html.HiddenFor(x => x.TransactionDescription)
                
                @Html.HiddenFor(x => x.SubTotalPrice)
                

                    <div class="order-btn-container">
                            <button type="submit" class="btn"> <span>@Model.PaypalButtonText</span> </button>
                        </div>
                <button type="submit" class="btn pay-with-card-btn"> <span>@Model.CardButtonText</span> </button>
            }
        </div>
    </div>*@
</div>

<script type="text/javascript">
    $(".order-summary-form").submit(function (e) {
        return checkIfTermsAndConditionsIsChecked();
    });

    $("#bilderlingsPayWithCardForm").submit(function (e) {
        return checkIfTermsAndConditionsIsChecked();
    });


    function checkIfTermsAndConditionsIsChecked() {
        if ($('#TermsConditions ').is(':checked')) {
            return true;
        }
        $('.error-message-for-terms-and-conditions').html("<span class='field-validation-error'>The'Award Rules and the Terms & Conditions' checkbox is required </span>");
        
        
        return false;
    }
</script>