﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared.ListingItems._ListingItemsAsMasonryPartialModel>

<section class="listing-items-as-masonry-section">

    <div class="row">
        <div class="col-xs-12">
            <div class="container-fluid container-fluid-padding">
                <div class="text base-text showing-result">
                    <p>@Model.Pagination.ShowingResultsOfPagesText</p>
                </div>
                <div class="masonry-grid">
                    <div class="grid-sizer"></div>

                    @foreach (var photo in Model.ListOfPhotos)
                    {
                        <div class="masonry-grid-item">
                            @Html.Partial("ItemPhoto/_ItemPhoto", photo)
                        </div>

                    }

                </div>
            </div>
        </div>
        
    </div>


    @if (Model.Pagination.Pages != null && Model.Pagination.Pages.Any())
    {

        @Html.Partial(MVC.Shared.Views.Common._Pager, @Model.Pagination)


    }
    

</section>



