﻿@using CasaSoftUmbracoUSkinnedTemplate.Controllers
@inherits UmbracoViewPage<CSTemplate.Code.Models.Register.RegisterPageModel>


@{
    Layout = "USNMaster.cshtml";
}


@Html.Partial("USNMiscPageElements/USN_StandardPageBannerSection", Model)

<section class="register-form-section row">
     
    @using (Html.BeginUmbracoForm<RegisterFormController>("HandleRegisterFormSubmit"))
    {
    @*@Html.AntiForgeryToken()*@


        <div class="register-form-container">
            <div class="register-form">
                
            @Html.Partial("RegisterForm/_RegisterForm", Model.RegisterForm)

            </div>
        </div>
    }

</section>


@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", Model)

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "horizontal" }, { "pagetype", "advanced" } })

@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }
    }

    @Html.Raw(" class=\"advanced-page " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}