﻿@using CasaSoftUmbracoUSkinnedTemplate.Controllers
@inherits UmbracoViewPage<CSTemplate.Code.Models.Shortlist_Photos.ShortlistPhotosListingPageModel>



@{
    Layout = "USNMaster.cshtml";
}


@Html.Partial("USNMiscPageElements/USN_StandardPageBannerSection", Model)


<section class="listing-items-as-masonry-section">

    @using (Html.BeginUmbracoForm<ShortlistPhotosFormController>("HandleShortlistPhotos"))
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="container-fluid container-fluid-padding">
                    <div class="text base-text showing-result">
                        <p>@Model.Pagination.ShowingResultsOfPagesText</p>
                    </div>
                    <div class="masonry-grid">
                        <div class="grid-sizer"></div>

                        @{
                            var cnt = 0;
                            foreach (var photo in Model.ShortlistPhotosFormModel.ListOfPhotos)
                            {
                                <div class="masonry-grid-item">

                                    @Html.Partial("ItemPhoto/_ItemPhoto", photo, new ViewDataDictionary()
                                    {
                                        TemplateInfo = new TemplateInfo()
                                        {
                                            HtmlFieldPrefix = "ShortlistPhotosFormModel.ListOfPhotos[" + cnt + "]"
                                        }
                                    })

                                </div>
                                cnt++;
                            }
                        }
                    </div>
                </div>
            </div>

        </div>

        <div class="shortlist-photos-button-container text-center">
            <button class="btn">@Model.ShortlistPhotosFormModel.ShortlistButtonText</button>
        </div>
    }



</section>




@*@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", Model)*@

@*@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "horizontal" }, { "pagetype", "advanced" } })*@

@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }
    }

    @Html.Raw(" class=\"advanced-page " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}




