﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.SubmitPhotos.SubmitPhotoPageModel>
@{
    Layout = "USNMaster.cshtml";
}

@* the fun starts here *@

@Html.Partial("USNMiscPageElements/USN_StandardPageBannerSection", Model)
<section class="submit-photo-section">
    <p class="explanation-text">@Model.ExplanationText</p>
    @Html.Partial("SubmitPhotoForm/_SubmitPhotoForm", Model.SubmitPhotoForm)
</section>



@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", Model)

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "horizontal" }, { "pagetype", "advanced" } })

@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }
    }

    @Html.Raw(" class=\"advanced-page " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}
@section FooterScripts{
    <script>
        var current_id = 1;
        var currentItems = 1;
        var idList = 1;
        var selectOfSubmitPhotosTextValue = $('option:checked').text();
        var numberOfSubmitPhotos = parseInt(selectOfSubmitPhotosTextValue);
        var submitPhotoElement = $("#SubmitPhoto_1");
        updateTitleNumber(submitPhotoElement);
        changeItems(submitPhotoElement, currentItems, numberOfSubmitPhotos);
        $('.selectInput').change(function () {
            currentItems = document.querySelectorAll('.submit-photo-form').length;
            selectOfSubmitPhotosTextValue = $('option:checked').text();
            numberOfSubmitPhotos = parseInt(selectOfSubmitPhotosTextValue);
            changeItems(submitPhotoElement, currentItems, numberOfSubmitPhotos);
        });

        function changeItems(element, numberOfCurrentItems, newNumberOfItems) {
            if (numberOfCurrentItems != newNumberOfItems) {
                if (numberOfCurrentItems < newNumberOfItems) {
                    for (var i = numberOfCurrentItems + 1; i <= newNumberOfItems; i++) {
                        var newElement = element.clone();
                        var id = current_id + 1;
                        
                        current_id = id;
                        newElement.attr("id", element.attr("id").split("_")[0] + "_" + id);
                        updateTitleNumber(newElement);

                        var photoTitleField = $('input.photo-title', newElement).attr("id");
                        $('input.photo-title', newElement).attr("id", photoTitleField.split("_")[0] + "_" + id).val("");
                        $('input.photo-title', newElement).attr("name", "ListOfSubmitPhotos[" + idList + "].PhotoTitle");
                        var photoCategoryField = $('select.photo-category', newElement).attr("id");
                        $('select.photo-category', newElement).attr("id", photoCategoryField.split("_")[0] + "_" + id).val("");
                        $('select.photo-category', newElement).attr("name", "ListOfSubmitPhotos[" + idList + "].CategorySelected");
                        var photoFileField = $('input.photo-file', newElement).attr("id");
                        $('input.photo-file', newElement).attr("id", photoFileField.split("_")[0] + "_" + id).val("");
                        $('input.photo-file', newElement).attr("name", "ListOfSubmitPhotos[" + idList + "].SubmitPhoto");
                        var photoDateField = $('input.timepicker', newElement).attr("id");
                        $('input.timepicker', newElement).attr("id", photoDateField.split("_")[0] + "_" + id).val("");
                        $('input.timepicker', newElement).attr("name", "ListOfSubmitPhotos[" + idList + "].PhotoDate");
                        var photoLocationField = $('input.photo-location', newElement).attr("id");
                        $('input.photo-location', newElement).attr("id", photoLocationField.split("_")[0] + "_" + id).val("");
                        $('input.photo-location', newElement).attr("name", "ListOfSubmitPhotos[" + idList + "].Location");
                        var photoDescription = $('textarea.photo-description', newElement).attr("id");
                        $('textarea.photo-description', newElement).attr("id", photoDescription.split("_")[0] + "_" + id).val("");
                        $('textarea.photo-description', newElement).attr("name", "ListOfSubmitPhotos[" + idList + "].DescriptionPhoto");
                        var photoFeedbackTrue = $('input.photo-feedback_true', newElement).attr("id");
                        $('input.photo-feedback_true', newElement).attr("id", photoFeedbackTrue.split("_")[0] + "_" + id);
                        $('input.photo-feedback_true', newElement).attr("name", "ListOfSubmitPhotos[" + idList + "].FeedBackRequest");
                       
                        var photoFeedbackFalse = $('input.photo-feedback_false', newElement).attr("id");
                        $('input.photo-feedback_false', newElement).attr("id", photoFeedbackFalse.split("_")[0] + "_" + id);
                        $('input.photo-feedback_false', newElement).attr("name", "ListOfSubmitPhotos[" + idList + "].FeedBackRequest");
                        

                        idList += 1;
                        newElement.appendTo(".submit-photos-form-container");
                    }
                } else {
                    for (var i = newNumberOfItems+1; i <= numberOfCurrentItems; i++) {
                        var removeDivName = "SubmitPhoto_" + i;
                        current_id -= 1;
                        idList -= 1;
                        document.getElementById(removeDivName).remove();
                    }
                }
            }
        }

        function updateTitleNumber(element) {
            $("span.photo-number", element).text(current_id);
        }

    </script>
}