﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.SubmitStorytelling.SubmitStoryTellingPageModel>
@{
    Layout = "USNMaster.cshtml";
}

@* the fun starts here *@

@Html.Partial("USNMiscPageElements/USN_StandardPageBannerSection", Model)
<section class="submit-storytelling-section">
    <p class="explanation-text">@Model.ExplanationText</p>
    <p class="explanation-text">@Model.ExplanationStoryTelling</p>
    <p class="explanation-text">@Model.ExplanationFileInput</p>
    @Html.Partial("SubmitStorytellingForm/_SubmitStoryTellingForm", Model.SubmitStoryTellingForm)
</section>

@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", Model)

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "horizontal" }, { "pagetype", "advanced" } })

@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }
    }

    @Html.Raw(" class=\"advanced-page " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}

@section FooterScripts {

    <script>
        $(function() {
            
                $("button[type='submit']").click(function() {
                    var $fileUpload = $("input[type='file']");
                    $("#PhotoLocation_1-error").parent().remove();
                    if (parseInt($fileUpload.get(0).files.length) != 5) {
                        
                        var parent = document.getElementsByClassName("form-group")[0];
                        $(parent).append(
                            '<span class="field-validation-error" style="top:75px"><span id="PhotoLocation_1-error" class="">You need to upload exacly 5 photos</span></span>');
                    }
                });
            
        });

    </script>
}