﻿@using CS.Common.Helpers
@using CSTemplate.Code.Constants
@inherits UmbracoViewPage<CSTemplate.Code.Models.SubmitPhotoSelection.SubmitPhotoSelectionPageModel>
@{
    Layout = "USNMaster.cshtml";
}

@* the fun starts here *@

@Html.Partial("USNMiscPageElements/USN_StandardPageBannerSection", Model)

<section class="submit-photo-selection-section">

    <p class="explanation-text">@Model.ExplanationText</p>
    <div class="submit-photo-selection-container row">
        <div class="submit-photo-container col-xs-12 col-sm-6">
            <a href="@Model.SubmitPhotoUrl " class="submitphoto-link">
                <div class="submit-photo">
                    @Html.Raw(Html.CreateImage(Model.SubmitPhotoImgUrl, new int[] { ConstantValues.GeneralImageSizeSmall, ConstantValues.GeneralImageSizeMedium, ConstantValues.GeneralImageSizeLarge }))
                    <div class="text-container">
                        <h4 class="heading title">@Model.SubmitPhotoTitle</h4>
                        <p>@Model.SubmitPhotoText</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="submit-storytelling-container col-xs-12 col-sm-6">
            <a href="@Model.SubmitStoryTellingUrl" class="submitphoto-link">
                <div class="submit-photo">
                    @Html.Raw(Html.CreateImage(Model.SubmitStoryTellingImgUrl, new int[] { ConstantValues.GeneralImageSizeSmall, ConstantValues.GeneralImageSizeMedium, ConstantValues.GeneralImageSizeLarge }))
                    <div class="text-container">
                        <h4 class="heading title">@Model.SubmitStoryTellingTitle</h4>
                        <p>@Model.SubmitStoryTellingText</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", Model)

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "horizontal" }, { "pagetype", "advanced" } })

@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }
    }

    @Html.Raw(" class=\"advanced-page " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}
