﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.USNModels.USNBaseViewModel>
@{
    Layout = "USNMaster.cshtml";
    UsnstandardPage standardPage = (UsnstandardPage)Model.Content;
}

@Html.Partial("USNMiscPageElements/USN_StandardPageBannerSection", Model)

<!-- CONTENT -->
<section class="content">

    <!-- CONTAINER -->
    <div class="container">

        <!-- ROW -->
        <div class="row">

            <!-- CONTENT COL -->
            <div @Html.Partial("USNLayout/USN_ContentColumnStyle", Model)>

                @Html.Partial("USNMiscPageElements/USN_StandardPageTitle", Model)

                <!-- IMAGE -->
                @Html.Partial("USNMiscPageElements/USN_MainImage", Model)
                <!--// IMAGE -->

                @Html.Raw(standardPage.BodyText)

                @Html.Partial("USNStandardPageComponents/USN_StandardPageComponents")

            </div>
            <!--// CONTENT COL -->

            @Html.Partial("USNLayout/USN_PodAndNavColumn", Model)

        </div>
        <!--// ROW -->

    </div>
    <!--// CONTAINER -->

</section>
<!--// CONTENT -->

@Html.Partial("USNSiteWidePods/USN_SitewidePods", Model, new ViewDataDictionary { { "podstyle", "horizontal" } })


@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }

    }

    @Html.Raw(" class=\"standard-page " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}