﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.ViewOrder.ViewOrderPageModel>
@{
    Layout = "USNMaster.cshtml";
}

@* the fun starts here *@

@Html.Partial("USNMiscPageElements/USN_StandardPageBannerSection", Model)
<section class="order-section">


    <div class="btn-container">
        <button onclick="printPageFuntion()" class="btn btn-print">@Model.ButtonText<span class="printer-icon"></span> </button>
    </div>
    <div class="order-billing-details-container">
        <div class="order-details">
            <h4 class="heading title-details">@Model.OrderTitleText</h4>
            <div class="row"><div class="col-xs-6 detail-label-text"> <span> @Model.OrderDateText</span></div><div class="col-xs-6"><span>@Model.OrderDate.ToString("dd MMM yyyy")</span></div></div>
            <div class="row"><div class="col-xs-6 detail-label-text"> <span> @Model.OrderNumberText</span></div><div class="col-xs-6"><span>@Model.OrderNumber</span></div></div>
            <div class="row"><div class="col-xs-6 detail-label-text"> <span> @Model.OrderStatusText</span></div><div class="col-xs-6"><span>@Model.OrderStatus</span></div></div>
            <div class="row"><div class="col-xs-6 detail-label-text"> <span> @Model.OrderTotalText</span></div><div class="col-xs-6"><span>@Model.OrderTotal</span></div></div>
        </div>
        <div class="billing-details">
            <h4 class="heading title-details">@Model.BillingTitleText</h4>
            <div class="row">
                <div class="col-xs-4 detail-label-text"> <span> @Model.BillingNameText</span></div> <div class="col-xs-6"><span>@Model.BillingName</span></div>
            </div>
            <div class="row">
                <div class="col-xs-4 detail-label-text"> <span> @Model.BillingEmailText</span></div> <div class="col-xs-6"><span>@Model.BillingEmail</span></div>
            </div>
            <div class="row">
                <div class="col-xs-4 detail-label-text"> <span> @Model.BillingContactText</span></div> <div class="col-xs-6"><span>@Model.BillingContact</span></div>
            </div>
            @*<div class="row">
                <div class="col-xs-4 detail-label-text"> <span> @Model.BillingAddressText</span></div> <div class="col-xs-6"><span>@Model.BillingAddress</span></div>
            </div>*@
        </div>

    </div>
    <div class="order-summary-table-container">
    @{
        if (!@Model.IsAStoryTelling)
        {
            <div class="order-summary-title-container">  <h2 class="heading">@Model.OrderSummaryTitle order summary</h2> </div>
            <div class="order-table">
                <div class="table-header-container">
                    <div class="photo-title-container-photo">@Model.TablePhotoTitle</div>
                    <div class="price-title-container-photo"> <span class="price-title-text">@Model.TablePriceTitle</span> </div>
                </div>
                @{
                   
                        foreach (var orderPhoto in Model.ListOfOrderPhotos)
                        {
                            @Html.Partial("OrderSummary/_OrderPhoto", orderPhoto);
                        }
 
                }
                <div class="table-footer-container">
                    <div class="subtotal-price-container">@Model.TableSubtotalTitle</div>
                    <div class="price-container"><span>€  </span> @Model.SubtotalPrice </div>
                </div>

            </div>
                    }
        else
        {
            <div class="order-summary-title-container">  <h2 class="heading">@Model.OrderSummaryTitle order summary</h2> </div>
            <div class="order-table">
                <div class="table-header-container">
                    <div class="photo-title-container-storytelling">@Model.TablePhotoTitle</div>
                    <div class="price-title-container-storytelling"> <span class="price-title-text">@Model.TablePriceTitle</span> </div>
                </div>
                @{
                   
                    foreach (var orderStoryTelling in Model.ListOfOrderPhotos)
                    {
                        @Html.Partial("OrderSummary/_OrderStoryTelling", orderStoryTelling);
                    }
 
                }
                <div class="table-footer-container">
                    <div class="subtotal-price-container">@Model.TableSubtotalTitle</div>
                    <div class="price-container"><span>€  </span> @Model.SubtotalPrice </div>
                </div>

            </div>
        }
        
    }
    </div>
</section>

@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", Model)

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "horizontal" }, { "pagetype", "advanced" } })

@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if (Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }
    }

    @Html.Raw(" class=\"advanced-page " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}
@section FooterScripts
{
    <script>
        function printPageFuntion() {
            window.print();
        }
    </script>
}
