﻿@inherits UmbracoViewPage<Usn_Ac_ReusableComponents_AN>

@{
    int globalSettingsId = Convert.ToInt32(ViewData["globalSettingsID"]);

    IEnumerable<IPublishedContent> components = Model.Components;

    if (components != null)
    {
        var publishedContents = components as IList<IPublishedContent> ?? components.ToList();

        foreach (IPublishedContent component in publishedContents)
        {
            @Html.Partial("USNAdvancedPageComponents/USN_ComponentsSwitch", component, new ViewDataDictionary { { "globalSettingsID", globalSettingsId } })
        }
    }
}
