﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.USNModels.USNBaseViewModel>

@using CSTemplate.Code.Models
@using CSTemplate.Code.Models.Components
@using USNStarterKit.USNBackgroundOptions.Models
@using USN.USNTemplate;

@{

    UsnadvancedPageComponents pageComponentsNode = Model.Content.Children<UsnadvancedPageComponents>
        ().FirstOrDefault();

    if (pageComponentsNode != null)
    {
        List<CustomComponentModel> customComponentsToCheckWith = null;
        foreach (IPublishedContent component in pageComponentsNode.Children)
        {
            if (component != null)
            {
                USNTemplateStyleSettings settings = USNViewTemplateHelper.GetTemplateStyleSettings(component.GetPropertyValue<string>
                    ("backgroundColor"), component.GetPropertyValue<string>
                        ("buttonColor"));

                string backgroundImageStyle = USNViewTemplateHelper.GetBackgroundImageStyle(component.GetPropertyValue<IPublishedContent>
                    ("backgroundImage"), component.GetPropertyValue<USNBackgroundOption>
                        ("backgroundImageOptions"));

                string animateClass = String.Empty;

                if (component.GetPropertyValue<bool>
                    ("animate"))
                {
                    animateClass = "os-animation";
                }


                if (customComponentsToCheckWith == null)
                {
                    customComponentsToCheckWith = Model.CustomComponents;
                }

                //custom code
                IComponentModel componentModelToReturn = CSTemplate.Code.Helpers.USkinnedComponentHelpers
                    .GetComponentModelBeforePassingItComponentsSwitch(customComponentsToCheckWith, component, out customComponentsToCheckWith);

                @Html.Partial("USNAdvancedPageComponents/USN_ComponentsSwitch", componentModelToReturn, new ViewDataDictionary { { "globalSettingsID", Model.GlobalSettings.Id }, { "backgroundImageStyle", backgroundImageStyle }, { "animateClass", animateClass }, { "backgroundStyle", settings.BackGroundStyle } })
            }
        }
    }
}
