﻿@inherits UmbracoViewPage<Usn_Ac_Window_AN>

@using USNStarterKit.USNModels;
@using USNStarterKit.USNHelpers;
@using USN.USNTemplate;

@using USNOptions = USNStarterKit.USNEnums.Options;

@{

    string animateClass = String.Empty;

    if (Model.Animate)
    {
        animateClass = "os-animation";
    }

    string containerClass = "container-fluid";

    if (Model.FixedWidth)
    {
        containerClass = "container";
    }

    bool bigItemFirst = true;

    if (Model.ImageOrder == USNOptions.WindowsOrder_Small)
    {
        bigItemFirst = false;
    }

    USNTemplateStyleSettings settings = USNViewTemplateHelper.GetTemplateStyleSettings(Model.BackgroundColor, Model.ButtonColor);

    string backgroundImageStyle = USNViewTemplateHelper.GetBackgroundImageStyle(Model.BackgroundImage, Model.BackgroundImageOptions);

    int currentItemPosition = 1;
    int totalItemCount = 0;

    if(Model.Windows != null)
    {
        totalItemCount = Model.Windows.Count();
    }

    <section class="content apc pod-windows @settings.BackGroundStyle @Model.CustomComponentClasses" @Html.Raw(backgroundImageStyle) id="pos_@Model.Id">
         
        @Html.Partial("USNMiscPageElements/USN_ComponentIntro", @Model as IUsn_Cmp_IntroOutro, new ViewDataDictionary { { "animateClass", animateClass }, { "headingStyle", settings.HeadingStyle }, { "secondaryHeadingStyle", settings.SecondaryHeadingStyle }, { "textStyle", settings.TextStyle }, { "buttonStyle", settings.ButtonStyle }, { "addContainer", true } })

        @if (Model.Windows != null)
        {

		    <div class="@containerClass">
			
                @if (totalItemCount > 0)
                {
                    foreach (IPublishedContent item in Model.Windows)
                    {
                        string itemClass = String.Empty;
                        string animationTime = String.Format("0.{0}s", currentItemPosition.ToString());
                        int imageWidth = 800;
                        int imageWidthSmall = 8;
                        int imageHeight = 800;
                        int imageHeightSmall = 8;

                        string colorOverlayClass = String.Empty;

                        if (bigItemFirst)
                        {
                            if (currentItemPosition == 1)
                            {
                                <!--Start main container row-->
                                @:<div class="row text-center">
                                itemClass = "full-item col-md-6 col-xs-12";
                                imageWidth = 800;
                                imageWidthSmall = 8;
                                imageHeight = 800;
                                imageHeightSmall = 8;
                            }
                            else if (currentItemPosition == 2)
                            {
                                itemClass = "half-item col-xs-12";
                                imageWidth = 800;
                                imageWidthSmall = 8;
                                imageHeight = 400;
                                imageHeightSmall = 4;
                            }
                            else if (currentItemPosition == 3)
                            {
                                itemClass = "quarter-item col-md-6 col-xs-12";
                                imageWidth = 800;
                                imageWidthSmall = 8;
                                imageHeight = 800;
                                imageHeightSmall = 8;
                            }
                            else if (currentItemPosition == 4)
                            {
                                itemClass = "quarter-item col-md-6 col-xs-12";
                                imageWidth = 800;
                                imageWidthSmall = 8;
                                imageHeight = 800;
                                imageHeightSmall = 8;
                            }

                            if (currentItemPosition == 2)
                            {
                                <!--Start row containing small items-->
                                @:<div class="row smaller-items col-md-6 col-xs-12">
                            }
                        }
                        else
                        {
                            if (currentItemPosition == 1)
                            {
                                <!--Start main container row-->
                                @:<div class="row text-center">
                                itemClass = "half-item col-xs-12";
                                imageWidth = 800;
                                imageWidthSmall = 8;
                                imageHeight = 400;
                                imageHeightSmall = 4;
                            }
                            else if (currentItemPosition == 2)
                            {
                                itemClass = "quarter-item col-md-6 col-xs-12";
                                imageWidth = 800;
                                imageWidthSmall = 8;
                                imageHeight = 800;
                                imageHeightSmall = 8;
                            }
                            else if (currentItemPosition == 3)
                            {
                                itemClass = "quarter-item col-md-6 col-xs-12";
                                imageWidth = 800;
                                imageWidthSmall = 8;
                                imageHeight = 800;
                                imageHeightSmall = 8;
                            }
                            else if (currentItemPosition == 4)
                            {
                                itemClass = "full-item col-md-6 col-xs-12";
                                imageWidth = 800;
                                imageWidthSmall = 8;
                                imageHeight = 800;
                                imageHeightSmall = 8;
                            }

                            if (currentItemPosition == 1)
                            {
                                <!--Start row containing small items-->
                                @:<div class="row smaller-items col-md-6 col-xs-12">
                            }
                        }

                        if (item.IsDocumentType(Usn_Ac_WindowSectionImage.ModelTypeAlias))
                        {
                            Usn_Ac_WindowSectionImage windowSectionImage = (Usn_Ac_WindowSectionImage)item;

                            USNTemplateStyleSettings windowSettings = USNViewTemplateHelper.GetTemplateStyleSettings(windowSectionImage.BackgroundColor, windowSectionImage.ButtonColor);

                            string bgImage = String.Empty;
                            string bgImageSmall = String.Empty;

                            if (windowSectionImage.BackgroundImage != null)
                            {
                                bgImage = windowSectionImage.BackgroundImage.GetCropUrl(cropAlias: imageWidth + "x" + imageHeight);
                                bgImageSmall = "style=\"background-image:url('" + windowSectionImage.BackgroundImage.GetCropUrl(cropAlias: imageWidth + "x" + imageHeight, width: imageWidthSmall, height: imageHeightSmall) + "')\"";
                            }

                            USNLink link = USNUrlHelper.GetLinkFromRelatedLinks(windowSectionImage.Link);

                            if (windowSectionImage.AddColorOverlay)
                            {
                                colorOverlayClass = "overlay";
                            }

                            <!-- ITEM -->
                            <div class="item @itemClass @colorOverlayClass @animateClass" data-os-animation="fadeIn" data-os-animation-delay="@animationTime">

                                <!-- INFO -->
                                @if (link != null)
                                {
                                    @:<a href="@link.LinkURL" @Html.Raw(link.LinkTarget) @Html.Raw(link.LinkTitle) class="info @windowSettings.BackGroundStyle">
                                }
                                else
                                {
                                    @:<div class="info @windowSettings.BackGroundStyle">
                                }

                                    <!-- IMAGE -->
								    <div class="image lazyload" @Html.Raw(bgImageSmall) data-bg="@bgImage">
								    </div>
								    <!--// IMAGE -->

                                    <div class="table">
                                        <div class="table-cell">

                                            <!-- INNER -->
                                            <div class="inner">
                                                @if (windowSectionImage.SecondaryHeading.HasValue())
                                                {
                                                    <p class="secondary-heading @windowSettings.SecondaryHeadingStyle">@windowSectionImage.SecondaryHeading</p>
                                                }
                                                @if (windowSectionImage.Heading != null)
                                                {
                                                    @Html.Raw(String.Format("<{0} class=\"heading main {1}\">{2}</{0}>", windowSectionImage.Heading.HeadingTag, windowSettings.HeadingStyle, windowSectionImage.Heading.Text))
                                                }
                                                @if (windowSectionImage.Text.HasValue())
                                                {
                                                <div class="text @windowSettings.TextStyle">
                                                    @Html.Raw(windowSectionImage.Text)
                                                </div>
                                                }
                                                @if (link != null)
                                                {
                                                <p class="link"><span class="btn btn-xs @windowSettings.ButtonStyle">@link.LinkCaption@Html.Raw(link.LinkIcon)</span></p>
                                                }

                                            </div>
                                            <!--// INNER -->

                                        </div>
                                    </div>
                            
                                @if (link != null)
                                {
                                    @:</a>
                                }
                                else
                                {
                                    @:</div>
                                }
                                <!--// INFO -->

                            </div>
                            <!--// ITEM -->
                        }
                        else
                        {
                            Usn_Ac_WindowSectionVideo windowSectionVideo = (Usn_Ac_WindowSectionVideo)item;

                            USNTemplateStyleSettings windowSettings = USNViewTemplateHelper.GetTemplateStyleSettings(windowSectionVideo.BackgroundColor, windowSectionVideo.ButtonColor);

                            string bgImage = String.Empty;
                            string bgImageSmall = String.Empty;

                            if (windowSectionVideo.BackgroundImage != null)
                            {
                                bgImage = windowSectionVideo.BackgroundImage.GetCropUrl(cropAlias: imageWidth + "x" + imageHeight);
                                bgImageSmall = "style=\"background-image:url('" + windowSectionVideo.BackgroundImage.GetCropUrl(cropAlias: imageWidth + "x" + imageHeight, width: imageWidthSmall, height: imageHeightSmall) + "')\"";
                            }

                            string title = String.Empty;
                            string footer = String.Empty;

                            string videoUrlOriginal = windowSectionVideo.VideoUrl;

                            if (windowSectionVideo.LightWindowTitle.HasValue())
                            {
                                title = "data-title=\"" + windowSectionVideo.LightWindowTitle + "\"";
                            }

                            if (windowSectionVideo.LightWindowFooter.HasValue())
                            {
                                footer = "data-footer=\"" + windowSectionVideo.LightWindowFooter + "\"";
                            }

                            USNVideo video = USNVideoHelper.GetVideoInfo(videoUrlOriginal);

                            if (windowSectionVideo.AddColorOverlay)
                            {
                                colorOverlayClass = "overlay";
                            }

                            <!-- ITEM -->
                            <div class="item @itemClass @colorOverlayClass video @animateClass" data-os-animation="fadeIn" data-os-animation-delay="@animationTime">

                                <!-- INFO -->
                                <a href="@video.VideoURLModified" @Html.Raw(title) @Html.Raw(footer) data-toggle="lightbox" @Html.Raw(video.VideoDataRemote) class="info @windowSettings.BackGroundStyle">

                                    <!-- IMAGE -->
								    <div class="image lazyload" @Html.Raw(bgImageSmall) data-bg="@bgImage">
								    </div>
								    <!--// IMAGE -->

                                    <div class="table">
                                        <div class="table-cell">

                                            <!-- INNER -->
                                            <div class="inner">

                                                <p class="link"><span class="btn btn-xs @windowSettings.ButtonStyle">@umbraco.library.GetDictionaryItem("USN Window Section Component Play Video")</span></p>

                                            </div>
                                            <!--// INNER -->
                                            <!-- VIDEO OVERLAYICON -->
                                            <div class="overlayicon ion-ios-play @windowSettings.HeadingStyle"></div>
                                            <!--// VIDEO OVERLAYICON -->

                                        </div>
                                    </div>

                                </a>
                                <!--// INFO -->

                            </div>
                            <!--// ITEM -->
                        }

                        if (bigItemFirst)
                        {
                            if ((currentItemPosition > 1 && currentItemPosition == totalItemCount) || currentItemPosition == 4)
                            {
                                <!--End row containing small items-->
                                @:</div>
                            }

                            if (currentItemPosition == 4)
                            {
                                bigItemFirst = false;
                            }
                        }
                        else
                        {
                            if (currentItemPosition < 3 && currentItemPosition == totalItemCount || currentItemPosition == 3)
                            {
                                <!--End row containing small items-->
                                @:</div>
                            }
                        }

                        if (currentItemPosition == totalItemCount || currentItemPosition == 4)
                        {
                            <!--End main container row-->
                            @:</div>
                        }

                        currentItemPosition += 1;

                        //Each main row starts when item count hits 5. Reset to 1 here
                        currentItemPosition = currentItemPosition == 5 ? 1 : currentItemPosition;  
                    }

                }

            </div>

        }

        @Html.Partial("USNMiscPageElements/USN_ComponentOutro", @Model as IUsn_Cmp_IntroOutro, new ViewDataDictionary { { "animateClass", animateClass }, { "headingStyle", settings.HeadingStyle }, { "secondaryHeadingStyle", settings.SecondaryHeadingStyle }, { "textStyle", settings.TextStyle }, { "buttonStyle", settings.ButtonStyle }, { "addContainer", true } })

    </section>

}
