﻿@inherits UmbracoViewPage<Usn_Ac_Ctastrip_AN>

@using USNStarterKit.USNModels;
@using USNStarterKit.USNHelpers;
@using USN.USNTemplate;

@using USNOptions = USNStarterKit.USNEnums.Options;

@using CS.Common.Helpers
@using CSTemplate.Code.Constants

@{
    string headingSource = String.Empty;
    string animateClass = String.Empty;

    USNLink outroLink = USNUrlHelper.GetLinkFromRelatedLinks(Model.Link);

    if (Model.Heading != null)
    {
        headingSource = "<" + Model.Heading.HeadingTag + " class=\"heading main {0} {1}\" data-os-animation=\"fadeInUp\" data-os-animation-delay=\"0.1s\">" + Model.Heading.Text + "</" + Model.Heading.HeadingTag + ">";
    }

    var text = Model.Text;

    if (Model.Animate)
    {
        animateClass = "os-animation";
    }

    USNTemplateStyleSettings settings = USNViewTemplateHelper.GetTemplateStyleSettings(Model.BackgroundColor, Model.ButtonColor);

    string backgroundImageStyle = USNViewTemplateHelper.GetBackgroundImageStyle(Model.BackgroundImage, Model.BackgroundImageOptions);

    string textAlignment;

    switch (Model.TextAlignment)
    {
        case USNOptions.TextAlignment_Left:
            textAlignment = "text-left";
            break;
        case USNOptions.TextAlignment_Center:
            textAlignment = "text-center";
            break;
        case USNOptions.TextAlignment_Right:
            textAlignment = "text-right";
            break;
        default:
            textAlignment = "text-left";
            break;
    }

    if (outroLink != null || text != null || headingSource != String.Empty)
    {
        <section class="content apc cta-strip @settings.BackGroundStyle @Model.CustomComponentClasses" @Html.Raw(backgroundImageStyle) id="pos_@Model.Id">
            <div class="container">

                <!-- ROW -->
                <div class="row overview @textAlignment">

                    <div class="info col-md-8 col-xs-12">

                        @if (Model.SecondaryHeading.HasValue())
                        {
                            <p class="secondary-heading @settings.SecondaryHeadingStyle @animateClass" data-os-animation="fadeInUp" data-os-animation-delay="0.1s">@Model.SecondaryHeading</p>
                        }

                        @if (headingSource != String.Empty)
                        {
                            @Html.Raw(String.Format(headingSource, settings.HeadingStyle, animateClass))
                        }

                        @if (text != null)
                        {
                            <div class="text @settings.TextStyle @animateClass" data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
                                @Html.Raw(text)
                            </div>
                        }

                        @if (outroLink != null)
                        {
                            <p class="link @animateClass" data-os-animation="fadeInUp" data-os-animation-delay="0.3s"><a class="btn @settings.ButtonStyle" href="@outroLink.LinkURL" @Html.Raw(outroLink.LinkTarget) @Html.Raw(outroLink.LinkTitle)>@outroLink.LinkCaption@Html.Raw(outroLink.LinkIcon)</a></p>
                        }

                    </div>

                </div>
                <!--// ROW -->

            </div>
        </section>
    }
}
