﻿@using CasaSoftUmbracoUSkinnedTemplate.Controllers
@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared._RegisterFormModel>

    @if (!String.IsNullOrEmpty(Model.TitleForm))
    {
        <p class="title">@Model.TitleForm</p>
    }
    <span class="required">@Model.RegisterRequiredField</span>
    <p class="form-title-details">@Model.YourDetailsSectionTitle</p>

    <div class="form-group">
        @Html.LabelFor(x => Model.Name, new { @class = "label-required" })
        @Html.TextBoxFor(x => Model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => Model.Name, "")
    </div>
    <div class="form-group">
        @Html.LabelFor(x => Model.Surname, new { @class = "label-required" })
        @Html.TextBoxFor(x => Model.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => Model.Surname, "")
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.InsertedEmail, new { @class = "label-required" })
        @Html.TextBoxFor(model => model.InsertedEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.InsertedEmail, "")
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.InsertedPhone, new { @class = "label-required" })
        @Html.TextBoxFor(model => model.InsertedPhone, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.InsertedPhone, "")
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.InsertedCountry, new { @class = "label-required" })
        @Html.EnumDropDownListFor(model => model.InsertedCountry, "Choose Country", new { @class = "textbox dropdown-countries browser-default form-control", id = "country", aria_labelledby = "" })
        @Html.ValidationMessageFor(model => model.InsertedCountry, "")
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nationality, new { @class = "label-required" })
        @Html.TextBoxFor(model => model.Nationality, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nationality, "")
    </div>

    @if (@Model.IsRegistrationProcess)
    {
        <p class="form-title-details">@Model.AccountDetailsSectionTitle</p>

        <div class="form-group inline-textbox">
            <div class="input-field">
                @Html.LabelFor(model => model.InsertedPassword, new { @class = "label-required" })
                @Html.PasswordFor(model => model.InsertedPassword, new { @class = "form-control", id = "password", aria_labelledby = "" })

            </div>
            @Html.ValidationMessageFor(model => model.InsertedPassword, "")
        </div>

        <div class="form-group">
            <div class="input-field">
                @Html.LabelFor(model => model.InsertedConfirmPassword, new { @class = "label-required" })
                @Html.PasswordFor(model => model.InsertedConfirmPassword, new { @class = "form-control", id = "confirmPassword", aria_labelledby = "" })

            </div>
            @Html.ValidationMessageFor(model => model.InsertedConfirmPassword, "")
        </div>
    }

    <div class="form-group checkbox-container">
        <label class="checkbox-label" for="PromotionalMaterials">

            @Html.CheckBoxFor(x => Model.PromotionalMaterials, new { @class = "checkbox-input" })
            <span class="checkmark"></span>
            <span>@Model.PromotionalMaterialsDescriptionParagraph</span>

        </label>
    </div>

<div class="form-group checkbox-container">
    <label class="label-required checkbox-label" for="TermsConditions">
        @Html.HiddenFor(m => Model.True)
        @Html.CheckBoxFor(x => Model.TermsConditions, new { @class = "checkbox-input" })
        <span class="checkmark"></span>
        @Html.Raw(Model.TermsAndConditionsText)

    </label>
    @Html.ValidationMessageFor(x => Model.TermsConditions, "")

</div>

    <button type="submit" class="btn">@Model.ButtonFormText</button>










