﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.USNModels.USNBaseViewModel>

@using CS.Common.Helpers
@using Umbraco.Web.Models;
@using USNStarterKit.USNModels;
@using USNStarterKit.USNHelpers;

@{
    Usnnavigation navigation = (Usnnavigation)Model.Navigation;

    RelatedLinks mainNavigation = navigation.MainNavigation;

    if (mainNavigation != null)
    {
<nav class="main">
    <ul>
        @foreach (RelatedLink link in mainNavigation)
        {
            USNLink mainLink = USNUrlHelper.GetLinkFromRelatedLink(link);

            //Display nav link for Umbraco Content Page
            if (mainLink != null && mainLink.InternalNode != null && mainLink.InternalNode.IsVisible())
            {
                var selected = Array.IndexOf(Model.Content.Path.Split(','), mainLink.InternalNode.Id.ToString()) >= 0 ? " class=\"active\"" : "";

                if (mainLink.InternalNode.IsDocumentType(Usnhomepage.ModelTypeAlias) && !Model.Content.IsDocumentType(Usnhomepage.ModelTypeAlias))
                {
                    selected = String.Empty;
                }

                var subPages = mainLink.InternalNode.Children.Where(x => (x.IsDocumentType(UsnstandardPage.ModelTypeAlias) || x.IsDocumentType(UsnadvancedPage.ModelTypeAlias) || x.IsDocumentType(UsnblogLandingPage.ModelTypeAlias) || x.IsDocumentType(UsnloginPage.ModelTypeAlias) || x.IsDocumentType(UsnsearchResultsPage.ModelTypeAlias) || x.IsDocumentType(UsnblogCategoryPage.ModelTypeAlias)) && x.IsVisible());

                string subPageClass = String.Empty;

                IList<IPublishedContent> publishedContents = subPages as IList<IPublishedContent> ?? subPages.ToList();
                if (publishedContents.Any() && !mainLink.InternalNode.IsDocumentType(Usnhomepage.ModelTypeAlias) && navigation.DisplaySubPages)
                {
                    string multiColumnStyle = String.Empty;

                    multiColumnStyle = publishedContents.Count() > 6 ? "multi-col" : String.Empty;

                    subPageClass = String.Format(" class=\"has-child {0}\"", multiColumnStyle);
                }

                <li @Html.Raw(subPageClass)>
                    <span @Html.Raw(selected)>
                        <a href="@mainLink.LinkURL" @Html.Raw(mainLink.LinkTarget) @Html.Raw(mainLink.LinkTitle)>
                            @mainLink.LinkCaption@Html.Raw(mainLink.LinkIcon)
                        </a>
                        @if (subPageClass != String.Empty)
                        {
                            <i class="ion-chevron-down"></i>
                        }
                    </span>
                    @if (publishedContents.Any() && navigation.DisplaySubPages && !mainLink.InternalNode.IsDocumentType(Usnhomepage.ModelTypeAlias))
                    {
                        @SubPages(publishedContents)
                    }
                </li>

            }
            //Display nav link for external link
            else if (mainLink != null && mainLink.InternalNode == null && mainLink.LinkURL != String.Empty)
            {
                <li>
                    <span><a href="@mainLink.LinkURL" @Html.Raw(mainLink.LinkTarget) @Html.Raw(mainLink.LinkTitle)>@mainLink.LinkCaption@Html.Raw(mainLink.LinkIcon)</a></span>
                </li>
            }
        }
        
        

        @if (navigation.LoginPage != null)
        {
        IPublishedContent loginPage = navigation.LoginPage;

        if (Umbraco.MemberIsLoggedOn())
        {
            RelatedLinks loggedInMembersNavigation = navigation.LoggedInMembersNavigation;

            <li class="dropdown">
               
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user c1-text"></i>Hi, @Context.User.Identity.Name<i class="ion-chevron-down after"></i></a>
                <ul class="dropdown-menu pull-right" role="menu">
                    @if (loggedInMembersNavigation != null)
                    {
                        foreach (RelatedLink link in loggedInMembersNavigation)
                        {
                            USNLink memberLink = USNUrlHelper.GetLinkFromRelatedLink(link);

                            if(Umbraco.MemberHasAccess(memberLink.InternalNode.Path))
                            {
                                if (memberLink != null && ((memberLink.InternalNode != null && memberLink.InternalNode.IsVisible()) || (memberLink.LinkURL != String.Empty)))
                                {
                                    <li>
                                        <a href="@memberLink.LinkURL" @Html.Raw(memberLink.LinkTarget) @Html.Raw(memberLink.LinkTitle)>@memberLink.LinkCaption@Html.Raw(memberLink.LinkIcon)</a>
                                    </li>
                                }
                            }
                        }
                    }
                    <li class="divider"></li>
                    <li><a href="@loginPage.Url?signout=true">@umbraco.library.GetDictionaryItem("USN Members Navigation Logout")<i class="fa fa-sign-out c1-text after"></i></a></li>
                </ul>
            </li>
        }
        else
        {
            string navigationHeading = umbraco.library.GetDictionaryItem("USN Members Navigation Default Heading");

            if (navigation.MembersNavigationHeading.HasValue())
            {
                navigationHeading = navigation.MembersNavigationHeading;
            }

            <li>
                <span><a href="@loginPage.Url">@umbraco.library.GetDictionaryItem("USN Members Navigation Login")</a></span>
            </li>

           @*<li><a href="@loginPage.Url"><i class="fa fa-sign-in c1-text"></i>@umbraco.library.GetDictionaryItem("USN Members Navigation Login")</a></li>*@
         
        }
    }

    </ul>
    
    
    

    @*@if (navigation.LoginPage != null)
    {
        IPublishedContent loginPage = navigation.LoginPage;

        if (Umbraco.MemberIsLoggedOn())
        {
            RelatedLinks loggedInMembersNavigation = navigation.LoggedInMembersNavigation;

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user c1-text"></i>@Context.User.Identity.Name<i class="ion-chevron-down after"></i></a>
                <ul class="dropdown-menu pull-right" role="menu">
                    @if (loggedInMembersNavigation != null)
                    {
                        foreach (RelatedLink link in loggedInMembersNavigation)
                        {
                            USNLink memberLink = USNUrlHelper.GetLinkFromRelatedLink(link);

                            if (memberLink != null && ((memberLink.InternalNode != null && memberLink.InternalNode.IsVisible()) || (memberLink.LinkURL != String.Empty)))
                            {
                                <li>
                                    <a href="@memberLink.LinkURL" @Html.Raw(memberLink.LinkTarget) @Html.Raw(memberLink.LinkTitle)>@memberLink.LinkCaption@Html.Raw(memberLink.LinkIcon)</a>
                                </li>
                            }
                        }
                    }
                    <li class="divider"></li>
                    <li><a href="@loginPage.Url?signout=true">@umbraco.library.GetDictionaryItem("USN Members Navigation Logout")<i class="fa fa-sign-out c1-text after"></i></a></li>
                </ul>
            </li>
        }
        else
        {
            string navigationHeading = umbraco.library.GetDictionaryItem("USN Members Navigation Default Heading");

            if (navigation.MembersNavigationHeading.HasValue())
            {
                navigationHeading = navigation.MembersNavigationHeading;
            }

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user c1-text"></i>@navigationHeading<i class="fa fa-angle-down after"></i></a>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="@loginPage.Url"><i class="fa fa-sign-in c1-text"></i>@umbraco.library.GetDictionaryItem("USN Members Navigation Login")</a></li>
                </ul>
            </li>
        }
    }*@



</nav>
    }
    if (navigation.SocialHeading.HasValue() || navigation.FacebookLink.HasValue() ||
        navigation.TwitterLink.HasValue() || navigation.LinkedInLink.HasValue() ||
        navigation.GoogleLink.HasValue() || navigation.PinterestLink.HasValue() ||
        navigation.FlickrLink.HasValue() || navigation.TumblrLink.HasValue() ||
        navigation.VimeoLink.HasValue() || navigation.YouTubeLink.HasValue() ||
        navigation.BehanceLink.HasValue() || navigation.SoundCloudLink.HasValue() ||
        navigation.InstagramLink.HasValue() || navigation.RssFeedLink != null)
    {
        <nav class="social">
            <ul>
                @if (navigation.FacebookLink.HasValue())
                {
                    <li class="facebook"><a href="@navigation.FacebookLink" class="symbol" target="_blank" title="@umbraco.library.GetDictionaryItem("USN New Window Title Tag")">facebook</a></li>
                }
                @if (navigation.TwitterLink.HasValue())
                {
                    <li class="twitter"><a href="@navigation.TwitterLink" class="symbol" target="_blank" title="@umbraco.library.GetDictionaryItem("USN New Window Title Tag")">twitter</a></li>
                }
                @if (navigation.LinkedInLink.HasValue())
                {
                    <li class="linkedin"><a href="@navigation.LinkedInLink" class="symbol" target="_blank" title="@umbraco.library.GetDictionaryItem("USN New Window Title Tag")">linkedin</a></li>
                }
                @if (navigation.GoogleLink.HasValue())
                {
                    <li class="google_plus"><a href="@navigation.GoogleLink" class="symbol" target="_blank" title="@umbraco.library.GetDictionaryItem("USN New Window Title Tag")">googleplus</a></li>
                }
                @if (navigation.PinterestLink.HasValue())
                {
                    <li class="pinterest"><a href="@navigation.PinterestLink" class="symbol" target="_blank" title="@umbraco.library.GetDictionaryItem("USN New Window Title Tag")">pinterest</a></li>
                }
                @if (navigation.InstagramLink.HasValue())
                {
                    <li class="instagram"><a href="@navigation.InstagramLink" class="symbol" target="_blank" title="@umbraco.library.GetDictionaryItem("USN New Window Title Tag")">instagram</a></li>
                }
                @if (navigation.FlickrLink.HasValue())
                {
                    <li class="flickr"><a href="@navigation.FlickrLink.HasValue()" class="symbol" target="_blank" title="@umbraco.library.GetDictionaryItem("USN New Window Title Tag")">flickr</a></li>
                }
                @if (navigation.TumblrLink.HasValue())
                {
                    <li class="tumblr"><a href="@navigation.TumblrLink" class="symbol" target="_blank" title="@umbraco.library.GetDictionaryItem("USN New Window Title Tag")">tumblr</a></li>
                }
                @if (navigation.VimeoLink.HasValue())
                {
                    <li class="vimeo"><a href="@navigation.VimeoLink" class="symbol" target="_blank" title="@umbraco.library.GetDictionaryItem("USN New Window Title Tag")">vimeo</a></li>
                }
                @if (navigation.YouTubeLink.HasValue())
                {
                    <li class="youtube"><a href="@navigation.YouTubeLink" class="symbol" target="_blank" title="@umbraco.library.GetDictionaryItem("USN New Window Title Tag")">youtube</a></li>
                }
                @if (navigation.BehanceLink.HasValue())
                {
                    <li class="behance"><a href="@navigation.BehanceLink" class="symbol" target="_blank" title="@umbraco.library.GetDictionaryItem("USN New Window Title Tag")">behance</a></li>
                }
                @if (navigation.SoundCloudLink.HasValue())
                {
                    <li class="soundcloud"><a href="@navigation.SoundCloudLink" class="symbol" target="_blank" title="@umbraco.library.GetDictionaryItem("USN New Window Title Tag")">soundcloud</a></li>
                }
                @if (navigation.RssFeedLink != null)
                {
                    <li class="rss"><a href="@navigation.RssFeedLink.Url" class="symbol" target="_blank" title="@umbraco.library.GetDictionaryItem("USN New Window Title Tag")">rss</a></li>
                }
            </ul>
        </nav>
    }
}

@helper SubPages(IEnumerable<IPublishedContent> pages)
{
    <ul>
        @foreach (var node in pages)
        {
            string selected = Array.IndexOf(Model.Content.Path.Split(','), node.Id.ToString()) >= 0 ? " class=\"active\"" : "";

            var subPages = node.Children.Where(x => (x.IsDocumentType(UsnstandardPage.ModelTypeAlias) || x.IsDocumentType(UsnadvancedPage.ModelTypeAlias) || x.IsDocumentType(UsnblogLandingPage.ModelTypeAlias) || x.IsDocumentType(UsnloginPage.ModelTypeAlias) || x.IsDocumentType(UsnsearchResultsPage.ModelTypeAlias) || x.IsDocumentType(UsnblogCategoryPage.ModelTypeAlias)) && x.IsVisible());

            string subPageClass = String.Empty;

            IList<IPublishedContent> publishedContents = subPages as IList<IPublishedContent> ?? subPages.ToList();
            if (publishedContents.Any())
            {
                subPageClass = " class=\"has-child\"";
            }

            <li @Html.Raw(subPageClass)>
                <span @Html.Raw(selected)>
                    <a href="@node.Url()">
                        @if (node.HasValue("subNavigationLinkText"))
                        {
                            @(node.GetPropertyValue<string>("subNavigationLinkText"));
                        }
                        else
                        {
                            @node.Name
                        }
                    </a>
                    @if (subPageClass != String.Empty)
                    {
                        <i class="ion-chevron-down hidden-lg hidden-md hidden-sm"></i><i class="ion-chevron-right hidden-xs"></i>
                    }
                </span>
                @if (publishedContents.Any())
                {
                    @SubPages(publishedContents)
                }
            </li>
        }
    </ul>
}