﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.USNModels.USNBaseViewModel>


@{	
    if (Model.Content.HasProperty("hideSubNavigation") && !Model.Content.GetPropertyValue<bool>("hideSubNavigation"))
	{
		var parent = Model.Content.AncestorOrSelf(2);

        var pages = parent.Children.Where(x => (x.IsDocumentType(UsnstandardPage.ModelTypeAlias) || x.IsDocumentType(UsnadvancedPage.ModelTypeAlias)) && x.IsVisible());

        if (pages.Any())
		{
		
		<!-- SUB -->
		<nav class="sub has-borders c6-borders">
			<p class="heading inner">
				<a href="@parent.Url()">
				    @(parent.HasValue("subNavigationLinkText") ? parent.GetPropertyValue<string>("subNavigationLinkText") : parent.Name)
				</a>
			</p>
            <div class="inner">
                @Traverse(parent)
            </div>
		</nav>
		<!--// SUB -->		
	    }
    }
}
	
@helper Traverse(IPublishedContent parent)
{
    if (parent.Children.Any(x => (x.IsDocumentType(UsnstandardPage.ModelTypeAlias) || x.IsDocumentType(UsnadvancedPage.ModelTypeAlias)) && x.IsVisible()))
    { 
        <ul>
            @foreach (var node in parent.Children.Where(x => (x.IsDocumentType(UsnstandardPage.ModelTypeAlias) || x.IsDocumentType(UsnadvancedPage.ModelTypeAlias)) && x.IsVisible()))
            {
                if (node != null)
                {
                    string selected = Array.IndexOf(Model.Content.Path.Split(','), node.Id.ToString()) >= 0 ? " class=\"active\"" : "";

                    <li @Html.Raw(selected)>
                        <a href="@node.Url()">
                            @if (node.HasValue("subNavigationLinkText"))
                            {
                                @(node.GetPropertyValue<string>("subNavigationLinkText"))
                            }
                            else
                            {
                                @node.Name
                            }
                        </a>
                        @if (selected != String.Empty)
                        {
                            @Traverse(node)
                        }
                    </li>
                }
            }
        </ul>
    }
}   
  
