﻿@using CasaSoftUmbracoUSkinnedTemplate.Controllers
@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared._ForgotPasswordFormModel>





@using (Html.BeginUmbracoForm<ForgotPasswordFormController>("HandleForgotPasswordFormSubmit"))
{
    @*@Html.Action("GetAntiForgeryToken", "MasterSurface", true)*@
    <div class="forgot-password-form-container">
        <div class="forgot-password-form">

            

            <p class="form-title-details">@Html.Raw(@Model.Message)</p>
            <p class="required">@Model.Required</p>
            <div class="form-group">
                @Html.LabelFor(model => model.InsertedEmail, new {@class = "label-required"})
                @Html.TextBoxFor(model => model.InsertedEmail, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.InsertedEmail, "")
            </div>

            <button type="submit" class="btn">@Model.ButtonFormText</button>

        </div>
    </div>

}