﻿@inherits UmbracoViewPage<Usn_Swp_GeneralPod>

@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNModels;

@{
    USNLink podLink = USNUrlHelper.GetLinkFromRelatedLinks(Model.PodLink);
    
    IHtmlString podText = Model.PodText;

    <div class="item general-pod has-borders c6-borders">
        <div class="inner">

        @if (Model.PodSecondaryHeading.HasValue())
        {
            <p class="secondary-heading c1-text">@Model.PodSecondaryHeading</p>
        }
        @if (Model.PodHeading.HasValue())
        {
            <p class="heading">
                @if (podLink != null)
                {
                    @:<a class="c3-text" href="@podLink.LinkURL" @Html.Raw(podLink.LinkTitle) @Html.Raw(podLink.LinkTarget)>
                }
                @Html.Raw(Model.PodHeading)
                @if (podLink != null)
                {
                    @:</a>
                }
            </p>
        }

        @if (podText.HasValue() || podLink != null)
        {
            @:<div class="info">
        }

        @if (podText.HasValue())
        {
            <div class="text">@Html.Raw(podText)</div>
        }

        @if (podLink != null)
        {
            <p class="link"><a href="@podLink.LinkURL" @Html.Raw(podLink.LinkTitle) @Html.Raw(podLink.LinkTarget) class="btn c1-bg c5-text">@podLink.LinkCaption@Html.Raw(podLink.LinkIcon)</a></p>
        }
            <ul class="contact-us-info-container">
                @if (Model.PodAddress.HasValue())
                {
                    <li class="footer-address"><div class="footer-address-container">@Model.PodAddress</div></li>
                }
                @if (Model.PodLocationMapUrl.HasValue())
                {
                    <li class="footer-location"><a href="@Model.PodLocationMapUrl">View on map</a></li>
                }
                @if (Model.PodTelephone.HasValue())
                {
                    <li class="footer-phone">@Model.PodTelephone</li>
                }
                @if (Model.PodEmail.HasValue())
                {
                    <li class="footer-mail"><a href="mailto:@Model.PodEmail">@Model.PodEmail</a></li>
                }
            </ul>
        @if (podText.HasValue() || podLink != null)
        {
            @:</div>
        }
        </div>
    </div>
    
}