﻿<html lang="en">

<body style="background:#e3e3e3;">
    <table cellspacing="0" border="0" align="center" cellpadding="0" width="100%" style="padding:10px;max-width:600px; margin:0 auto;">
        <tr>
            <td style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; background:#ffffff; padding: 40px; font-size: 15px; color: #555555;" colspan="2">
                <p style="font-size:24px; font-weight:bold; color:#181818;">Form Submission</p>

                <p>The following information has been submitted via the <strong><% WebsiteName %></strong> website <strong><% WebsitePage %></strong> page:</p>

                <p><strong>Full name:</strong>
                    <% formFullName %>
                </p>

                
                <p><strong>Email:</strong>
                    <% formEmail %>
                </p>

                <p><strong>Telephone:</strong>
                    <% formPhone %>
                </p>

                <p><strong>Message:</strong></p>
                <p>
                    <% formMessage %>
                </p>
            </td>
        </tr>
    </table>
</body>

</html>