﻿<div ng-controller="OrderStatus">
    <select ng-model="property.value">
        <option ng-selected="item.Value == property.value"
                ng-repeat="item in orderStatusList"
                value="{{item.Value}}">
            {{item.Text}}
        </option>
    </select>
</div>