﻿
@inherits UmbracoViewPage<CSTemplate.Code.Models.USNModels.USNBaseViewModel>

@using USNStarterKit.USNHelpers;

@{
    UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

    if (globalSettings.CompanyName.HasValue() || globalSettings.Address.HasValue() ||
        globalSettings.TelephoneNumber.HasValue() || globalSettings.EmailAddress.HasValue())
    {
<div class="contactus-information">


    <h4 class="heading">@Model.ContactUsInformation.Title</h4>
    <p>@Model.ContactUsInformation.ExplanationText</p>
    @if (globalSettings.Address.HasValue())
    {
        <address class="footer-address">
            @Html.Raw(globalSettings.Address)
        </address>
    }
    @if (globalSettings.LocationUrl.HasValue())
    {
        <p class="footer-location"> <a href="@globalSettings.LocationUrl">View on map</a></p>
    }
    @if (globalSettings.TelephoneNumber.HasValue())
    {
        <p class="footer-phone">@*@umbraco.library.GetDictionaryItem("USN Contact Telephone")*@ @Html.Raw(globalSettings.TelephoneNumber)</p>
    }
    @if (globalSettings.EmailAddress.HasValue())
    {
        <p class="footer-mail">@*@umbraco.library.GetDictionaryItem("USN Contact Email")*@ <a href="mailto:@globalSettings.EmailAddress">@globalSettings.EmailAddress</a></p>
    }



</div>
    }
}