﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared._ContactUsForm>

<div class="contactus-form-container">
    <div class="contactus-form">
        <div class="text-container">
            <h4 class="heading">@Model.TitleForm</h4>
            <p>@Model.TextForm</p>
            <p class="required">@Model.Required</p>
        </div>
        
        
        <div class="form-group">
            <label class="label-required" for="FullName">@umbraco.library.GetDictionaryItem("USN Form Full Name Label")</label>
            @Html.TextBoxFor(x => Model.FullName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => Model.FullName, umbraco.library.GetDictionaryItem("USN Form Full Name Validation"))

        </div>
        <div class="form-group ">
            <label for="Email" class="control-label label-required">
                @umbraco.library.GetDictionaryItem("USN Form Email Address Label")
            </label>
            @Html.TextBoxFor(x => Model.Email, new { autocapitalize = "off", @class = "form-control" })
            @Html.ValidationMessageFor(x => Model.Email, umbraco.library.GetDictionaryItem("USN Form Email Address Validation"))
        </div>
        <div class="form-group">
            <label for="Telephone" class="control-label label-required">
                @umbraco.library.GetDictionaryItem("USN Form Telephone Label")
            </label>
            @Html.TextBoxFor(x => Model.Telephone, new { @type = "tel", @class = "form-control" })
            @Html.ValidationMessageFor(x => Model.Telephone, umbraco.library.GetDictionaryItem("USN Form Telephone Validation"))
        </div>
        <div class="form-group">
            <label for="Subject" class="control-label label-required">
                @umbraco.library.GetDictionaryItem("USN Form Subject Label")
            </label>
            @Html.EnumDropDownListFor(model => model.SubjectSelectListItems, new { @class = "form-control", id = "subject" })
                    
        </div>
        
        <div class="form-group">
            <label for="Message" class="control-label label-required">
                @umbraco.library.GetDictionaryItem("USN Form Message Label")
            </label>
            @Html.TextAreaFor(model => Model.Message, new { rows = 6, @class = "form-control" })
        </div>
        <button class="btn contactus-btn-form"><span>@Model.ButtonText</span></button>
    </div>
</div>
