﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared._AllListingPrizesModel>

<section class="list-prizes-section">
    <div class="container-fluid container-fluid-constraint">
        <div class="section-title-container">
            <h2 class="section-title">@Model.SectionTitle</h2>
            <p class="section-text">@Model.SectionText</p>
        </div>
        <div class="list-prizes-container row">
            @foreach (var prize in @Model.ListOfPrizes)
            {

                @Html.Partial("AllListingPrizes/_PrizeItem", prize)
            }
        </div>
        
        @if(!String.IsNullOrEmpty(Model.ButtonURL))
        {
            <p class="link text-center">
                <a class="btn" href="@Model.ButtonURL" target="@Model.ButtonTarget">@Model.ButtonText</a>
            </p>
        }



    </div>

</section>
