﻿@using CS.Common.Helpers
@using CSTemplate.Code.Constants
@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared._PrizeItemModel>

<div class="prize-item-container col-xs-12 col-sm-12 col-md-4 col-lg-4">

        <div class="prize-item-img">
            @Html.Raw(Html.CreateImage(Model.PrizeItemImgURL, new int[] {600}))
       

        </div>
        <div class="prize-item-text-container">
            <hr>
            <h3 class="prize-title-container">@Model.PrizeItemTitle</h3>
            <p class="prize-text">@Model.PrizeItemText</p>
        </div>

 

</div>
