﻿@using CS.Common.Helpers
@using CSTemplate.Code.Constants
@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared._JuryMemberModel>

<div class="judge-card-container col-xs-12 col-sm-6 col-md-6 col-lg-3">
    <div class="judge-info-box">
        <div class="judge-image-container">
            @Html.Raw(Html.CreateImage(Model.JudgeImgURL, new int[] {600}, 600))

        </div>
        <div class="judge-text-container">
            <span class="judge-name">@Model.JudgeName</span>
            <div class="judge-underline"></div>
            <span class="judge-position">@Model.JudgePosition</span>

        </div>



    </div>
    <a data-toggle="modal" data-target=".jury-modal-@Model.JuryID" class="jury-information-modal jury-link-to-modal"></a>

        
    
</div>





