﻿@using CS.Common.Helpers
@using CSTemplate.Code.Constants
@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared._JuryMemberModel>


<div class="modal fade bs-example-modal-sm jury-modal-@Model.JuryID" tabindex="-1" role="dialog" aria-labelledby="juryPopUp">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            

            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

          
            <div class="judge-card-container">
                <div class="judge-info-box">
             
                        <div class="">       
                            <div class="judge-image-container">
                                @Html.Raw(Html.CreateImage(Model.JudgeImgURL, new int[] {600}, 600))
                            </div>
                        </div>
                        <div class="">
                            <div class="judge-text-container">
                                <span class="judge-name">@Model.JudgeName</span>
                                <div class="judge-underline"></div>
                                <span class="judge-position">@Model.JudgePosition</span>
                                <div class="judge-description-container">
                                    <span>@Html.Raw(@Model.JudgeDescription)</span>
                                </div>
                            </div>
                        </div>
                    

                </div>


            </div>



        </div>
    </div>
</div>






