﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared.JuryMember._ListingJuryMembersModel>

<section class="list-jury-section">
    <div class="section-title-container">
        <h2 class="section-title">@Model.SectionTitle</h2>
        @*<p class="section-text">@Model.SectionText</p>*@

        <div class="container-fluid">
            <div class="list-jury-container row">
                @foreach (var judge in @Model.ListofJudges)
                {
                    @Html.Partial("ListingJury/_JuryMember", judge)

                    @Html.Partial("ListingJury/_JuryMemberPopUp", judge)

                }

            </div>

        </div>

    </div>


</section>
