﻿@using CSTemplate.Code.Constants
@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared.RequestFeedbackForSubmissionForm._RequestFeedbackForSubmissionFormModel>

@if(Model.PendingForFeedbackPayment || !Model.HasBeenSubmittedForFeedback)
{
    <div class="request-feedback">
        <h4 class="heading title">@Model.RequestFeedbackTitleText</h4>

        <div class="text base-text">
            <p>@Model.RequestPhotoFeedbackDescription</p>
        </div>
        @Html.HiddenFor(m => m.SubmissionID)
    

        @if(Model.PendingForFeedbackPayment)
        {
            <a class="btn" target="_top" href="@ConstantValues.SingleOrderUrlToRequestForFeedbackButton/order-@Model.SubmissionFeedbackRequestOrderId">@Model.RequestFeedbackButtonText</a>
        }
        else if(!Model.HasBeenSubmittedForFeedback)
        {
            <button class="btn">@Model.RequestFeedbackButtonText</button>
        }


    </div>
}





