﻿
@inherits UmbracoViewPage<CSTemplate.Code.Models.ChangePasswordForm._ChangePasswordFormModel>

<p class="form-title-details">@Model.Message</p>
<span class="required">@Model.RequiredWordText</span>

<div class="form-group inline-textbox">
    <div class="input-field">
        @Html.LabelFor(model => model.CurrentPassword, new { @class = "label-required" })
        @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control", id = "password", aria_labelledby = "" })

    </div>
    @Html.ValidationMessageFor(model => model.CurrentPassword, "")
</div>

<div class="form-group inline-textbox">
    <div class="input-field">
        @Html.LabelFor(model => model.InsertedNewPassword, new { @class = "label-required" })
        @Html.PasswordFor(model => model.InsertedNewPassword, new { @class = "form-control", id = "password", aria_labelledby = "" })

    </div>
    @Html.ValidationMessageFor(model => model.InsertedNewPassword, "")
</div>

<div class="form-group">
    <div class="input-field">
        @Html.LabelFor(model => model.InsertedConfirmNewPassword, new { @class = "label-required" })
        @Html.PasswordFor(model => model.InsertedConfirmNewPassword, new { @class = "form-control", id = "confirmPassword", aria_labelledby = "" })

    </div>
    @Html.ValidationMessageFor(model => model.InsertedConfirmNewPassword, "")
</div>


<button type="submit" class="btn">@Model.ButtonFormText</button>


