﻿@using CS.Common.Helpers
@using CSTemplate.Code.Constants
@using Enums = CS.Common.Constants.Enums
@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared._OrderPhotosModel>



<div class="order-photo">
    <div class="storytelling-container">
        <div class="order-storytelling-information">
            
                <span class="photo-date">@Model.OrderPhotoDate.ToString("dd MMM yyyy")</span>
                <span class="photo-location">@Model.OrderPhotoLocation</span>
                
                    @{
                        switch (@Model.OrderPhotosType)
                        {
                            case Enums.OrderPhotosSubmitType.FeedbackOnly:
                                <span class="order-photos-type">Feedback Request</span>
                                break;
                            case Enums.OrderPhotosSubmitType.SubmissionWithFeedback:
                                <span class="order-photos-type">Submission and Feedback Request</span>
                                break;
                            default:
                                <span class="order-photos-type">Submission</span>
                                break;
                        }

                    }
             
        
        </div>

        <div class="order-storytelling-container ">
            @{
                foreach (var photoUrl in Model.ListOfPhotosUrls)
                {
                    <div class="storytelling-photo-container ">
                        @Html.Raw(Html.CreateImage(photoUrl, new int[] { ConstantValues.GeneralImageSizeSmall, ConstantValues.GeneralImageSizeMedium }))
                    </div>
                }
            }
        </div>
        <div class="order-storytelling-description-container">
            <p>@Model.OrderPhotogDescription</p>
        </div>
    </div>
    <div class="order-storytelling-price">
        <span class="storytelling-price"><span>€</span> @Model.OrderPhotoPrice </span>
    </div>
</div>