/* 	
--------------------------------------------------
uSkinned.net - Source theme 7.0
GLOBAL
-------------------------------------------------- 
*/


/* 	
--------------------------------------------------
TABLE OF CONTENTS
-------------------------------------------------- 

1.0 COLOURS
2.0 SIZES	
3.0 IMPORTS	
	
*/


/* 	
--------------------------------------------------
1.0 COLOURS
-------------------------------------------------- 
*/


/* THEME PALETTE */
// //custom 
// $white: #fff;
// $black: #151515;
// $lightBlue: #2F7DFF;
// $darkBlue: #152D51;
// $orange: #FF8000;
// $extraDarkGray: #272727;
// $lightGray:#929292;
// $darkGray: #646464;
// $background-section: #f3f3f3;
// $superLightBlue: #639EFF;

$c1:#FF0000;
$c2:#cccccc;
$c3:#5F5F5F;
$c4:#f3f3f3;
$c5:#ffffff;
$c6:#e3e3e3;


$lightGray-color: #F7F7F7;


// //custom
// $c1:$orange;
// $c2:$lightBlue;
// $c3:$darkBlue;
// $c4:$black;
// $c5:$white;
// $c6:$background-section;

/* BASE PALETTE */

$true-black:#000000;
$true-white:#ffffff;
$base-heading:$c3;
$base-text:#555555;
$base-borders:#e3e3e3;
$form-errors:#a94442;

// //custom
// $true-black:#000000;
// $true-white:#ffffff;
// $base-heading: $darkBlue;
// $base-text:$darkGray;
// $base-borders:#e3e3e3;
// $form-errors:#a94442;

/* 	
--------------------------------------------------
2.0 SIZES
-------------------------------------------------- 
*/


/* BASE */

$base-spacing:30px;
$base-half-spacing:15px;
$base-header-height:90px;
$base-header-height_sm:80px;
$base-header-height_lg: 135px;
$base-nav-main-height_sm:60px;
$base-nav-main-dropdown-width_sm:240px;
$base-nav-main-dropdown-width-wider_sm:480px;
$base-border-width:1px;
//custom
// $base-header-height_sm:125px;




/* APC */

$apc-spacing:15px;
$apc-spacing_sm:30px;
$apc-spacing_md:45px;
$apc-spacing_lg:60px;

/* ITEMS IN A ROW */

$items-1:100%;
$items-2:50%;
$items-3:33.3333333%;
$items-4:25%;

/* BANNERS */

$takeover-banner:calc(100vh - 90px);
$takeover-banner-ios:calc(100vh - 158px);
$takeover-banner_sm: calc(100vh - 160px);
$takeover-banner-ios_sm: calc(100vh - 186px);
$takeover-banner-ios-no-header: calc(100vh - 68px);
$takeover-banner-ios-no-header_sm: calc(100vh - 26px);

/* 	
--------------------------------------------------
3.0 IMPORTS
-------------------------------------------------- 
*/
//import our mixins - do not change the order
@import 'common/_flexbox-mixins.scss'; //mixins for flexbox
@import 'site/settings/_font-icons.scss';
@import 'common/_common-mixins.scss'; //CS common mixins

@import 'site/settings/_project-specific-mixins.scss';
@import 'site/settings/_project-general-settings.scss';

@import 'usn-modules/_usn-plugins.scss';
@import 'usn-modules/_usn-base.scss';
@import 'usn-modules/_usn-palette.scss';
@import 'usn-modules/_usn-layout.scss';

@import '_custom-styles.scss';




/*	
--------------------------------------------------
END
-------------------------------------------------- 
*/
