﻿
<div ng-controller="CategoryListController">
    <div data-ng-init="init()">
        <input type="hidden" ng-model="property.value" ng-selected="property.value" ng-bind="property.value"  />
        <select ng-model="property.value">
            <option ng-selected="item.Value == property.value"
                    ng-repeat="item in categories"
                    value="{{item.Value}}">
                {{item.Text}}
            </option>
        </select>
        <ul ng-model="property.value">
            <li ng-repeat="item in categoryList">
                {{item.Text}}
            </li>
        </ul>
    </div>
   
</div>