﻿@using CS.Common.Helpers
@using CSTemplate.Code.Constants
@using Enums = CS.Common.Constants.Enums
@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared._OrderPhotosModel>


    <div class="order-photo">
        <div class="order-photo-container">
            <div class="photo-container">
            @Html.Raw(Html.CreateImage(Model.ListOfPhotosUrls[0], new int[] {ConstantValues.GeneralImageSizeSmall, ConstantValues.GeneralImageSizeMedium}))
            </div>
        </div>
        <div class="order-photo-information">
            <p class="order-date-location-container">
                <span class="photo-date">@Model.OrderPhotoDate.ToString("dd MMM yyyy")</span>
                @*<span class="photo-location">@Model.OrderPhotoLocation</span>*@
                
                @{
                    switch (@Model.OrderPhotosType)
                    {
                        case Enums.OrderPhotosSubmitType.FeedbackOnly:
                            <span class="order-photos-type">Feedback Request</span>
                            break;
                        case Enums.OrderPhotosSubmitType.SubmissionWithFeedback:
                            <span class="order-photos-type">Submission and Feedback Request</span>
                            break;
                        default:
                            <span class="order-photos-type">Submission</span>
                            break;
                    }

                }
                
            </p>
            <p class="order-category">@Model.OrderCategory</p>
           
        </div>
        <div class="order-description-container"> <p>@Model.OrderPhotogDescription</p></div>
        @*<div class="order-price-description">
            <div class="description-container">
            @{
                switch (@Model.OrderPhotosType)
                {
                    case Enums.OrderPhotosSubmitType.FeedbackOnly:
                        <span class="order-feedback">@Model.FeedbackRequesPriceText</span>

                        break;
                    case Enums.OrderPhotosSubmitType.SubmissionWithFeedback:
                        <span class="order-submission">@Model.SubmissionPriceText</span>
                        <span class="order-feedback">@Model.FeedbackRequesPriceText</span>
                        
                        break;
                    default:

                        <span class="order-submission">@Model.SubmissionPriceText</span>
                        break;
                }

            }
            </div>
        </div>*@
        <div class="order-photo-price">
            <div class="prices-container">
            @*@{
                switch (@Model.OrderPhotosType)
                {
                    case Enums.OrderPhotosSubmitType.FeedbackOnly:
                        <span class="order-feedback-price"><span>€</span> @Model.OrderFeedbackPrice</span>
                       
                        break;
                    case Enums.OrderPhotosSubmitType.SubmissionWithFeedback:
                        <span class="photo-price"><span>€</span> @Model.OrderPhotoPrice</span>
                        <span class="order-feedback-price"><span>€</span> @Model.OrderFeedbackPrice</span>
                        break;
                    default:
                        
                        <span class="photo-price"><span>€</span> @Model.OrderPhotoPrice</span>
                        break;
                }

            }*@
                <span class="photo-price"><span>€</span> @Model.OrderPhotoPrice</span>
            </div>
        </div>
    </div>

