//Font icons as specified in Glyphter/fontello
$font-icon-font-family: "mipa";

//Update the font files to be according

@font-face {
    font-family: $font-icon-font-family;
    src: url('../dist/assets/fonts/fonts/mipa.eot');
    src: url('../dist/assets/fonts/fonts/mipa.eot') format('embedded-opentype'),
         url('../dist/assets/fonts/fonts/mipa.ttf') format('truetype'),
         url('../dist/assets/fonts/fonts/mipa.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

// If using font-icons, map icon names to font unicode characters
// See https://sites.google.com/a/casasoft.com.mt/casasoft-frontend/frontend/css/icon-fonts

$project-icons: (
    add:'\0041',
    cross:'\0042',
    back:'\0043',
    Valletta-Council:'\0044',
    car:'\0045',
    checked:'\0046',
    csv-file-format-extension:'\0047',
    down-arrow:'\0048',
    instagram-social-network-logo-of-photo-camera:'\0049',
    email-filled-closed-envelope:'\004b',
    expand:'\004c',
    facebook-logo:'\004d',
    fax:'\004e',
    grid-world:'\004f',
    medal:'\0050',
    left-arrow:'\0051',
    keyboard-right-arrow-button:'\0052',
    left-arrow-key:'\0053',
    pdf:'\0054',
    mark-as-favorite-star:'\0055',
    pdf-file-format-symbol:'\0056',
    pencil-edit-button:'\0057',
    phone-receiver:'\0058',
    pin:'\0059',
    play-button:'\005a',
    save:'\0061',
    search:'\0063',
    jury:'\0064',
    logout:'\0065',
    straight-line:'\0066',
    eye:'\0067',
    export:'\0068',
    down-arrow-key:'\0069',
    user:'\006a',
    home:'\006b',
    paper:'\006c',
    gear:'\006d',
    add-plus-button:'\006e',
    man-user:'\006f',
    report:'\0071',
    valentines-heart:'\0072',
    close:'\0073',
    survey:'\0074',
    directory-submission-symbol:'\0076',
    twitter-logo-silhouette:'\0077',
    picture:'\0078',
    black-envelope:'\0079',
    minus:'\007a',
    checkmark:'\0030',
    photography:'\0031',
    placeholder:'\0032',
    youtube:'\0033',
    multiple-users-silhouette:'\0034',
    shopping-cart:'\0035',
    placeholder map:'\0036',
    password:'\0037',
    calendar-with-spring-binder-and-date-blocks:'\0038',
    eye-close-up:'\0039',
    download:'\0022',
    close-button:'\0023',
    feedback:'\0024',
    google-plus-logo:'\0025',
    printer:'\0026',
);
