//Project general Settings

//Website specific mixins

@mixin breakpoint($point) {

  @if $point == xs {
    @media all and (max-width: 767px) { @content ; }
  }
   @else if $point == sm {
    @media all and (min-width: 768px) { @content ; }
 }
  @else if $point == md {
    @media all and (min-width: 992px)  { @content ; }
 }
 @else if $point == lg {
   @media all and (min-width: 1200px)  { @content ; }
 }
}

$font-size-palette: (
  xxs: 8px,
  xs: 12px,
  small: 15px,
  normal: 18px,
  large: 22px,
  xlarge: 30px,
  xxlarge: 40px
);


$spacing-palette: (
  xs: 5px,
  small: 10px,
  normal: 15px,
  large: 20px,
  xlarge: 30px,
  xxlarge: 50px
);



$spacing-xs: map-get($spacing-palette, xs);
$spacing-small: map-get($spacing-palette, small);
$spacing-normal: map-get($spacing-palette, normal);
$spacing-large: map-get($spacing-palette, large);
$spacing-xlarge: map-get($spacing-palette, xlarge);
$spacing-xxlarge: map-get($spacing-palette, xxlarge);


$font-size-xxlarge: map-get($font-size-palette, xxlarge);
$font-size-xlarge: map-get($font-size-palette, xlarge);
$font-size-large: map-get($font-size-palette, large);
$font-size-normal: map-get($font-size-palette, normal);
$font-size-small: map-get($font-size-palette, small);
$font-size-xxs: map-get($font-size-palette, xxs);
$font-size-xs: map-get($font-size-palette, xs);

// Border Sizes
$border-size-s: 1px;
$border-size-m: 2px;
$border-size-l: 4px;
$border-size-xl: 6px;

// Border Radius
$border-radius-none: 0px;
$border-radius-xs: 2px;
$border-radius-s: 5px;
$border-radius-menu: 20px;

// Icon Sizes
$icon-size-xs: 16px;
$icon-size-s: 20px;
$icon-size-m: 24px;
$icon-size-l: 32px;
$icon-size-xl: 48px;

$montserrat-font-family: "Montserrat";


@font-face {
  font-family: $montserrat-font-family;
  src: url('../dist/assets/fonts/Montserrat-Bold.ttf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: $montserrat-font-family;
  src: url('../dist/assets/fonts/Montserrat-Medium.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: $montserrat-font-family;
  src: url('../dist/assets/fonts/Montserrat-light.ttf');
  font-weight: lighter;
  font-style: normal;
}

$font-family-primary: $montserrat-font-family, sans-serif;