//Website specific variables, mixins and placeholders

$transition-usn: all 0.2s ease-in-out 0s;
$transition-usn-member-area-tile: all 0.01s ease-in-out 0s;
$container-fluid-constraint: 1400px;


$sidebar-color: #f7f7f7;
$sidebar-even-color: #ebebeb;

$feedback-area-height: 200px;

$judge-position-font-size: 20px;


$members-area-number-of-tiles-xs: 2;
$members-area-number-of-tiles-sm: 3;
$members-area-number-of-tiles-md: 4;
$members-area-number-of-tiles-lg: 6;

//placeholders
%background-settings {
    background-size: cover;
    background-repeat: no-repeat;
}

$search-popup-inputs-size: 45px;
//mixins
