﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.USNModels.USNBaseViewModel>

@{
    UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

    IPublishedContent searchResultsPage = globalSettings.SearchResultsPage;

    if (searchResultsPage != null)
    { 
           

        <li class="search-button">
            <span><a href="#" data-toggle="modal" data-target=".search-modal" class="search-modal-opener"><span class="search-text">Search </span><span class="fa fa-search"></span></a></span>
        </li>



           
        
        <div class="modal fade bs-example-modal-sm search-modal" tabindex="-1" role="dialog" aria-labelledby="searchModal">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
            

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

          
                    <div class="search-modal-text-container">
               
                        <h2>@umbraco.library.GetDictionaryItem("Search Popup - Search Text")</h2>
                
                        <div class="site-search">
                            <form role="search" action="@searchResultsPage.Url" method="get" name="searchForm">
                                <div class="form-group">
                                    <label class="control-label hidden" for="search_field">@umbraco.library.GetDictionaryItem("USN Search Form Placeholder")</label>
                                    <input type="text" class="form-control" id="search_field" name="search_field" placeholder="@umbraco.library.GetDictionaryItem("USN Search Form Placeholder")" value="@Request.QueryString["search_field"]">
                                </div>
                                <button type="submit" class="c1-bg c5-text"><i class="ion-ios-search-strong"></i></button>
                            </form>
                        </div>

                    </div>



                </div>
            </div>
        </div>



	@*<div class="site-search">
        <form role="search" action="@searchResultsPage.Url" method="get" name="searchForm">
            <div class="form-group">
                <label class="control-label hidden" for="search_field">@umbraco.library.GetDictionaryItem("USN Search Form Placeholder")</label>
                <input type="text" class="form-control" id="search_field" name="search_field" placeholder="@umbraco.library.GetDictionaryItem("USN Search Form Placeholder")" value="@Request.QueryString["search_field"]">
            </div>
            <button type="submit" class="c1-bg c5-text"><i class="ion-ios-search-strong"></i></button>
        </form>
	</div>*@
    }

}
