﻿@model CSTemplate.Code.Models.Shared.Loader._LoaderPageModel
<div id="preloader-background" class="loader-container">
    <span class="loadingText">
        @Model.LoaderTitle <hr />
        @Model.ExplanationText
    </span>
    <span class="percentageText" id="loaderPercentage"></span>
    <div class="loader">

    </div>
</div>
