﻿
@using CSTemplate.Code.Helpers
@model CSTemplate.Code.Models.EditorTemplates.


@if (!@Model.isAStortyTelling)
{
    <div class="form-group">
        @Html.LabelFor(x => Model.CategorySelectListItems, new { @class = "label-required" })
        @Html.EnumDropDownListFor(x => Model.CategorySelectListItems, new { @class = "form-control photo-category", id = "PhotoCategory_1" })
    </div>


    <div class="file-field input-field form-group">

        @Html.LabelFor(x => Model.SubmitPhoto, new { @class = "label-required" })
        @Html.TextBoxFor(x => Model.SubmitPhoto, new { type = "file", @class = "form-control photo-file", id = "PhotoFile_1" })
        @Html.ValidationMessageFor(x => Model.SubmitPhoto)

    </div>
}
@if (@Model.isAStortyTelling)
{
    <div class="form-group">
        @Html.LabelFor(x => Model.SubmitPhoto, new { @class = "label-required" })
        @Html.TextBoxFor(x => Model.SubmitPhoto, new { type = "file", @class = "form-control photo-file", id = "PhotoFile_1" })
        @Html.ValidationMessageFor(x => Model.SubmitPhoto)

    </div>
}
<div class="form-group">
    @Html.LabelFor(x => Model.PhotoDate, new { @class = "label-required" })
    @Html.TextBoxFor(x => Model.PhotoDate, new { @class = "form-control timepicker", id = "PhotoDate_1" })
    @Html.ValidationMessageFor(x => Model.Location, "")


</div>

<div class="form-group">
    @Html.LabelFor(x => Model.Location, new { @class = "label-required" })
    @Html.TextBoxFor(x => Model.Location, new { @class = "form-control photo-location", id = "PhotoLocation_1" })
    @Html.ValidationMessageFor(x => Model.Location, "")


</div>
@if (!@Model.isAStortyTelling)
{
    <div class="form-group">
        @Html.LabelFor(x => Model.DescriptionPhoto, new { @class = "label-required" })
        @Html.TextAreaFor(x => Model.DescriptionPhoto, new { @class = "form-control photo-description", id = "PhotoDescription_1", rows = 5, maxlength = 150 })
        @Html.ValidationMessageFor(x => Model.DescriptionPhoto, "")


    </div>
}
@if (@Model.isAStortyTelling)
{
    <div class="form-group">
        @Html.LabelFor(x => Model.DescriptionStoryTelling, new { @class = "label-required" })
        @Html.TextAreaFor(x => Model.DescriptionStoryTelling, new { @class = "form-control photo-description", id = "PhotoDescription_1", rows = 5, maxlength = 250 })
        @Html.ValidationMessageFor(x => Model.DescriptionStoryTelling, "")

    </div>
}