﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.USNModels.USNBaseViewModel>

@{	
    UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;
    
    Image faviconAndTouchIcon = (Image)globalSettings.FaviconAndTouchIcons;

    if (faviconAndTouchIcon != null)
    {
        <link rel="shortcut icon" href="@faviconAndTouchIcon.Url?width=32&height=32" type="image/@faviconAndTouchIcon.UmbracoExtension">
        <link rel="apple-touch-icon" sizes="57x57" href="@faviconAndTouchIcon.Url?width=57&height=57">
        <link rel="apple-touch-icon" sizes="60x60" href="@faviconAndTouchIcon.Url?width=60&height=60">
        <link rel="apple-touch-icon" sizes="72x72" href="@faviconAndTouchIcon.Url?width=72&height=72">
        <link rel="apple-touch-icon" sizes="76x76" href="@faviconAndTouchIcon.Url?width=76&height=76">
        <link rel="apple-touch-icon" sizes="114x114" href="@faviconAndTouchIcon.Url?width=114&height=114">
        <link rel="apple-touch-icon" sizes="120x120" href="@faviconAndTouchIcon.Url?width=120&height=120">
        <link rel="apple-touch-icon" sizes="144x144" href="@faviconAndTouchIcon.Url?width=144&height=144">
        <link rel="apple-touch-icon" sizes="152x152" href="@faviconAndTouchIcon.Url?width=152&height=152">
        <link rel="apple-touch-icon" sizes="180x180" href="@faviconAndTouchIcon.Url?width=180&height=180">
        <link rel="icon" type="image/png" href="@faviconAndTouchIcon.Url?width=16&height=16" sizes="16x16">
        <link rel="icon" type="image/png" href="@faviconAndTouchIcon.Url?width=32&height=32" sizes="32x32">
        <link rel="icon" type="image/png" href="@faviconAndTouchIcon.Url?width=96&height=96" sizes="96x96">
        <link rel="icon" type="image/png" href="@faviconAndTouchIcon.Url?width=192&height=192" sizes="192x192">
        <meta name="msapplication-square70x70logo" content="@faviconAndTouchIcon.Url?width=70&height=70" />
        <meta name="msapplication-square150x150logo" content="@faviconAndTouchIcon.Url?width=150&height=150" />
        <meta name="msapplication-wide310x150logo" content="@faviconAndTouchIcon.Url?width=310&height=150" />
        <meta name="msapplication-square310x310logo" content="@faviconAndTouchIcon.Url?width=310&height=310" />
    }
}