﻿@inherits UmbracoViewPage<USN.USNModels.USNLoginFormViewModel>

@using (Html.BeginUmbracoForm("HandleLoginSubmit", "USNLoginFormSurface"))
{    
    if (TempData["LoginFailure"] != null)
    { 
        <div class="alert alert-danger alert-dismissible fade in">
            <div class="info">
                <p>@TempData["LoginFailure"]</p>
            </div>
        </div>
    }

    @Html.AntiForgeryToken()
    <div class="login-panel">
        <div class="section-title">
            <h4 class="login-title"> @*@umbraco.library.GetDictionaryItems("USN Form Title Login")*@LOGIN</h4>

        </div>
        <div class="login-text">@*@umbraco.library.GetDictionaryItems("USN Form Text Login")*@
            <p>Existing users can login from the below</p>
        </div>
        <div class="login-form">
            <fieldset class="login-inputs-container">

                <div class="form-group">
                    <label for="Username" class="control-label label-required">
                        @umbraco.library.GetDictionaryItem("USN Form Username Label") 
                    </label>
                    @Html.TextBoxFor(x => Model.Username, new { autocapitalize = "off", @class = "form-control" })
                    @Html.ValidationMessageFor(x => Model.Username, umbraco.library.GetDictionaryItem("USN Form Username Validation"))
                </div>

                <div class="form-group">
                    <label for="Password" class="control-label label-required">
                        @umbraco.library.GetDictionaryItem("USN Form Password Label") 
                    </label>
                    @Html.PasswordFor(x => Model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => Model.Password, umbraco.library.GetDictionaryItem("USN Form Password Validation"))
                </div>
                @Html.HiddenFor(x => Model.ReturnUrl)
                <div class="forgot-password">
                    <a href="@Model.ForgotPasswordButtonUrl">@Model.ForgotPasswordButtonText</a>
                </div>
            </fieldset>
            <fieldset class="loginbtn-container">
                <button class="btn c1-bg c5-text" type="submit">
                    <span>@Model.LoginFormButtonText</span>
                </button>
            </fieldset>
        </div>
    </div>
}
