﻿@inherits UmbracoViewPage<USN.USNModels.USNRegisterFromViewModel>


<div class="register-panel">
    <div class="section-title">
        <h4 class="register-title">@Model.RegisterTitle</h4>

    </div>
    <div class="register-text">@*@umbraco.library.GetDictionaryItems("USN Form Text Register")*@
        <p>@Model.RegisterText</p>
    </div>
    <div class="registerbtn-container">

        <a href="@Model.RegisterUrl" class="btn-container">
            <span class="button-text">@Model.RegisterButtonText</span>
        </a>
    </div>

</div>