﻿<div ng-controller="MySubmissionStatuses">
    <div id="viewContentLoaded" data-ng-init="init()">
        <select ng-model="property.value">
            <option ng-selected="item.Value == propertyValue()"
                    ng-repeat="item in persons"
                    value="{{item.Value}}">
                {{item.Text}}
            </option>
        </select>
       
    </div>
</div>