﻿
<div ng-controller="MyGalleryCategory">
    <select ng-model="selected" ng-options='awardEdition.Value as awardEdition.Text for awardEdition in awardEditions' ng-change='myMethod()'>
        <option value="">-Select the award edition-</option>
    </select><br>

    <select ng-model="property.value" ng-options='x.Value as (x.Text) for x in galleryCategories'>
        <option value="">-Select the category-</option>
    </select><br>
</div>