﻿
@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared._ListingFeaturedPhotosModel>


@*<section class="list-featured-photos-section">
        <div class="section-title-container">
            <h2 class="section-title">@Model.SectionTitle</h2>

            <div class="list-featured-photos-container">
                @foreach (var photo in @Model.ListOfPhotos)
                {
                    @Html.Partial("ItemPhoto/_ItemPhoto", photo)
                }

            </div>
            <a href="#" class="featured-photos-button"> <span>@Model.SummitedPhotosButtontext </span></a>
        </div>

    </section>*@



<section class="listing-items-as-masonry-section">
    <div class="section-title-container">
        <h2 class="section-title">@Model.SectionTitle</h2>
    </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="container-fluid container-fluid-padding">
                    @*<div class="text base-text showing-result">
                            <p>@Model.Pagination.ShowingResultsOfPagesText</p>
                        </div>*@
                    <div class="masonry-grid">
                        <div class="grid-sizer"></div>

                        @foreach (var photo in Model.ListOfPhotos)
                        {
                            <div class="masonry-grid-item">
                                @Html.Partial("ItemPhoto/_ItemPhoto", photo)
                            </div>

                        }

                    </div>
                </div>
            </div>

        </div>


        @*@if (Model.Pagination.Pages != null && Model.Pagination.Pages.Any())
            {

                @Html.Partial(MVC.Shared.Views.Common._Pager, @Model.Pagination)


            }*@


</section>




