﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared._SubmitPhotoItemModel>
<div id="SubmitPhoto_1" class="submit-photo-form">
    <p class="title">@Model.TitleForm <span class="photo-number"></span></p>
    <p class="required">@Model.Required</p>
    
   

    @if (!@Model.isAStortyTelling)
    {
        <div class="form-group">
            @Html.LabelFor(x => Model.PhotoTitle, new { @class = "label-required" })
            @Html.TextBoxFor(x => Model.PhotoTitle, new { @class = "form-control photo-title", id = "PhotoTitle_1" })
            @Html.ValidationMessageFor(x => Model.PhotoTitle, "")
        </div>
        <div class="form-group">
            @Html.LabelFor(x => Model.CategorySelected, new { @class = "label-required" })
            @Html.DropDownListFor(x => Model.CategorySelected, new SelectList(Model.CategorySelectListItems, "Value", "Text"), new { @class = "form-control photo-category", id = "PhotoCategory_1" })
        </div>
        
       
        <div class="file-field input-field form-group">
           
                @Html.LabelFor(x => Model.SubmitPhoto, new { @class = "label-required custom-file-label" })
            
                @Html.TextBoxFor(x => Model.SubmitPhoto, new { type = "file", @class = "form-control photo-file custom-file-input", id = "PhotoFile_1" })
                @Html.ValidationMessageFor(x => Model.SubmitPhoto)
            
           
            

        </div>
    }
    @if (@Model.isAStortyTelling)
    {
        <div class="form-group">
            @Html.LabelFor(x => Model.StoryTellingTitle, new { @class = "label-required" })
            @Html.TextBoxFor(x => Model.StoryTellingTitle, new { @class = "form-control photo-title", id = "PhotoTitle_1" })
            @Html.ValidationMessageFor(x => Model.StoryTellingTitle, "")
        </div>

        <div class="form-group">
            
            @Html.LabelFor(x => Model.SubmitPhoto, new {@class = "label-required"})
            @Html.TextBoxFor(x => Model.SubmitPhoto, new {type = "file", @class = "form-control photo-file", id = "PhotoFile_1", multiple = "multiple"})
            @Html.ValidationMessageFor(x => Model.SubmitPhoto)

        </div>
    }
    <div class="form-group">
        @Html.LabelFor(x => Model.PhotoDate, new { @class = "label-required" })
        @Html.TextBoxFor(x => Model.PhotoDate, new { @class = "form-control timepicker", id = "PhotoDate_1", type = "date" })
        @Html.ValidationMessageFor(x => Model.Location, "")


    </div>

    <div class="form-group">
        @Html.LabelFor(x => Model.Location, new { @class = "label-required" })
        @Html.TextBoxFor(x => Model.Location, new { @class = "form-control photo-location", id = "PhotoLocation_1" })
        @Html.ValidationMessageFor(x => Model.Location, "")


    </div>
    @if (!@Model.isAStortyTelling)
    {
        <div class="form-group">
            @Html.LabelFor(x => Model.DescriptionPhoto, new { @class = "label-required" })
            @Html.TextAreaFor(x => Model.DescriptionPhoto, new { @class = "form-control photo-description", id = "PhotoDescription_1", rows = 5, maxlength = 150 })
            @Html.ValidationMessageFor(x => Model.DescriptionPhoto, "")


        </div>
    }
    @if (@Model.isAStortyTelling)
    {
        <div class="form-group">
            @Html.LabelFor(x => Model.DescriptionStoryTelling, new { @class = "label-required" })
            @Html.TextAreaFor(x => Model.DescriptionStoryTelling, new { @class = "form-control photo-description", id = "PhotoDescription_1", rows = 5, maxlength = 250 })
            @Html.ValidationMessageFor(x => Model.DescriptionStoryTelling, "")

        </div>
    }
        <div class="form-group">
            @Html.LabelFor(x => Model.FeedBackRequest, new { @class = "label-required" })
            @Html.RadioButtonFor(x => Model.FeedBackRequest, true, new { id = "FeedBackRequest_true_1" , @class = " photo-feedback_true submit-radiobutton" })
            @Html.Label("FeedBackRequest-true", "Yes", new { @class = "label-radiobutton"})
            @Html.RadioButtonFor(x => Model.FeedBackRequest, false, new { id = "FeedBackRequest_false_1",  @class = "photo-feedback_false submit-radiobutton" })
            @Html.Label("FeedBackRequest-false", "No", new { @class = "label-radiobutton"})
            @Html.ValidationMessageFor(x => Model.FeedBackRequest, "")

        </div>
    @Html.HiddenFor(x => Model.isAStortyTelling)
</div>

