﻿<div ng-controller="USN.Options.prevaluesController">
    <select ng-model="model.value">
        <option value="isLayouts">Layouts</option>
        <option value="isItemsPerRow2_4">Items per row 2 - 4</option>
        <option value="isItemsPerRow1_4">Items per row 1 - 4</option>
        <option value="isTextAlignment">Text alignment</option>
        <option value="isBannerSize">Banner size</option>
        <option value="isPageLayout">Page layout</option>
        <option value="isListingStyle">Listing style</option>
        <option value="isTextPosition">Text position</option>
        <option value="isComponentWidth">Component width</option>
        <option value="isRepeatableLayout">Repeatable layout</option>
        <option value="isWindowsOrder">Windows order</option>
        <option value="isSplitComponent">Split component</option>
        <option value="isNewsletter">Newsletter</option>
        <option value="isSitemapChangeFrequency">Sitemap change frequency</option>
    </select>
</div>
