﻿@inherits UmbracoViewPage<Usn_Sc_FeaturedBlogPosts_AN>

@using USNStarterKit.USNModels;
@using USNStarterKit.USNHelpers;
@using USN.USNTemplate;

@using USNOptions = USNStarterKit.USNEnums.Options;

@{
    string anchorId = String.Empty;
    string customComponentClasses = String.Empty;

    USNTemplateStyleSettings settings;
    string animateClass = String.Empty;

    if (Model.Animate)
    {
        animateClass = "os-animation";
    }

    string pageType = ViewData["pageType"] != null ? ViewData["pageType"].ToString() : "standard";

    if (pageType == "standard")
    {
        settings = USNViewTemplateHelper.GetDefaultTemplateStyleSettings();
    }
    else
    {
        settings = USNViewTemplateHelper.GetTemplateStyleSettings(Model.BackgroundColor, Model.ButtonColor);
    }

    @* Add div for column width on Advanced Pages *@
    if (pageType == "advanced")
    {
        if (Model.Width == USNOptions.ComponentWidth_Center)
        {
                @:<div class="container"><div class="row"><div class="mid-col col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            }
        else if (Model.Width == USNOptions.ComponentWidth_Full)
        {
                @:<div class="container-fluid"><div class="row"><div class="wide-col col-xs-12">
            }
        else
        {
                @:<div class="container"><div class="row"><div class="wide-col col-xs-12">
            }

    }
    else
    {
        anchorId = "id=\"pos_" + Model.Id + "\" ";
        customComponentClasses = Model.CustomComponentClasses;
    }

    <div class="spc featured-blogs @animateClass @Model.CustomComponentClasses" data-os-animation="fadeIn" data-os-animation-delay="0s" @Html.Raw(anchorId)>
                       
        @Html.Partial("USNMiscPageElements/USN_ComponentIntro", @Model as IUsn_Cmp_IntroOutro, new ViewDataDictionary { { "animateClass", animateClass }, { "headingStyle", settings.HeadingStyle }, { "secondaryHeadingStyle", settings.SecondaryHeadingStyle }, { "textStyle", settings.TextStyle }, { "buttonStyle", settings.ButtonStyle } })

        <!-- LISTING -->
        <div class="listing blog">

        @{
            IEnumerable<IPublishedContent> featuredPosts = null;

            if (Model.Posts.HasValue())
            {
                featuredPosts = Model.Posts;
            }

            if (featuredPosts != null)
            {
                decimal autoRotateSpeed = 0;
                string slickAttributes = Model.EnableCarousel ? "data-slick='{{{0}{1}{2}{3}}}'" : "";
                string autoRotateAttribute = String.Empty;
                string slidesToShowAttribute = String.Empty;
                string dotsAttribute = Model.ShowDots ? "\"dots\": true " : "\"dots\": false ";
                string arrowsAttribute = Model.ShowArrows ? "\"arrows\": true " : "\"arrows\": false ";

                if (Model.EnableCarousel && Model.AutoRotateSpeed.HasValue())
                {
                    autoRotateSpeed = Model.AutoRotateSpeed;
                    if (autoRotateSpeed > 0)
                    {
                        autoRotateSpeed = autoRotateSpeed * 1000;
                        autoRotateAttribute = "\"autoplay\": true, \"autoplaySpeed\": " + Convert.ToInt32(autoRotateSpeed);
                    }
                }

                string itemsPerRow = String.Empty;
                string slidesToShow = String.Empty;

                switch (Model.ItemsPerRow)
                {
                    case USNOptions.ItemsPerRow_1:
                        if (Model.EnableCarousel)
                        {
                            slidesToShowAttribute = "\"slidesToShow\": 1";
                        }
                        else
                        {
                            itemsPerRow = "items-1 col-xs-12";
                        }
                        break;
                    case USNOptions.ItemsPerRow_2:
                        if (Model.EnableCarousel)
                        {
                            slidesToShowAttribute = "\"slidesToShow\": 2, \"responsive\": [{\"breakpoint\": 480,\"settings\": {\"slidesToShow\": 1}}]";
                        }
                        else
                        {
                            itemsPerRow = "items-2 col-xs-12";
                        }
                        break;
                    case USNOptions.ItemsPerRow_3:
                        if (Model.EnableCarousel)
                        {
                            slidesToShowAttribute = "\"slidesToShow\": 3, \"responsive\": [{\"breakpoint\": 768,\"settings\": {\"slidesToShow\": 2}},{\"breakpoint\": 480,\"settings\": {\"slidesToShow\": 1}}]";
                        }
                        else
                        {
                            itemsPerRow = "items-3 col-xs-12";
                        }
                        break;
                    case USNOptions.ItemsPerRow_4:
                        if (Model.EnableCarousel)
                        {
                            slidesToShowAttribute = "\"slidesToShow\": 4, \"responsive\": [{\"breakpoint\": 992,\"settings\": {\"slidesToShow\": 3}},{\"breakpoint\": 768,\"settings\": {\"slidesToShow\": 2}},{\"breakpoint\": 480,\"settings\": {\"slidesToShow\": 1}}]";
                        }
                        else
                        {
                            itemsPerRow = "items-4 col-xs-12";
                        }
                        break;
                    default:
                        if (Model.EnableCarousel)
                        {
                            slidesToShowAttribute = "\"slidesToShow\": 1";
                        }
                        else
                        {
                            itemsPerRow = "items-1 col-xs-12";
                        }
                        break;
                }

                //Add commas
                dotsAttribute = autoRotateAttribute != String.Empty ? dotsAttribute = "," + dotsAttribute : dotsAttribute;
                arrowsAttribute = autoRotateAttribute != String.Empty || dotsAttribute != String.Empty ? "," + arrowsAttribute : arrowsAttribute;
                slidesToShowAttribute = autoRotateAttribute != String.Empty || dotsAttribute != String.Empty || arrowsAttribute != String.Empty ? "," + slidesToShowAttribute : slidesToShowAttribute;

                slickAttributes = Model.EnableCarousel ? String.Format(slickAttributes, autoRotateAttribute, dotsAttribute, arrowsAttribute, slidesToShowAttribute) : String.Empty;

                if (Model.EnableCarousel)
                {
                    @:<div class="row slides" @Html.Raw(slickAttributes)>
                }
                else
                {
                    @:<div class="row">
                }

                foreach (var post in featuredPosts)
                {
                    <!-- ITEM -->
                    <div class="item @itemsPerRow">
                        <a href="@post.Url">
                            @{

                                string postName = post.HasValue("onPageTitle") ? post.GetPropertyValue<string>("onPageTitle") : post.Name;

                                if (post.GetPropertyValue<Image>("pageListingImage") != null)
                                {
                                    <div class="image"><img class="lazyload" src="@(post.GetPropertyValue<Image>("pageListingImage").GetCropUrl(cropAlias: "400x300", width: 4, height: 3))" data-src="@(post.GetPropertyValue<Image>("pageListingImage").GetCropUrl(cropAlias: "400x300"))" alt="@(post.GetPropertyValue<string>("pageListingImageAltText"))"></div>
                                }

                            }
                            <p class="heading @settings.HeadingStyle">
                                @postName
                            </p>
                        </a>

                        @Html.Partial("USNBlog/USN_BlogMeta", post, new ViewDataDictionary { { "textStyle", settings.TextStyle } })
                    </div>
                    <!--// ITEM -->
                }

                @:</div>
            }
        }

        </div>
        <!--// LISTING -->

        @Html.Partial("USNMiscPageElements/USN_ComponentOutro", @Model as IUsn_Cmp_IntroOutro, new ViewDataDictionary { { "animateClass", animateClass }, { "headingStyle", settings.HeadingStyle }, { "secondaryHeadingStyle", settings.SecondaryHeadingStyle }, { "textStyle", settings.TextStyle }, { "buttonStyle", settings.ButtonStyle } })

    </div>

    @* Close div for column width on Advanced Pages *@
    if (!Model.Parent.Parent.IsDocumentType(UsnstandardPage.ModelTypeAlias) && !Model.Parent.Parent.IsDocumentType(UsnstandardPageBlogPost.ModelTypeAlias))
    {
        @:</div></div></div>
    }

}
