﻿
@model CS.Common.Models.Paging.PagerModel


@*Pager*@
@if (Model.Pages.Count() > 1)
{

    <nav id="pagination" class="text-center">
        <ul class="pagination">
            @foreach (var pagerItem in Model.Pages)
            {
                <li class="@pagerItem.CssClassName"><a class="@pagerItem.CssClassName" href="@pagerItem.Url" title="@pagerItem.Title">@pagerItem.Text</a></li>
            }
        </ul>
    </nav>
}