﻿@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared._SubmitStoryTellingFormModel>

@using (Html.BeginForm("SubmitStoryTellingForm", "SubmitStoryTellingFormSurface", FormMethod.Post, new { enctype = "multipart/form-data", @class = "submit-storytelling-form" }))
{

    <div class="submit-photos-container">
        <div class="submit-photos-form-container">
            
        @Html.Partial("SubmitPhotoForm/_SubmitPhotoItem", Model.SubmitPhotoItem, new ViewDataDictionary()
            {
                TemplateInfo = new TemplateInfo()
                {
                    HtmlFieldPrefix = "SubmitPhotoItem"
                }
            })
        </div>
        <div class="form-group checkbox-container">
            <label class="label-required checkbox-label" for="TermsConditions">
                @Html.HiddenFor(m => Model.True)
                @Html.CheckBoxFor(x => Model.TermsConditions, new { @class = "checkbox-input" })
                <span class="checkmark"></span>
                @Html.Raw(Model.TermsAndConditionsText)

            </label>
            @Html.ValidationMessageFor(x => Model.TermsConditions, "")

        </div>
        <button type="submit" class="btn">@Model.ButtonFormText</button>
    </div>
}