﻿@using CasaSoftUmbracoUSkinnedTemplate.Controllers

@inherits UmbracoViewPage<CSTemplate.Code.Models.Shared._ResetPasswordFormModel>

<p class="form-title-details">@Model.Message</p>
<span class="required">@Model.RequiredWordText</span>

<div class="form-group ">
    <div class="input-field">
        @Html.LabelFor(model => model.EmailAddress, new { @class = "label-required" })
        @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", id = "Email-address", aria_labelledby = "" })

    </div>
    @Html.ValidationMessageFor(model => model.EmailAddress, "")
</div>

<div class="form-group inline-textbox">
        <div class="input-field">
            @Html.LabelFor(model => model.InsertedPassword, new { @class = "label-required" })
            @Html.PasswordFor(model => model.InsertedPassword, new { @class = "form-control", id = "password", aria_labelledby = "" })

        </div>
        @Html.ValidationMessageFor(model => model.InsertedPassword, "")
    </div>

    <div class="form-group">
        <div class="input-field">
            @Html.LabelFor(model => model.InsertedConfirmPassword, new { @class = "label-required" })
            @Html.PasswordFor(model => model.InsertedConfirmPassword, new { @class = "form-control", id = "confirmPassword", aria_labelledby = "" })

        </div>
        @Html.ValidationMessageFor(model => model.InsertedConfirmPassword, "")
    </div>
@Html.HiddenFor(model => model.MemberRequestGuid)
<button type="submit" class="btn">@Model.ButtonFormText</button>


